[2014-11-18 14:13] typekpb opened #1 "website error - LoggingLevel"
not sure where to report website issues, but, there seems to be error in the [website example](http://www.tinylog.org/):

[code]

I guess it should be:

[code]

[2014-11-18 14:20] typekpb opened #2 "jars in source tree"
well, sounds like a project from pre-maven ages

[2014-11-27 15:25] #1 closed, assigned to nobody

[2014-11-27 15:35] #2 closed, assigned to nobody

[2014-12-19 17:36] buondoi opened #4 "tinylog version is not complied with osgi's version."
I tested with felix 4.4.1 and the error.
Caused by: java.lang.NumberFormatException: For input string: "rc1"
        at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
        at java.lang.Integer.parseInt(Integer.java:580)
        at java.lang.Integer.parseInt(Integer.java:615)
        at org.osgi.framework.Version.parseInt(Version.java:168)

does tinylog ready for a

[2014-12-19 19:48] #4 closed, assigned to pmwmedia

[2015-06-09 11:57] agilesteel opened #5 "Logger placeholder in the format."
Hi,

I have a big project with logback and slf4j and as a first step of converting it to tinylog I didn't want to use the static logger. Using the sfl4j-facade you provided makes it seem like a drop in replacement. The only issue/question I have is when I'm specifying a custom format I need access to the placeholder variable for the "logger":

[code]

In case of the static logger I could just go f

[2015-06-09 12:14] pmwmedia commented on #5
Hi Vladyslav,

If I understand aright, you need the fully-qualified logger class to make sure which logger has created the log entry?

[2015-06-09 12:15] agilesteel commented on #5
Yep :)

[2015-06-23 09:36] degill opened #6 "Make it possible to define into which file a log entry should go, allowing multiple files at the same time"
I have a setup where I have two types of logging information. Something like system monitoring and something like session/user monitoring. And I want to log both but seperate the information into two log files.

Is this possible with tiynlog? I looked at RollingFileWriter but that seems to be useful in the case of multiple consecutive and not multiple parallel files.

[2015-06-24 13:09] pmwmedia commented on #6
For tinylog 1.1 are planned includes and excludes patterns for logging writers (-> http://www.tinylog.org/roadmap). It will be possible to define packages and class names. Will it help you?

[2015-06-24 14:28] degill commented on #6
I think it could help me, depending on the implementation. If the filtering is defined at package/class level than it would not help me. I have classes emitting different types of log messages (status, result, errors, etc.) so I want to redirect those messages into different files depending on the logmessage itself, not by which class it was emitted.

Right now I worked around it and implemented m

[2015-06-24 15:06] pmwmedia commented on #6
You parse the log message for your condition? I think about a small filter framework for writers. So you have just to implement a filter interface.

    public interface Filter {

        boolean accept(LogEntry logEntry);

    }

Would it helpful for you? I could imagine such a feature for tinylog 2.0. But it depends a bit on the demand.

[2015-06-24 15:09] degill commented on #6
Yes, that was actually my initial idea. But I can imagine that would be a performance loss.

[2015-06-24 15:09] pmwmedia commented on #6
I'm open for better ideas :-)

[2015-06-24 15:13] degill commented on #6
I did not want to say that it was a bad idea :) I just think one should then be careful when using such a filter..Its depending on the usecase, I guess

[2015-06-24 15:19] degill commented on #6
I prefered it that way because then the log-emitter (the code executing Logger.*) does not have to think about any filtering.

Another solution could be to explicitly define some kind of a tag/label to a logmessage.

    new FileWriter(..., "system", "user:degill")

to define which FileWriter is responsible for which file and which tags.
Downside: Now the log-caller needs to decide where the log m

[2015-06-24 15:39] pmwmedia commented on #6
I like the idea of tags:

    Logger.tag("SYSTEM").info("Hello World");

[2015-07-31 18:40] h4ste opened #8 "Crash when filename contains non-existent directory"
If a file logger's filename contains a directory, creating the logger crashes if that directory does not exist.

For example:

tinylog.writer2 = rollingfile
tinylog.writer2.filename = logs/log.txt
tinylog.writer2.backups = 10

If I run this in a directory which does not yet contain a logs/ folder, the program crashes.

Given that the logfile itself is created at start-up, it seems reasonable that

[2015-07-31 21:08] pmwmedia commented on #8
Thanks for reporting! I can reproduce this bug for all file based writers. Will be fixed in the next release!

[2015-07-31 22:13] pmwmedia commented on #8
Preview of fixed version: http://www.tinylog.org/downloads/tinylog-1.0.1.zip

[2015-08-01 19:37] pmwmedia commented on #8
Fixed in tinylog 1.0.1

[2015-08-01 19:37] #8 closed

[2015-08-03 20:44] flashpixx opened #9 "NPE on -javaagent"
On running tinylog with the -javaagent flag a NPE is thrown on the line https://github.com/pmwmedia/tinylog/blob/master/tinylog/src/main/java/org/pmw/tinylog/Logger.java#L45
The init() call cannot be run outside the package

[2015-08-03 22:13] pmwmedia commented on #9
I tested it with tinylog 1.0.1 and jmockit as java agent. No NPE has been thrown. I use JDK 1.8.0_45. What version of tinylog and Java do you use? Maybe you can provide a small demo project?

[2015-08-04 13:33] flashpixx commented on #9
I have tested the code with the version 1.0.1 (prior 1.0), so 1.0.1 seems to be working fine. Sorry for the issue

[2015-08-04 13:33] #9 closed

[2015-08-13 20:53] h4ste opened #10 "Trim anonymous classes from classname"
I don't know how to tag this as a feature request and not a bug, but I was wondering if it would be possible to trim or remove the anonymous class portion from the classname written by the logger?

For example,

In tinylog.writer1.format I have:
tinylog.writer1.format = {date:hh:mm:ss.SSS} | {level} | {class}: {message}

In my source file, WikiParser I use extensive logging using some java 8 strea

[2015-08-14 07:51] pmwmedia commented on #10
comprehensible feature request, it is on the to-do list

[2015-09-19 22:36] thejeed commented on #6
Hi together, I'd like to add that I'm also just waiting for this particular feature to use tinylog in production. Also, I think that the idea of using tags is a nice solution.

[2015-09-29 18:34] mottati opened #12 "tinylog 1.0.1 not processing Java system properties correctly."
I noticed a problem in how tinylog processes Java system properties. When (the equivilant of) -Dtinylog.level=debug is passed in on the command line, it does not appear to be processed correctly. Here is a test that reproduces the problem.

[code]

Here is the gradle script that I used to compile and run the test.

[code]

Using the above here is the result of the test when logLevel info is passed

[2015-09-29 20:16] pmwmedia commented on #12
Thanks to your detailed description I could identify the bug easily. I have fixed the code in my commit ed52182e7b7955af5217b8ea05a498fdb2c2daca. Can you test it? http://www.tinylog.org/downloads/tinylog-1.0.2.zip. I will publish the official version 1.0.2 soon.

[2015-09-30 06:34] mottati commented on #12
Done. The test now passes.

I made the following change to the dependency section of my build file to test your change:

[code]

The result is shown below:

[code]

Thank you again for your astonishingly quick response. My co-workers were quite impressed with your rapid response.

[2015-10-02 21:50] pmwmedia commented on #12
Is fixed in tinylog 1.0.2

[2015-10-02 21:50] #12 closed

[2015-12-13 12:31] #10 closed

[2015-12-13 16:02] jotomo opened #16 "Test failures in SharedFileWriterTest on Linux systems"
Running _SharedFileWriterTest_ on Linux I get test failures as described here: https://github.com/jotomo/tinylog/commit/0b41014894d5986d163e266411d993abaa1ca9ee, indicating a problem when writing to a log file concurrently.
@pmwmedia I'm assuming you're running Windows. TravisCI would run the tests on Linux - I've seen you tested TravisCI but dropped it again. Remember why?

Updated: running a Lin

[2015-12-13 17:17] pmwmedia commented on #16
I dropped TravisCI, because I haven't any Linux machine for developing. Setting up a Linux machine and activating Travis CI is on the task list for tinylog 2. Because of the reported test failures, I will do it before releasing tinylog 1.1. I want to be sure that shared file writer will work.

[2015-12-14 21:37] pmwmedia commented on #16
All tests are running on my Ubuntu virtual machine as well as on Travis CI now. Can you confirm that the bug is fixed?

[2015-12-14 22:08] pmwmedia opened #18 "Run Checkstyle and FindBugs via Travis CI"
The existing Checkstyle and FindBugs checks should be applied in the Travis CI script out of the box to all projects but the parent project.

[2015-12-14 22:11] jotomo commented on #16
Testing the v1.1 branch, I got around 5 clean runs and then a failure (using _ant test_)
[code]
Running _mvn clean test_ against v2.0, about every third run fails one of these:
[code]
I'll try to figure out what's going in the next couple of days.

[2015-12-16 10:51] jotomo commented on #16
Failure in _WritingThreadTest.teshFlush:102:_ the test logs two entities via the first writer. It seems to me as if occassionally the thread manages to flush after each one of those, and thus flushing twice rather than just once. Which seems harmless. Changing the assert to accept >= 1 as a valid number of flushes seems fine to me.

Failures in _WeeklyPolicyTest_: all evolve around _System.current

[2015-12-16 22:34] pmwmedia commented on #16
*WritingThreadTest.teshFlush*: One **as well as** two flushes are acceptable for the first writer. Nevertheless I'm surprised that you get two flushes for the first writer reproducibly. This case should be happen very, very rarely.

*WeeklyPolicyTest*: In this case *Calendar* should be mocked in *AbstractTimeBasedPolicyTest*.

[2015-12-18 11:13] pmwmedia opened #20 "Support for Android"
Tasks:
* Implementing a writer for Logcat
* Using Android API for getting class for log entries
* Verifying if Android API is existing for getting method, filename and line, too
* Using Android API for getting process ID
* Everything else that you can imagine to make the life easier for Android developers

[2015-12-19 18:46] pmwmedia commented on #18
Fixed by commit bff8157

[2015-12-19 21:42] pmwmedia opened #21 "Log code coverage for unit tests by Codecov"
Tasks:
- Add Jacoco plugin
- Add Codecov to ".travis.yml" file

Manual: https://github.com/codecov/example-java

[2015-12-20 21:14] pmwmedia opened #22 "Commons Logging implementation for tinylog"
Tasks:
- Create a new child project, similar to slf4j-binding
- Implement ````LogFactory```` and ````Log```` interfaces of Commons Logging
- Test with Spring Framework

More information about Commons Logging :
https://commons.apache.org/proper/commons-logging/guide.html

Example from SLF4J:
https://github.com/qos-ch/slf4j/tree/master/jcl-over-slf4j

[2015-12-22 18:24] pmwmedia commented on #16
I have fixed ````WritingThreadTest```` in commit ff281c7b8dbc8e50e5734a1f2fca4d70275339e5. Failures in ````WeeklyPolicyTest````` are still not reproducible neither on my PC nor in my Linux VM.

@jotomo Which Linux distribution are you using? Do you use the Oracle JDK or OpenJDK? Which version do you have?

[2015-12-22 19:30] jotomo commented on #16
@pmwmedia I'm using Arch Linux with OpenJDK 1.8u66.
I can reproduce this error using VirtualBox to run Antergos[1] (Arch Linux-based distribution with GUI installer; pretty close to what I'm running) and running in a terminal:
[code]
The error seems to occur less often in a VM, but does so within 10 iterations. System specs are similar to yours (i7-4770, 16 GB RAM, SSD).
I've installed Antergos in

[2015-12-22 20:13] jotomo commented on #16
@pmwmedia ... though I wouldn't know why the issue should be specific to Arch, but should occur on e.g. Ubuntu/Debian too.
I'll let it run with the Oracle JDK, see if that has an impact.

[2015-12-22 22:00] jotomo commented on #16
@pmwmedia Nope, JDK doesn't seem to make a difference, Oracle JDK failed on build 1 and 11, so pretty much the same as with OpenJDK.
I let Travis run the build 10 times to see if that produces the error, but it didn't, instead it produced a new intermittent failure ... https://travis-ci.org/jotomo/tinylog/builds/98401781#L1960

[2015-12-23 10:48] pmwmedia commented on #22
Fixed in commit 02898fc21a3567017d7a76e3842785f037642ba8 and 13f5c376865d040e40074c960c17cb4db524103e

[2015-12-23 10:48] #22 closed

[2015-12-23 12:19] pmwmedia commented on #16
@jotomo Thanks for testing and providing specific information about your environment. I have increased the sleeping time to make the test more robust. A cleaner rewrite of these test without any fixed sleeping will follow after the release of tinylog 1.1. At http://koding.com, I could successfully execute:
[code]
I had hoped to be able to reproduce the failing of ````WeeklyPolicyTest```` there. Bu

[2015-12-23 14:16] jotomo commented on #16
@pmwmedia The Koding VM uses a _single_ CPU core. I have 2 cores assigned to my VM (along with 2 GB of RAM). If it's a threading issues this might have an impact on it. Note that VirtualBox by default assign a single core when creating a new VM (if you're running your VM on VirtualBox).

[2015-12-23 16:14] jotomo commented on #16
@pmwmedia I've set up a Ubuntu 14.0.4 VM. With a single core, I get 100 clean runs. With two cores 2 get a failure after 38 runs.

[2015-12-23 17:14] jotomo commented on #16
@pmwmedia Same with my Antergos VM: no failures with a single core, with failures happening when adding another core.

[2015-12-23 22:32] pmwmedia commented on #16
@jotomo That tests fail only with multiple cores is already a good hint. So it seems to be a concurrency problem with the mocks. I guess that the mocked times are not set in a thread-safe way.

[2015-12-27 22:15] pmwmedia commented on #16
@jotomo I have set up a Ubuntu 15.10 VM. With two cores, I got three times 100 clean runs. With four cores the same result. I tried even six times.

[2015-12-28 11:08] jotomo commented on #16
@pmwmedia Okay, so this is then a problem that only manifests itself if Linux is running natively, or the host system is Linux, assuming whatever Windows passes through to the VM behaves differently than running Linux natively. It's unlikely I'll get around to debug this further on my system, my experience with (debugging) threading is limited at the moment, so this would require quiet a bit of ti

[2016-01-09 01:23] jotomo opened #24 "Setting indent makes stacktraces harder to read"
Without having _indent_ set in the _formatting_ specs, a stacktrace logs like this:
[code]
Setting the _formatting_ to something like _...{message|indent=2}_ yields this output:

[code]
Note how the _cause_ exception header is indented by two spaces in the second example, as are all other lines. This removes the visual clue that allows to quickly jump between exceptions when reading through a stra

[2016-01-09 01:27] jotomo commented on #24
Intuitively, for printing stacktraces, I would have expected an indent of two to mean to add two spaces before each line, plus indents specific to the stacktrace, so that an exception header would be indented with two spaces and method/lines references with two or four additional spaces.

[2016-01-09 10:04] pmwmedia commented on #24
I agree with you. This can be implemented exactly as you have described for tinylog 1.1.

[2016-01-09 21:00] pmwmedia commented on #24
Fixed by commit 9a981e074aa175bb48a1bb54b4f75873c742d467

[2016-01-09 21:00] #24 closed

[2016-01-09 22:50] pmwmedia commented on #21
See commit 39df547406c2499e49458e12fc0ae827d4e9886c

[2016-01-09 22:50] #21 closed

[2016-01-18 05:32] vicApakau opened #25 "bug in 1.0 branch w/ sfl4j: fixed"
I was getting error getMDCA  not found in your StaticMDCBinder class.

- public NOPMDCAdapter getMDCA() {
+ public MDCAdapter getMDCA() {

and joy.
Still love your lib.
Cheers,
Vic

[2016-01-18 17:13] pmwmedia commented on #25
Fixed in c9f1f89cbf708d59e67095fe724fd2d2db5ddd88. Patch will be released soon.

[2016-01-18 19:28] pmwmedia commented on #25
I have just released tinylog 1.0.3, which includes the fix. In my example application, MDC is working in conjunction with SLF4J now. Can you test, too? Please let me know whether is working for you.

[2016-01-19 22:20] pmwmedia commented on #25
Issue creator has confirmed that the bug fix is working.

[2016-01-19 22:20] #25 closed

[2016-01-21 21:08] pmwmedia commented on #16
Today the bug appears also on my Windows machine. The problem is inlining by the JVM. This breaks mocking of native methods.
Source: https://virgo47.wordpress.com/2012/06/22/changing-system-time-in-java/

@jotomo Can you confirm that b28eb8487e47e206e5d95e866c2a7d9cedac4801 fixes also the bug on your machine?

[2016-01-22 21:14] jotomo commented on #16
@pmwmedia I'm having trouble getting the build to fail using a revision just before the inline commit. I can't reproduce it on a VM snapshot from December either, so this must stem from a code change. Checking the commits I noticed an occurrence of _System.currentTimeMillis_ has been removed here: https://github.com/pmwmedia/tinylog/commit/460ab3792b1fba763a503ee28aeeb5275f24e5f6#diff-beff1167fbfc

[2016-01-22 22:11] jotomo commented on #16
With inlining disabled I get 161 clean runs, whereas without inlining I get failures within 30 runs. So I'd call that fixed. The failure I got in the 162th run was:
[code]
This is unrelated to the inlining issue, I'd say, and should be a rare issue where at line 682 the sleep for 100ms isn't long enough. Upping that a bit should avoid that rare case too.
I've reset the branch to be up-to-date with

[2016-01-22 23:40] pmwmedia commented on #16
Thank you for testing :-) In general, fixed waiting times are not the best. I'm experimenting with other solutions. One of them will be part of the complete rewrite for tinylog 2.0.

[2016-01-22 23:40] #16 closed

[2016-02-15 10:55] Aur0r opened #27 "Unknown value type: "CONTEXT""
Hi tinylog-creators,
with the jdbc configuation below I get the following output:
LOGGER WARNING: Unknown value type: "CONTEXT"
LOGGER ERROR: Failed to activate configuration (java.sql.SQLException: Number of columns and values must be equal, but columns = 8 and values = 7)

JDBC config:
tinylog.writer = jdbc
tinylog.writer.url = jdbc:mysql://localhost:3306/&lt;db_name&gt;
tinylog.writer.table = l

[2016-02-15 18:06] pmwmedia commented on #27
Fixed by commit 7bbe3ab99ce917b804836cc7f0c7d8ef5a7bd877 and released as tinylog 1.1-rc2. Can you confirm that the fix works in your environment, too?

[2016-02-15 20:53] Aur0r commented on #27
Very nice! Thank you @pmwmedia! Yes it works for me as well :)

[2016-02-15 20:53] #27 closed

[2016-02-18 11:21] Aur0r opened #28 "Could it be that when the jdbc connection is lost the logger doesn't reconnect?"
Hi, as the subject already says I have a question about whether the jdbc connection is reestablished automatically after it gets disconnected?

I have experienced that I had to restart my server to get new log data from tinylog although the application has been in use by users in the meantime.

Best regards and thank you for your support

[2016-02-18 11:52] Aur0r commented on #28
For detecting such connection losses (if there are some - I am still wondering if that was the problem) you could maybe log that the connection has been lost, so that one as an admin could see that this happened. Another thing would be that an existing connection is provided to tinylog, that can then be managed by the application instead of tinylog having to do this.

[2016-02-18 21:35] pmwmedia commented on #28
I agree that it makes sense to reestablish broken JDBC connections. We can add this feature to tinylog 1.2 or 2.0. I propose to have a configurable interval between the tries to reestablish the connection.

[2016-02-24 15:34] Aur0r commented on #28
Configurable interval would be perfectly fine :) Thank you!

[2016-02-24 22:51] Aur0r commented on #28
I am wondering if JDBC's ?autoreconnect=true command at the end of the url also solves it for now. There are some error when activating the logger then (at least in my installation) but it logs anyway afterwards, so I will just give it a try for now.

[2016-03-15 20:48] pmwmedia commented on #28
I have committed it: 7279a07060001e4a90f4fdfd48ad670f07555653. Auto reconnecting has to be enabled by setting "tinylog.writer.reconnect = X". X is the minimum time span between two tries to reestablish a database connection. For example: "30" means that tinylog will wait at least 30 seconds between two tries to reconnect. Negative numbers disable auto reconnecting at all (default). "0" means that

[2016-03-18 00:59] Aur0r commented on #28
Thank you! I will try it out next week.

[2016-04-03 15:02] #28 closed

[2016-04-29 14:07] ghost opened #30 "jdbcwriter didn't work"
Hello,

I try to setup a jdbcwriter but I got following errors:

LOGGER ERROR: Failed to activate configuration (java.sql.SQLException: No suitable driver found for jdbc:mysql://10.211.55.5:3306/XXXXXX)

However the mysql driver is in project path (class path) as well as in server lib (Tomcat). My application can access the mysql database.

Any suggestion? Did I miss a configuration?

Thx

[2016-04-29 15:18] pmwmedia commented on #30
Can you try to add the line `Class.forName("com.mysql.jdbc.Driver").newInstance();` straight before configuring tinylog via the configurator class. Please exclude temporarily tinylog.properties for this test if existing.

For example:

[code]

Please let me know whether this works?

[2016-04-30 05:20] ghost commented on #30
I tried as you recommended. I got following error:

Loading class `com.mysql.jdbc.Driver'. This is deprecated. The new driver class is`com.mysql.cj.jdbc.Driver'. The driver is automatically registered via the SPI and manual loading of the driver class is generally unnecessary.

I  skipped the Class.forName("com.mysql.jdbc.Driver").newInstance(); but the same error still occur. So I think you inter

[2016-04-30 09:57] pmwmedia commented on #30
JdbcWriter just calls `DriverManager.getConnection(url)` (see: [JdbcWriter.java:319](https://github.com/pmwmedia/tinylog/blob/v1.1/tinylog/src/org/pmw/tinylog/writers/JdbcWriter.java#L319)). This is standard Java API and should work also on your environment. Actually JdbcWriter is used quite often together with MySQL. What happens if you call `DriverManager.getConnection(url)` directly?

You can p

[2016-04-30 20:39] ghost commented on #30
So, I could get it to work with Class.forName("com.mysql.jdbc.Driver").newInstance(); ahead the Configurator as you recommended. However with tinylog.properties I still have the problem that the driver could not be found. Maybe you have an idea about your implementation. So far I can go on with my project, however the properties is a better way for configuration.

HJLabrador

Kind Regards

Absende

[2016-05-01 11:14] pmwmedia commented on #30
I have set up a new tomcat installation from scratch. Now I'm able to reproduce the problem. Out of the box, tomcat can't load driver services. You have either to create an instance of the driver or to declare a data source. I plan to support data sources in tinylog 1.2. Help is welcome for the implementation :-)

For tinylog 1.1, I propose to load the driver via a `WebListener`:

[code]

The conf

[2016-05-01 11:24] pmwmedia opened #31 "Support JavaEE DataSources in JdbcWriter"
Data sources are an alternative way to declare JDBC database connection for Java EE. On the most web servers, the classic way of creating database connections via `DriverManager.getConnection()` works as well as via data sources. But tomcat, for example, doesn't support loading JDBC drivers as services out of the box. A clearcut solution would be to support data sources in JdbcWriter.

Data source

[2016-05-01 15:28] pmwmedia commented on #31
Done in commit 7fa8c1e60ac584b86a5893d44d9ec110cdd09d74

[2016-05-01 15:28] #31 closed, assigned to nobody

[2016-05-01 15:29] pmwmedia commented on #30
Fixed in tinylog 1.2 branch by supporting DataSources

[2016-05-01 15:29] #30 closed, assigned to nobody

[2016-07-27 20:09] yegeniy opened #32 "Ping"
Hi, no real specific issue here. I just stumbled on this tool from https://github.com/akullpp/awesome-java#logging

This tool seems really nice as of 1.1 (what with the excellent documentation, RollingFileWriter, and the SLF4J binding)!

I was just wondering whether there are still plans to continue maintenance of 1.x and 2.0 development?

Either way, this looks great!

[2016-07-28 09:00] pmwmedia commented on #32
Currently I'm developing tinylog 1.2 and plan to release it during this year. tinylog 1.2 will have full support of Android and Java EE data sources.

tinylog 2.0 is still in a very early concept phase. As for tinylog 1.0, there will be a very long beta phase of tinylog 2.0 to ensure a stable API. tinylog 1.x will be supported even after releasing tinylog 2.0 as the new version will require Java 1

[2016-07-28 09:00] #32 closed, assigned to nobody

[2016-07-29 16:13] yegeniy commented on #32
Thank you!

[2016-08-11 19:19] pmwmedia commented on #20
Done in tinylog 1.2 alpha 2

[2016-08-11 19:19] #20 closed

[2016-09-03 06:05] pmwmedia opened #33 "Code coverage is broken on codecov.io"
All six code coverage reports can be uploaded successfully:
https://travis-ci.org/pmwmedia/tinylog/builds/157230235#L3777

But codecov.io fails to process the code coverage reports:
https://codecov.io/gh/pmwmedia/tinylog/commit/35b60112231696d48a112e82587f44b1fef4b902

[2016-09-07 10:35] pmwmedia commented on #33
Fixed with commit d9ef9d21b02a98e957a29e3136898355465c7cd2

[2016-09-07 10:35] #33 closed, assigned to nobody

[2016-10-24 07:03] pabl0rg opened #35 "add tinylog to log4j2's benchmarks"
It would be great to compare tinylog's performance using log4j's own benchmarks

https://github.com/apache/logging-log4j2/tree/master/log4j-perf/src/main/java/org/apache/logging/log4j/perf/jmh

[2016-10-24 16:50] pmwmedia commented on #35
It's definitely a good idea! But it needs the permission of a log4j collaborator.

[2016-10-24 17:06] mstramm opened #36 "Choice-Syntax for Log-Entries"
Hi,
it would be great if you could support a choice-syntax similar to `{0,choice,0#Keinen|1#Einen|2#{0}}` from `MessageFormat.format(...)`.

For the new tinylog-syntax it could be a little bit simpler, like `{0#Keinen|1#Einen|2#{}}` :wink:
Best regards

[2016-10-24 17:16] pmwmedia opened #37 "Configurable number formatting"
`NumberFormat` like formatting like {#.##} for placeholder arguments in log entries

[2016-10-24 18:16] pabl0rg commented on #35
You could fork their repo, use it for benchmarks/blog post and also send a PR.

Hopefully, they'd accept it.

[2016-10-25 17:20] pmwmedia commented on #36
Implemented in 17cc6b7fe88fe086844e9957d56a453f7e8f78b6

[2016-10-25 17:20] #36 closed, assigned to nobody

[2016-10-25 17:21] pmwmedia commented on #37
Implemented in b83b9b943d303722f6177fd751df1e27ffd8619e

[2016-10-25 17:21] #37 closed, assigned to nobody

[2016-10-25 17:42] pmwmedia commented on #35
I have implemented benchmarks for tinylog: https://github.com/apache/logging-log4j2/pull/47

In opposite to tinylog's benchmarks, the format pattern is not configurable in log4j2's benchmarks. So you can benchmark only a static format pattern with category and class name respectively. Log4j is optimized for this use case. If you added method name or drop category / class name, the results would be

[2016-10-25 20:05] mstramm commented on #36
Wow, thanks for the quick implementation. This is a great, meaningful extension. I'm looking forward to version 1.2

[2016-11-10 19:00] pmwmedia commented on #35
Pull request: https://github.com/apache/logging-log4j2/pull/47

[2017-02-01 17:55] cspinetta opened #39 "NullPointerException when load tinylog with BootstrapClassLoader"
First of all, thank you very much for this useful log library! We are using it in [kamon-agent](https://github.com/kamon-io/kamon-agent).

For some integration tests we need to load `tinylog` with the `BootstrapClassLoader`, and this is when this problem manifests itself.

The problem happens when it tries to do things like this:

[code]

The calling `Configurator.class.getClassLoader()` returns n

[2017-02-02 08:19] pmwmedia commented on #39
Looks good! Your pull request is welcome :-) `Configurator.class.getClassLoader()` is used in three classes. I guess that there will be the same problem with `BootstrapClassLoader`. Could you provide a fix for all of them?

https://github.com/pmwmedia/tinylog/blob/138e104fa1955e966eb20dab11dfcade896a8137/tinylog/src/org/pmw/tinylog/Configurator.java#L118
https://github.com/pmwmedia/tinylog/blob/13

[2017-02-03 13:31] cspinetta commented on #39
@pmwmedia yes, of course. This weekend I'll be working on this.

[2017-02-04 08:52] #39 closed, assigned to nobody

[2017-02-04 08:52] pmwmedia commented on #6
Implemented in branch v2.0

[2017-02-04 08:52] #6 closed

[2017-02-04 08:57] pmwmedia commented on #5
The use case is understandable, but unfortunately too specific for a lightweight framework as tinylog is. Therefor it will be not part of tinylog 2.0.

[2017-02-04 08:57] #5 closed

[2017-03-05 12:24] pmwmedia opened #41 "Make output stream for console writer configurable"
Currently the console writer writes all log entries with severity levels trace, debug and info to the "standard" output stream (`System.out`). Log entries with severity levels warning and error are written to the "standard" error output stream (`System.err`).

The threshold for using the "standard" error output stream should be configurable. For example, if the threshold is trace, all log entries

[2017-03-05 12:29] pmwmedia opened #42 "JUL implementation for Tomcat and Glassfish"
Reimplementation of [bridge](https://github.com/pmwmedia/tinylog/tree/v1.2/tinylog-jul) to java.util.logging based application and web servers for tinylog 2.0:

- [x] Create project tinylog-jul
- [x] Implement [LoggingProvider](https://github.com/pmwmedia/tinylog/blob/v2.0/tinylog-api/src/main/java/org/tinylog/provider/LoggingProvider.java) and [ContextProvider](https://github.com/pmwmedia/tinylog

[2017-03-05 12:48] pmwmedia commented on #42
Reimplementation of [bridge](https://github.com/pmwmedia/tinylog/tree/v1.2/tinylog-jul) to java.util.logging based application and web servers for tinylog 2.0:

- [ ] Create project tinylog-jul-impl
- [ ] Implement [LoggingProvider](https://github.com/pmwmedia/tinylog/blob/v2.0/tinylog-api/src/main/java/org/tinylog/provider/LoggingProvider.java) and [ContextProvider](https://github.com/pmwmedia/ti

[2017-03-05 12:51] pmwmedia opened #43 "JBoss logging implementation for Wildfly and JBoss"
Reimplementation of [bridge](https://github.com/pmwmedia/tinylog/tree/v1.2/tinylog-jboss) to JBoss logging based application and web servers for tinylog 2.0:

- [x] Create project tinylog-jboss
- [x] Implement [LoggingProvider](https://github.com/pmwmedia/tinylog/blob/v2.0/tinylog-api/src/main/java/org/tinylog/provider/LoggingProvider.java) and [ContextProvider](https://github.com/pmwmedia/tinylog

[2017-03-05 13:00] pmwmedia opened #44 "Apache Commons Logging (JCL) binding"
Reimplementation of [Apache Commons Logging (JCL) binding](https://github.com/pmwmedia/tinylog/tree/v1.2/jcl-binding) for tinylog 2.0:

- [x] Create project jcl-tinylog
- [x] Implement [LogFactory](https://commons.apache.org/proper/commons-logging/apidocs/org/apache/commons/logging/LogFactory.html)
- [x] Write JUnit tests
- [x] Register log factory as service
- [x] Add readme text file

[2017-03-05 13:09] pmwmedia opened #45 "SLF4J binding"
Reimplementation of [SLF4J binding](https://github.com/pmwmedia/tinylog/tree/v1.2/slf4j-binding) for tinylog 2.0:

- [x] Create project slf4j-tinylog
- [x] Implement [ILoggerFactory](https://www.slf4j.org/api/org/slf4j/ILoggerFactory.html)
- [x] Logger should implement [LocationAwareLogger](https://www.slf4j.org/api/org/slf4j/spi/LocationAwareLogger.html)
- [x] Add and implement classes [StaticLog

[2017-03-05 13:24] pmwmedia opened #46 "Add Apache Log4j 1.x API"
Reimplementation of [Log4j 1.x API](https://github.com/pmwmedia/tinylog/tree/v1.2/log4j-facade) for tinylog 2.0:

- [x] Create project log4j1-api
- [x] Add and implement classes [Category](https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Category.html), [Logger](https://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Logger.html), [LogManager](https://logging.apache.org/log4j/1.

[2017-03-05 13:30] pmwmedia opened #47 "Benchmarks based on JMH"
Implement JMH benchmarks to compare tinylog 2.0 with other logging frameworks. Logging format pattern and stack trace depth should be configurable.

[2017-03-05 13:37] pmwmedia opened #48 "Shared file writer"
Reimplementation of [shared file writer](https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog/src/org/pmw/tinylog/writers/SharedFileWriter.java) for tinylog 2.0:

- [x] Implement all existing features
- [x] Support appending on all operating systems
- [x] Support buffering
- [x] Write JUnit tests
- [x] Register writer as service

[2017-03-05 13:44] pmwmedia opened #49 "Rolling file writer"
Reimplementation of [rolling file writer](https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog/src/org/pmw/tinylog/writers/RollingFileWriter.java) for tinylog 2.0:

- [x] Implement size policy
- [x] Implement start-up policy
- [x] Implement daily policy
- [x] Implement all existing features
- [x] Reslove patterns in file path (e.g. `writer.file = logs/{date:YYYY}/{pid}.log`)
- [x] Write JUnit tes

[2017-03-05 13:58] pmwmedia opened #50 "Add tinylog 1.x API"
Implementation of tinylog 1.x API for tinylog 2.0:

- [x] Create project tinylog1-api
- [x] Copy [Level](https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog-core/src/org/pmw/tinylog/Level.java)
- [x] Reimplement [Logger](https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog/src/org/pmw/tinylog/Logger.java) and [LoggingContext](https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog/src/org/pmw/tin

[2017-03-06 17:31] yegeniy commented on #45
Consider naming this dependency `slf4j-tinylog`, since people who will be relying on this dependency are likely to be familiar with SLF4J, which has more-or-less set up the convention of `slf4j-<logger>`:

Search for `binding` under https://mvnrepository.com/artifact/org.slf4j for some examples, such as `slf4j-log4j12`, `slf4j-simple`, `sl4j-nop`.

Log4j2 `log4j-slf4j-impl-2` and Logback `logback-

[2017-03-20 15:11] totszwai commented on #44
Desperately need this.

How do I use the log4j-facade so that the Apache common logging would use your tinylog instead?

Exception in thread "Thread-3" java.lang.NoSuchMethodError: org.apache.log4j.Logger.log(Ljava/lang/String;Lorg/apache/log4j/Priority;Ljava/lang/Object;Ljava/lang/Throwable;)V
	at org.apache.commons.logging.impl.Log4JLogger.debug(Log4JLogger.java:155)
	at org.apache.http.client.p

[2017-03-22 14:59] koppor opened #51 "Documentation for NoSuchMethodError: org.pmw.tinylog.Logger.output"
I have following dependencies in my `pom.xml`.

		<dependency>
			<groupId>org.tinylog</groupId>
			<artifactId>tinylog</artifactId>
			<version>1.2</version>
		</dependency>
		<dependency>

			<groupId>org.tinylog</groupId>
			<artifactId>tinylog-jul</artifactId>
			<version>1.2</version>
		</dependency>
		<dependency>
			<groupId>org.tinylog</groupId>
			<artifactId>slf4j-binding</artifactId>

[2017-03-24 09:50] pmwmedia commented on #51
`slf4j-binding` redirects log entries to tinylog's back end. But `tinylog-jul` doesn't have a real back end as it use Tomcat's logging system as back end. `tinylog-jul` contains the same logging API as the native artifact `tinylog`. You need only one of them.

- If you want to use tinylog's native back end (logging configuration via tinylog), you should remove `tinylog-jul`.
- If you want to use T

[2017-03-27 20:47] #51 closed, assigned to nobody

[2017-03-29 14:43] sumit784 opened #52 "[Need advice] - Using tinylog in android app"
Hi,
This is NOT an issue, but just an advice taking for using tinylog in my android app.
So, I want to use this in my android app and wanted to write the application logs here. It will be common  file created hourly. I want to keep it multithreaded.

## Here is what I think as the config :-

tinylog.writer = sharedfile
tinylog.writer.filename = mylog.txt
tinylog.writer.append = true
tinylog.writer

[2017-03-31 08:00] pmwmedia commented on #52
You need the rolling file writer (`tinylog.writer = rollingfile`). Only the rolling file writer supports starting new log files based on rules. It appends existing log files automatically, so you can remove the line `tinylog.writer.append = true`.

I haven used Amazon S3 bucket yet. Thus, I can't give any suggestions about Amazon S3 bucket itself. The most developers (including me) prefer to use a

[2017-04-01 04:57] sumit784 commented on #52
Thanks for responding.

Using RollingFile writer, will it support writing from multiple threads ?
The test case is, lets say there are 1000 users using our android app at the same time and we are logging their activities in our log file.
will Rollingfile supports writing all these 1000 user values, written to the same file ?

[2017-04-01 09:28] pmwmedia commented on #52
tinylog is completly thread-safe. All writes, including the rollging file writer, supports multiple threads. The shared file writer supports additionally that multiple applications can write to the same log file at the same time. But it doesn't support rolling.

[2017-04-01 16:14] sumit784 commented on #52
So by "multiple applications can write" , did you mean, several different application or "multiple instances" of an application ( like an android app with 10,000 downloads/ users)

I just want to make sure that Rolling Write will be best choice for android app, where data from 10,000 running apps is written to the same log file.

[2017-04-01 18:02] pmwmedia commented on #52
I mean both: several different applications and/or multiple instances of an application. However, usually you run only one instance of an app on a device!? Do you plan that thousands of apps log to a remote machine? In this case, you should think about a specialized logging server. Maybe a Graylog server with an external GELF writer for tinylog could be a solution.

[2017-04-03 18:38] #52 closed, assigned to nobody

[2017-05-29 18:09] totszwai opened #53 "Log level on apache package not working?"
I am getting too much verbosity out of the apache packages when I set the logging level to Level.DEBUG, I tried to disable the logging on the apache stuff, but doesn't seem to work?

        Configurator c = Configurator.currentConfig();
        c.level(Level.DEBUG); // set everything to debug by default
        // Trying to turn off other debug that I don't care
        //c.level("org.apache.http

[2017-05-29 20:38] pmwmedia commented on #53
Apache HttpComponents 4.x uses Commons Logging. Do you have made sure that tinylog's JCL binding is in the classpath and no other binding to another logging framework? Does Apache HttpComponents output any log entries, if you disable logging at all (```c.level(Level.OFF)```)?

[2017-06-04 20:16] #53 closed, assigned to nobody

[2017-06-07 20:37] totszwai opened #54 "Is it possible to define custom Level via Configurator?"
Looking at the existing source, I don't think that's possible.

I'm wondering if tinylog can support custom levels such as DEBUG1, DEBUG2, DEBUG3, DEBUG4, DEBUG5?

Right now when I use tinylog, I mostly use this:
[code]
But it would be nice to be able to control how much debugging to print out.

[2017-06-07 21:42] pmwmedia commented on #54
tinylog is a lightware logging framework. Custom logging levels are not supported.

[2017-06-07 21:42] #54 closed, assigned to nobody

[2017-08-03 12:10] nureyev opened #55 "Can not add Tinylog to Maven project because the dependency is a .zip on Maven Central"
It is not possible to add Tinylog 1.2 to a Maven-based project since Maven does not set dependencies to the classpath correctly when they are in .zip format.

Would it be possible to upload a .jar to Maven Central please?

Thanks for the project and your time.

[2017-08-03 12:54] nureyev commented on #55
Doing a manual install to the local repository works, but might not be the best solution.

_Update:_ The following workaround fetches the artifact from Maven Central and installs correctly:

Add the dependency to pom.xml but change `<type>zip</type>` to `<type>jar</type>`
[code]

[2017-08-06 12:35] pmwmedia commented on #55
Which IDE and Maven version are you using? I have tried to reproduce the problem with a clean and empty Maven repository. Maven 3.3.3 on Eclipse has automatically fetched and downloaded the tinylog JAR and no ZIP file.

My POM:

[code]

tinylog files downloaded by Maven:

[code]

Did you write `<type>zip</type>`  in your `pom.xml` before? In this case it would be correct that Maven has downloaded

[2017-08-06 12:54] nureyev commented on #55
Thanks for the reply.

NetBeans 8.2 (all plugins updated as of today)
Maven 3.5.0
    maven-dependency-plugin:2.6
    maven-resources-plugin:2.6
    maven-compiler-plugin:3.1

When you right-click on **Dependencies** in the **Project** window and click **Add Dependency...** to add in Tinylog, it is possible NetBeans is filling in an inappropriate `<type>`, which Eclipse does not do.

My workaround

[2017-08-06 13:43] pmwmedia commented on #55
Thank you! I will analyze the behavior of Netbeans. Maybe I'm going to remove the ZIP archive from Maven Central Repository.

[2017-08-07 10:19] pmwmedia commented on #55
I just tested it on my computer with Netbeans 8.2. Fresh download from: https://netbeans.org/downloads/start.html?platform=zip&lang=en&option=javase. ~~On my computer, Netbeans leaves the `type` empty and downloads the tinylog JAR.~~

**Update:** Netbeans uses ZIP type, if you use the search, but the default JAR type, if you use the autocomplete function in the form itself.

[2017-08-08 14:27] Hema-Chandra opened #56 "How to write specific logs to different files ?"
I am using tinylog for various features it has. My application needs a very fast asynchronous logging. I can able to log happily. I have only two issues.

1) All my error logs and the info, some debug logs are jumbled into a single file. How can I separate these, such that they come into a single file say "errors.log" and info strings come into another file say "messages.log"?

2) I want the times

[2017-08-08 16:11] pmwmedia commented on #56
1. All my error logs and the info, some debug logs are jumbled into a single file. How can I separate these, such that they come into a single file say "errors.log" and info strings come into another file say "messages.log"?

Currently that it is only partly possible. You can write all error log entries in a log file and all info log entries and higher to another one. But you cannot write info log

[2017-08-09 09:43] Hema-Chandra commented on #56
@pmwmedia  Thanks for the fast reply. Using three upper case S: logs entries in milli-seconds right? I wanted the time stamp in Micro-seconds. Is it possible to do so?

I didn't understand clearly what "But you cannot write info log entries without also writing warning nd error log entries to a log file." this means. Can you please elaborate more.

[2017-08-09 10:02] pmwmedia commented on #56
Sorry, I mixed **milli**seconds and **micro**seconds. Microseconds are currently not supported. If you like, you can describe the use case and create a feature request for tinylog 2.

You can define multiple writers and define for each another severity level. For example, a writer with the severity level INFO will output all log entries with the severity level INFO, WARNING and ERROR. A writer wit

[2017-08-10 04:10] Hema-Chandra commented on #56
Thank you sir. I wanted to make the micro-seconds logging as a feature. We work on stock-exchange market. As a result we will be having continuous changing of data every micro-seconds, so we need to log the data at that particular micros. Is there any way to do so? Or else you can suggest any other library that can log in Micro-seconds. But , I love tinylog. It's parallel thread logging helped me

[2017-08-11 01:45] benbve opened #57 "Log output to UTF-8"
Hi, I recently started using tinylog and it's great.

However, I noticed that it outputs log files to the character set default of the platform (i.e. on OSX it's UTF-8 and on Windows it's ANSI).

It would be good if one could specify the output character set or otherwise enforce UTF-8 across the board (which is actually what I'm after)

[2017-08-11 09:55] pmwmedia commented on #57
Enforcing charsets will be supported by tinylog 2.0 and is there already implemented. But tinylog 2.0 itself is still under development.

Example tinylog 2.0 configuration:
[code]

[2017-08-11 10:00] pmwmedia commented on #56
I don't know any other logging framework which is supporting microseconds logging. Currently I'm experimenting with implementing support for microseconds and nanoseconds. The solution has to be fast (good performance) and intuitive.

[2017-08-15 12:59] pmwmedia commented on #57
Implemented by commits 862ad32988bfc3879b88b1ed41d4138a4d868642 and 3ce6cae93705d4733d315969ffbdf85a4ae0d48b

[2017-08-15 12:59] #57 closed, assigned to nobody

[2017-09-25 19:08] pmwmedia commented on #56
I have just released the first release candidate of tinylog 1.3. Microseconds (SSSSSS) and nanoseconds (n, N) are supported now on Java 9. Both work only with Java 9 as previous versions of Java don't provide any API to receive the current date with micro- or nanoseconds.

@Hema-Chandra Feedback is welcome :)

[2017-09-25 19:08] #56 closed, assigned to nobody

[2017-09-25 19:49] pmwmedia commented on #55
Solved with release of tinylog 1.3 rc1.

[2017-09-25 19:49] #55 closed, assigned to pmwmedia

[2017-10-01 17:12] pmwmedia commented on #41
Implemented in commit f9a0ed8042ce762ba0f46090ea1c57affd5e927c. Finally it works a bit different than originally description. There is a new constructor for `ConsoleWriter` that accepts any kind of `PrintStream` (for example `System.err` or `System.out`). The passed stream will be used for all log levels. The default constructor still writes all log entries with severity levels trace, debug and in

[2017-10-01 17:14] #41 closed, assigned to nobody

[2017-10-02 11:00] SebAlbert opened #58 "Why does the JdbcWriter close and re-build prepared statements?"
What is the rationale behind closing the prepared statements and re-building them either after each log message or after each batch execution? Could this be a performance bottleneck?

[2017-10-02 11:06] SebAlbert opened #59 "Add support for Supplier for lazy message generation"
I like the idea of putting my log messages in a lambda, so that if a certain level is not configured to be output at all (not active), even the parts of the log message don't have to be looked for (or generated) in the calling thread in the first place. I think I have seen this in another logging framework (maybe Log4j).

Is this a possible improvement? And what would we have to consider about thr

[2017-10-02 17:13] pmwmedia commented on #58
I think you are right that a prepared statement should be reused. I'm going to benchmark both cases and according to the result, I will change it in tinylog 1.3.

[2017-10-02 17:17] pmwmedia commented on #59
Log messages are rendered always in the same thread and before calling the separate writing thread. So it should be no problem to implement lazy lambda messages in tinylog.

[2017-10-02 18:48] SebAlbert commented on #58
I suspect we should also keep an eye on "autocommit" and the question what happens upon JVM crash (commit-wise) in connection with a re-used prepared statement. But not re-preparing statements all the time (which is often a sort of "compilation" process in the database, involving parsing and query planning) should be a good idea in the first place. Thanks for going after this.

[2017-10-03 12:35] pmwmedia commented on #48
Implemented in commits 68ba74fcd117cc237b2f60210764ff80546c4859 and b205a5d09965f27dbdfc99d458c85879d587cb05

[2017-10-03 12:35] #48 closed, assigned to nobody

[2017-10-03 12:37] pmwmedia opened #60 "JDBC writer"
Reimplementation of [JDBC writer](https://github.com/pmwmedia/tinylog/blob/v1.3/tinylog/src/org/pmw/tinylog/writers/JdbcWriter.java) for tinylog 2.0:

- [x] Implement all existing features
- [x] Write JUnit tests
- [x] Register writer as service

[2017-10-03 16:22] pmwmedia commented on #59
Implemented in commit 56e5ea1ba22251c83f6823de38c412b8f6e8610a for tinylog 2.0. The next step would be merging it into branch 1.3 (in fact it will be a reimplantation).

Example for tinylog 2.0:
[code]

[2017-10-06 18:15] pmwmedia commented on #58
Fixed in 39fdb70d171a30a67a53433e156602a69a6759e9

[2017-10-06 18:15] #58 closed, assigned to pmwmedia

[2017-10-06 20:09] pmwmedia commented on #59
Implemented in commits 5ff190aef9258ede44ed77cc4e7f6cf9a3973d8f and bd78753c91a48f21329a526c097c953c6766c747 for tinylog 1.3.

[2017-10-06 20:09] #59 closed, assigned to pmwmedia

[2017-10-06 20:20] pmwmedia commented on #59
@SebAlbert I have just released tinylog 1.3-rc-2: https://github.com/pmwmedia/tinylog/releases/tag/1.3-rc2. Testing and feedback is welcome :)

[2017-10-06 22:51] SebAlbert commented on #59
Thanks. I have successfully [changed](https://github.com/APTD/Simulation/commit/5310f9578698e6bc391f234257f6bb352e7b6a4a) my usage in ongoing work on a simulation project to 1.3-rc2 with lazy lambdas.

[2017-10-07 06:51] pmwmedia commented on #59
Thanks for testing!

[2017-10-10 19:14] pmwmedia commented on #45
I'm convinced and have updated the tasks.

[2017-10-10 21:59] yegeniy commented on #45
🆒  Glad to see our many months of lobbying, backchanneling, and bribes have paid off

[2017-10-18 01:18] boldtrn commented on #18
Just found this commit and tried this myself. findbugs:findbugs and checkstyle:checkstyle don't fail the build. If you use findbugs:check it will fail the build.

Here is a random violation that you can copy in your code to test this. You travis build won't fail with findbugs:fingubgs:
[code]

[2017-10-18 09:25] pmwmedia commented on #18
Thanks for the note! You are right. I reopened the issue.

[2017-10-18 12:50] #18 closed

[2017-10-18 22:07] boldtrn commented on #18
I have just seen your latest commit. As a side node. This will slow down your regular execution of `mvn clean test verify`, that's why we moved it to only run on travis.

[2017-10-19 07:08] pmwmedia commented on #18
Yes, it slows down building tinylog a bit. But Checkstyle and Findbugs are faster than the JUnit tests and I want to ensure that there are no violations before committing.

[2017-11-09 15:01] uptimestar opened #61 "log4j-facade-2.x"
I see log4j 1.
Is there are log4j 2 adapter?

[2017-11-09 18:36] pmwmedia commented on #61
tinylog doesn't have any adapter for Log4j 2.x API yet. In general there seems to be little interest in using Log4j API with tinylog. At least I haven't received any feature request before yours. Currently I'm focusing on releasing tinylog 1.3 and new features for tinylog 2.0. But any contribution is welcome and I'm open to support it.

[2017-11-15 18:50] frnusmartobjects opened #62 "[Question] How to show parent call in logging format?"
We have a wrapper around TinyLog library, and when using our methods that delegate to TinyLog, the information that appears in the log for the placeholders {class}, {class_name} and {method} is the one of our wrapper.

Is it possible to select the "call stack level" to use for logging?

[2017-11-15 22:08] pmwmedia commented on #62
Just use [LogEntryForwarder](https://github.com/pmwmedia/tinylog/blob/v1.3/tinylog/src/org/pmw/tinylog/LogEntryForwarder.java) instead of [Logger](https://github.com/pmwmedia/tinylog/blob/v1.3/tinylog/src/org/pmw/tinylog/Logger.java). The class LogEntryForwarder is designed to receive log entries from wrappers and other logging APIs.

[2017-11-15 22:10] pmwmedia commented on #60
Fixed in commits 5b52aaa0918e298e25e29bb1406395b51c071262, 8c38d81d2d256c795cfcc8d1c6bcbc820cedc393 and 257924c7b4b09bda573bc3b374e9d187f4b41286.

[2017-11-15 22:10] #60 closed, assigned to pmwmedia

[2017-11-16 16:47] tobiasrm opened #63 "Colored console output"
**FEATURE REQUEST**

**Please add a possibility for coloured console output.**

- Problem:
Currently, coloring is not available for console output (but I love it ;-) ). The workaround to specify multiple console writers (colorize the different levels) does not work as they are all used, leading to multiple outputs with the same content (different formats though), e.g. the debug level writer format

[2017-11-16 18:45] pmwmedia commented on #63
Hi Tobias,

That's a really specific request. As tinylog should be lightweight logging framework, I prefer to store a colored console writer in an external artifact. tinylog can be easily extended: http://www.tinylog.org/extend. You could create a ColoredConsoleWriter and register it as a service. Then the writer can be configured in your properties file in the same way as native writers.

[2017-11-16 18:55] tobiasrm commented on #63
Wow, thanks for the super fast response. I fully agree to your choice of a lightweight framework. The extension way is the the way to go. And who knows why my eyes fully ignored the extensions :-)
Thanks for you advice.

[2017-11-16 19:14] pmwmedia commented on #63
A good template for starting could be the console writer of tinylog 1.2: https://github.com/pmwmedia/tinylog/blob/v1.2/tinylog/src/org/pmw/tinylog/writers/ConsoleWriter.java

Please let me know if you have any further questions, I'd be happy to help :-)

[2017-11-16 19:14] #63 closed, assigned to nobody

[2017-11-16 20:08] frnusmartobjects commented on #62
Thank you for your help

[2017-11-16 20:17] pmwmedia commented on #62
You are welcome :-)

[2017-11-16 20:17] #62 closed, assigned to nobody

[2017-12-15 10:12] flashpixx opened #64 "tinylog.format in property file not used"
I'm using tinylog in my application with this configuration file

[code]

but the item ```tinylog.format``` is not used, but if I set it with ```-D"tinylog.format = {date:yyyy-MM-dd HH:mm:ss}    {thread}    {class}.{method} {line}    {level}: {message}"``` it works correctly. I'm using ```Logger.info``` and ```Logger.error``` directly without any other instantiation of tinylog

[2017-12-15 11:22] pmwmedia commented on #64
I am not able to reproduce this issue.

Example Java application:

[code]

Configuration /tinylog.properties:

[code]

Output:

[code]

Where have you stored the configuration file? Can you try to change other properties in your configuration file to verify if tinylog uses it.

[2017-12-16 01:14] flashpixx commented on #64
You found the whole source code (Maven project) under https://github.com/LightJason/Benchmark
(your need also this framework https://github.com/LightJason/AgentSpeak).

The configuration file is stored under https://github.com/LightJason/Benchmark/blob/master/src/main/resources/org/lightjason/benchmark/tinylog.properties

A testing running configuration can be found in this branch https://github.c

[2017-12-16 08:59] pmwmedia commented on #64
Please try to put 'tinylog.properties' to 'src/main/resources' instead of 'src/main/resources/org/lightjason/benchmark'.

[2017-12-16 13:18] flashpixx commented on #64
I have moved it, but then it will not be read, so the console writer is not set on changing the file location

[2017-12-16 22:30] pmwmedia commented on #64
I have tested your project. After moving 'tinylog.properties' to 'src/main/resources', logging does work and your configured format pattern is used for writing log entries into the console.

[2017-12-17 18:56] smarquard opened #65 "Incorrect reference to org.pmw.runtime in export-package"
I'm running into an issue using TinyLog >= 1.1 in OSGI container (1.0.2 works fine), and it seems to be a packaging issue, for example:

[code]

It looks like the export-package definition here may be wrong:

https://github.com/pmwmedia/tinylog/blob/v1.3/tinylog/pom.xml#L130

[code]

as it refers to `org.pmw.runtime` instead of `org.pmw.tinylog.runtime` ?

[2017-12-17 19:53] smarquard commented on #65
It looks like the tinylog MANIFEST.MF also needs to include:

Import-Package: javax.naming

before this all works properly for me.

[2017-12-17 21:49] pmwmedia commented on #65
Yes, you are right. It should be `org.pmw.tinylog.runtime` instead of `org.pmw.runtime`. I have fixed it in commit 3cfa38417d2858014acf06c4bb71508118ce776b.

Why should `Import-Package: javax.naming` be required? This package is part of the Java runtime environment.

[2017-12-18 07:06] smarquard commented on #65
Thanks for the quick fix!

I got this error (having first edited MANIFEST.MF manually to change org.pmw.runtime to org.pmw.tinylog.runtime):

[code]

so I followed the suggestions from this similar question:

https://stackoverflow.com/questions/15239943/getting-java-lang-noclassdeffounderror-javax-naming-namingexception-error-when

and that made everything work. I'm afraid my OSGI skills are not q

[2017-12-18 15:29] pmwmedia commented on #65
I have fixed the reported issues and some others that I found while testing the bundles with felix.

@smarquard Could you verify that the bundles are working on your OSGi environment? Afterwards I will release the fixes as version 1.3.2.

Bundles:
[jcl-binding-1.3.2.zip](https://github.com/pmwmedia/tinylog/files/1568458/jcl-binding-1.3.2.zip)
[log4j-facade-1.3.2.zip](https://github.com/pmwmedia/ti

[2017-12-18 15:53] smarquard commented on #65
Thank you! I've tested tinylog-1.3.2.jar and it works fine.

[2017-12-18 20:08] #65 closed, assigned to pmwmedia

[2017-12-18 20:08] #64 closed, assigned to pmwmedia

[2017-12-19 01:05] flashpixx commented on #64
If I moved the file, the output is not shown, you can test it with a docker container:
https://hub.docker.com/r/lightjason/benchmark/
You can follow-up the CircleCI log output https://circleci.com/gh/LightJason/Benchmark/15
on a previous run https://circleci.com/gh/LightJason/Benchmark/11 with the location ```src/main/resources/org/lightjason/benchmark``` of the property file it will shown the res

[2017-12-19 07:22] pmwmedia commented on #64
In your tinylog.properties, you have set `tinylog.level = warning`. Therefor info log entries will be not output. If you want to see info log entries in your console output, you have to set `tinylog.level = info`.

[2017-12-19 10:54] flashpixx commented on #64
Based on this description http://www.tinylog.org/de/konfiguration#level
``` TRACE < DEBUG < INFO < WARNING < ERROR```
is warning higher than info, so if I set the log level to warning all info texts are also included

So your last answer is the opposite of this definition, so based on your answer, the list should be ``` TRACE < DEBUG < WARNING < INFO < ERROR``` but I have tested it, so it seems to

[2017-12-19 11:25] pmwmedia commented on #64
It's the way around. Each logging level includes all higher levels. INFO includes infos, warnings and errors, WARNING includes only warnings and errors.

[2017-12-20 19:23] Lawendt opened #66 "Can't log with `{`"
I'm trying to use a format that has `{` in it, like this: `{ \"method\": \"{method}\", "message": \"{message}\" }`. But with this format the output is: `"method": "foo()", "message":"something happened"`, without the curly brackets in the start and the end.
Is there a way of dealing with this?

[2017-12-20 23:04] pmwmedia commented on #66
Escaping curly brackets is not supported yet. Do you want to generate JSON?

[2018-01-02 10:35] pmwmedia commented on #66
Curly brackets can be escaped in tinylog 2.0 with double backslashes.

Example: ```\\{ - {message} - \\}```

[2018-01-02 10:35] #66 closed, assigned to nobody

[2018-01-02 15:53] Lawendt commented on #66
Yes, it is for JSON. Thanks for the info :D

[2018-01-07 16:42] romanlinhard opened #67 "Non-OS depend tinylog.writer.filename values."
Hello,
I want to use TinyLog in different OS environments (WIN, Linux, ...) and therefore, I missed the possibility to define not an hardlink to /tmp/ .
Better would be a placeholder like $TMP and $HOME, %t and %h (like JUL) or something similar.
I switch in the moment my ANT-Build-Environment pretty easy from JUL to your very cool TinyLog.

Thank you for that great tool and your work!

**Current

[2018-01-07 18:13] pmwmedia commented on #67
tinylog can handle environment variables "${name}" and "/" as path separator on any OS.

This works for me on Windows and Linux:

[code]

[2018-01-07 19:56] romanlinhard commented on #67
Thanks, that works very well!

[2018-01-07 19:56] #67 closed, assigned to pmwmedia

[2018-02-14 09:54] ghost opened #68 "Tinylog Writing-Thread"
Hey,

is it possible to use the Writing-Thread with the option to let the Thread end when no new logs are incoming, so when the Application crash the last Logs get written to the file ?

[2018-02-14 11:07] pmwmedia commented on #68
If the JVM crashes, you will no longer be able to run any Java code. If your application only crashes due to an uncaught exception, the Writing-Thread should output all your log entries. Do you have a concrete example of losing log entries?

[2018-02-18 16:14] danieleformichelli opened #69 "Limit number of stored log files to a given number"
Hello,

I would like to use the DailyPolicy and only keep the logs of the last 7 days.
I have tried to set the backups property to the Logger configuration but it seems that old logs are never deleted.
Could you please clarify whether this is expected?
Could you please clarify if there is a way to obtain the desired behavior?

Regards,
Daniele

[2018-02-18 22:58] pmwmedia commented on #69
Could you provide your configuration for tinylog?

[2018-02-18 22:59] #68 closed, assigned to nobody

[2018-02-19 06:42] danieleformichelli commented on #69
Hello Martin,

I am trying to configure it via code:
Configurator.defaultConfig().writer(new RollingFileWriter(Paths.get("wrk",
"log.log").toString(), 7, new TimestampLabeler("yyyy.MM.dd"), new
DailyPolicy())).formatPattern("{date}
{message}").level(Level.DEBUG).activate()

Regards,
Daniele

Il dom 18 feb 2018, 23:58 Martin Winandy <notifications@github.com> ha
scritto:

[2018-02-19 18:25] pmwmedia commented on #69
Hi Daniele,

I can reproduce it. There is a bug. I'm going to fix it tonight.

[2018-02-19 18:42] pmwmedia commented on #69
I fixed it in [tinylog-1.3.3-rc-1](https://github.com/pmwmedia/tinylog/files/1737910/tinylog-1.3.3-rc-1.zip).

@danyf90 Could you test it, if it works for you, too?

[2018-02-20 07:22] danieleformichelli commented on #69
Hello @pmwmedia ,

Thank you for your prompt reply.
It works for me, too.

[2018-02-20 07:22] #69 closed, assigned to pmwmedia

[2018-02-20 07:38] pmwmedia commented on #69
Hi Daniele,

Thank you for testing! Then I will release the final version 1.3.3 tonight.

[2018-03-10 08:38] pmwmedia opened #71 "Runtime dialects for Java 6-8, Java 9+ and Android"
There are different methods for getting stack trace elements and the current process ID for Java 6-8, Java 9+ and Android. Additionally only Java 9+ supports getting the current time with nanosecond precision. These differences should be encapsulated.

- [x] Runtime dialect API
- [x] Runtime dialect for Java 6-8
- [x] Runtime dialect for Java 9+
- [x] Runtime dialect for Android
- [x] Nanosecond p

[2018-03-10 08:46] pmwmedia opened #72 "Build tinylog 2 with JDK 9"
Blockers for building tinylog 2 with JDK 9:

- [ ] Wait for SpotBugs 4 (https://github.com/spotbugs/spotbugs/issues/499, https://github.com/spotbugs/spotbugs/issues/493)
- [ ] Wait for PowerMock 2 (https://github.com/powermock/powermock/issues/783)

[2018-03-10 19:22] #49 closed, assigned to pmwmedia

[2018-03-12 20:31] #72 closed, assigned to nobody

[2018-03-13 19:51] #71 closed, assigned to nobody

[2018-03-14 21:06] #47 closed, assigned to pmwmedia

[2018-03-20 20:19] pmwmedia opened #73 "Documentation for tinylog 2"
Create a Wiki with documentation for tinylog 2.

- [x] Create Wiki
- [x] Getting Started
- [x] Logging
- [x] Configuration
- [x] Extending
- [x] Differences to tinylog 1.x

[2018-05-17 22:12] pmwmedia commented on #35
tinylog 2 contains a JMH benchmark for multiple logging frameworks including Apache Log4j 1 and 2.

[2018-05-17 22:12] #35 closed, assigned to nobody

[2018-06-20 08:59] fortysix2ahead opened #75 "Add second resource to read configuration from"
Log4J 2 has a nice feature where the log configuration is read from the resource log4j2-test.properties and only if this resource does not exist it reads the configuration from the default resource log4j2.properties. This way it's easily possible to have a "develop/debug" configuration and a "production" configuration in parallel and turn a debug build into a production build by just not shipping

[2018-06-21 09:18] pmwmedia commented on #75
It's on the todo list for tinylog 2.1. Already with tinylog 1.x you can have a second properties file for developing and just add `-Dtinylog.configuration=tinylog-test.properties` to your run configuration.

[2018-06-21 10:53] fortysix2ahead commented on #75
Yes, that's exactly what I am doing currently!

[2018-06-26 06:06] ghost opened #76 "Turning off report of Runnable's run() method"
Hi,

May I ask how to turn off the log writing of `Runnable`'s `run()` method?

I've tried some steps but couldn't turn that off:

- Finding documentation at <https://tinylog.org/configuration>: no answer.
- Calling `Configurator.shutdownWritingThread()`: does not work.
- Searching source code: can't find relevant source.

It would be great if you could help (and update documentation).

Thank you

[2018-06-26 06:11] ghost commented on #76
I'm very sorry. I think I misunderstood something. So this is an invalid issue.

[2018-06-26 06:11] #76 closed, assigned to nobody

[2018-07-07 14:10] lenis0012 opened #77 "Package-specific log level not working with writing thread (SLF4J)"
When writingthread is enabled, the package-specific logging level does not work as expected
With the following config, debug messages are not shown:
[code]
If I remove the writingthread property, the debug messages are shwon as expected.
I assume this is a bug, since the writingthread property does not mention disabling package-specific log levels.
I am using version 1.3.5 of tinylog slf4j-binding

[2018-07-07 15:13] pmwmedia commented on #77
I have tested it on my machine and I got debug messages.

tinylog.properties (I renamed my.package to my.example as `package` is a reserved keyword)
[code]

Application.java
[code]

Output:
[code]
[My Eclipse Project](https://github.com/pmwmedia/tinylog/files/2172859/example.zip)

[2018-07-07 16:10] lenis0012 commented on #77
@pmwmedia After reading your response I did some more testing
And I realized that one specific INFO message was not getting displayed either.
I assume that the writingthread is watching the wrong thread.

So most of my INFO messages triggered before the main thread exited.
Changing the observe property of the writingthread resolved the issue.

I am sorry for falsely reporting an issue, and thank y

[2018-07-07 16:10] #77 closed, assigned to nobody

[2018-07-07 16:39] lenis0012 commented on #77
@pmwmedia Maybe it would be worth considering to print a message when you log after the writingthread has exited. or log when the writingthread exits (in debug).

[2018-07-07 17:53] pmwmedia commented on #77
@lenis0012 In tinylog 2 the writing thread doesn't need a thread to observe anymore. Such problems will no longer occur. I plan to release the first beta of tinylog 2 this year.

[2018-07-10 00:34] Yjuq opened #78 "Documentation corrupted"
Hey - It's look like the JavaDoc about the Logger class is damaged:
https://tinylog.org/javadoc/org/pmw/tinylog/Logger.html

And I have a feature request for your tinylog. What do you think about a option in the configuration file to filter a stacktrace. At the moment I filter (print only informations about special packages) the stacktrace extern in a own class before I give them to the Logger.

A

[2018-07-10 06:57] pmwmedia commented on #78
Thank you for your issue for the missing HTML page for the logger class! I have upload the Javadoc again and it should be complete now.

Your feature request is welcome :-) I have already thought about some advance features for removing nondescript stack trace elements. Could you create a separate issue for your feature request?

[2018-07-10 06:57] #78 closed, assigned to pmwmedia

[2018-07-10 09:42] Yjuq opened #79 "Feature request - filter stacktrace"
Hey :)

A option to filter the stacktrace would be great. Exceptions are always long and the most informations are not needed. It would be great if I can choose in the tinylog.properties which packages information should be printed with TinyLog.

Something like this:
`tinylog.stacktrace.filter = acg|javafx.scene` - This could be print only informations about the package acg (and sub packages like

[2018-07-15 20:12] pmwmedia commented on #79
I've thought about it and made a first draft that includes your use cases and some of my ideas that I've already thought about once. A stack trace filter should be configurable either globally or for specific writers. To do this, a stack trace filter must not change an existing exception (or other throwable), but return a new one.

[code]

Like policies, stack filters should be extendable as META-

[2018-08-17 17:27] davigre opened #80 "Cant get log naiming"
I need the following log naming:

'logs\log2018_08_17_00.log'
'logs\log2018_08_17_01.log'
'logs\log2018_08_17_02.log'

with out 'rolling'. Never erase any file.

I try with tinylog.properties file:
`
tinylog.level = trace
tinylog.format = {date:yyyy-MM-dd HH:mm:ss} {level}:{message}

tinylog.writer = rollingfile
tinylog.writer.filename = logs/log.log
tinylog.writer.backups = 9999
tinylog.writer.la

[2018-08-17 20:03] pmwmedia commented on #80
tinylog 1.x supports only one label (count, timestamp or process ID). However tinylog 2.x will support multiple labels: https://tinylog.org/v2/configuration/#rolling-file-writer. The first milestone of tinylog 2.x is technical already finished. As soon as the new website is finished too, I will release it.

[2018-09-18 14:04] #80 closed, assigned to pmwmedia

[2018-09-18 14:05] #73 closed, assigned to pmwmedia

[2018-09-18 14:13] pmwmedia opened #81 "JBoss Logging binding"
Implementation of JBoss Logging binding for tinylog 2.0:

- [x] Create project jboss-tinylog
- [x] Implement [LoggerProvider](https://github.com/jboss-logging/jboss-logging/blob/master/src/main/java/org/jboss/logging/LoggerProvider.java)
- [x] Write JUnit tests
- [x] Add readme text file

[2018-09-18 14:26] pmwmedia opened #82 "java.util.logging adapter"
Implementation of a custom java.util.logging adapter for tinylog 2.0:

- [x] Create project jul-tinylog
- [x] Implement a custom [Handler](https://docs.oracle.com/javase/8/docs/api/java/util/logging/Handler.html) as bridge
- [x] Write JUnit tests
- [x] Add readme text file

[2018-11-10 00:01] #45 closed, assigned to pmwmedia

[2018-11-12 17:28] #50 closed, assigned to pmwmedia

[2018-11-19 10:18] #82 closed, assigned to pmwmedia

[2018-11-27 13:03] mikehearn opened #83 "TinyLog 2.0.0-M2 not in Maven Central"
I'd like to upgrade to TinyLog 2 but I need the SLF4J and JUL bridge support. The M2 release with this in didn't make it to Maven Central yet.

https://search.maven.org/search?q=g:org.tinylog%20AND%20a:tinylog-impl&core=gav

[2018-11-27 14:58] pmwmedia commented on #83
I triggered the release again via https://oss.sonatype.org/.

[2018-11-27 15:56] pmwmedia commented on #83
tinylog 2.0.0-M2 is available on Maven Central now: https://repo1.maven.org/maven2/org/tinylog/

[2018-11-27 15:56] #83 closed, assigned to pmwmedia

[2018-12-10 06:45] szsuyuji opened #84 "A Rolling File Writer Problem"
RollingFileWriter.java  at line 184,  int separator = property.indexOf(':'),  is "property" shoud be "entry"?

[2018-12-10 10:10] #84 closed, assigned to pmwmedia

[2018-12-27 23:30] mikehearn opened #85 "Feature request: SLF4J 1.8 support"
SLF4J 1.8 is compatible with the Java module system. The API is identical from a user's perspective, but from a provider perspective, it needs changes to use ServiceLoader to expose the provider instead of magic class names.

[2018-12-28 21:17] pmwmedia commented on #85
Support for SLF4J 1.8 is planned for tinylog 1.3 and 2.0 as soon as it is stable. The current beta 2 of SLF4J 1.8 is still declared as experimental.

[2019-01-07 17:12] #81 closed, assigned to pmwmedia

[2019-01-12 10:03] #44 closed, assigned to pmwmedia

[2019-01-16 00:37] re-thc opened #86 "Support for running without a config file"
Hi, using Tinylog as part of another framework (great work) and wish to integrate the configuration. Currently using `System.setProperty` on startup after reading in the main config file. Is there a better way to do this? I couldn't find it in the docs. Can the Config be called directly? i.e. looking for a programmatic way.

As an improvement, can the loading code support this so that if a System

[2019-01-20 22:10] re-thc opened #87 "Feature request: Micrometer metrics support"
Hi, can tinylog be integrated with Micrometer for metrics? Currently missing this to move from log4j2. Tinylog seems faster but doesn't have the metrics we use in reporting. Thanks!

[2019-01-20 23:42] pmwmedia commented on #87
Micrometer seems to support SLF4J: https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/logging/LoggingMeterRegistry.java#L74

This means you would just have to add tinylog's SLF4J binding for outputting these metrics via tinylog.

[2019-01-20 23:49] re-thc commented on #87
Hi, it's for collecting metrics from Tinylog and not outputting metrics to Tinylog. Not sure if that's the same, but see https://github.com/micrometer-metrics/micrometer/tree/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/logging where there's a logback and log4j2 implementation.

[2019-01-20 23:54] pmwmedia commented on #86
If you use tinylog 1.x, you can use the fluent API for configuring tinylog programmatically: https://tinylog.org/configuration#fluent. For tinylog 2.x, I dropped this feature, because everyone uses configuration files in real world applications.

Reading the configuration from a file is pretty fast. Especially if `tinylog.properties` is part of your JAR, loading the configuration should be as fast

[2019-01-20 23:59] pmwmedia commented on #87
Thank you! I got it. In this case, a tinylog binder should be added to Micrometer. According to the both existing logging binders, the implementation should be trivial. Have you tried to add a feature request or pull request there?

[2019-01-21 00:00] re-thc commented on #87
Thanks, ok, if the request should go in Micrometer I'll create it there and see what happens. Cheers!

[2019-01-21 00:15] pmwmedia commented on #87
https://github.com/micrometer-metrics/micrometer/issues/1171

[2019-01-21 03:16] re-thc opened #88 "Non-blocking writerThread implementation"
Hi, most of log4j2's async performance comes from https://lmax-exchange.github.io/disruptor/. Has this been considered for the writerThread implementation? It currently uses mutex / synchronization. Maybe a similar route would just be using a non blocking queue e.g. [disruptor](https://github.com/conversant/disruptor) or similar from [JCTools](https://github.com/JCTools/JCTools).

Thanks!

[2019-01-21 09:45] pmwmedia commented on #88
When I started developing tinylog 2, I created three different writing thread implementations. One of them was based on LMAX Disruptor. Based on benchmarks, I chose the current writing thread implementation, because it could output slightly more log entries per second than the LMAX Disruptor based implementation.

If anyone can implement a writing thread implementation that can output more log ent

[2019-01-21 09:52] re-thc commented on #88
Thanks. Curious to know what was the currency settings at the time (i.e. use case). Was like a webserver with many threads that would log, e.g. in a HTTP server? Definitely the mutex/current approach would be better when there's less contention. What settings did you pick for blocking strategy? LMAX does generate quite a bit of garbage. More simply using just a non-blocking queue might be better.

[2019-01-22 17:12] pmwmedia commented on #88
I have benchmarked the number of log entries that can be processed per second. Performance is always a critical question. Often, bottlenecks are not where expected and some optimizations can make it worse, even if they look promising. Therefor, the best way is writing a benchmark for a component to verify, if it is really slow, and benchmarking possible replacements.

For tinylog 2, I have develop

[2019-01-22 17:13] #86 closed, assigned to nobody

[2019-01-22 17:13] #87 closed, assigned to nobody

[2019-01-22 22:52] re-thc opened #89 "Replace toArray(new T[size]) with toArray(new T[0])"
Hi, noticed many occurrences of toArray that could be made faster with a find and replace.

Performance: replace toArray(new T[size]) with toArray(new T[0])

https://shipilev.net/blog/2016/arrays-wisdom-ancients/#_conclusion (also contains benchmarks).

Could provide some simple performance improvements thanks!

[2019-01-23 09:12] pmwmedia commented on #89
This article is really interesting! Thank you :-)

[2019-01-23 09:12] #89 closed, assigned to nobody

[2019-01-24 00:54] #88 closed, assigned to nobody

[2019-01-27 15:01] re-thc opened #91 "Keep buffer of JdbcWriter after connection loss"
Hi, currently JDBCWriter will lose logs if a connection drops or before a connection is established.

Can a replay buffer be added to deal with these situations? i.e. check connection and reconnect if required, but do not "lose" these entries. Instead add it to a queue and write them again when connect is available.

[2019-02-07 15:41] AlexanderBykin opened #92 "Feature request: netty InternalLogger implementation"
Hi
There is should be `io.netty.util.internal.logging.InternalLogger` implementation to create `tinylog` factory for `netty` logging

[2019-02-07 16:37] pmwmedia commented on #92
Would you be able to submit a pull request? However you can also use Slf4JLoggerFactory, if you use the SLF4J binding for tinylog 2.

[2019-02-07 17:02] AlexanderBykin commented on #92
i haven't any implementation of this thing, will try to use SL4J binding

[2019-02-11 09:32] trebouillon opened #93 "ConcurrentModificationException in org.pmw.tinylog.Configurator.init"
While initializing the logger I got the following exception:

[code]

Device: Lenovo K5 Note
API: 23 (6.0)

Are there changes in version 2 which would make this issue obsolete?

[2019-02-11 11:13] pmwmedia commented on #93
The cause is that the system properties are modified while loading tinylog's configuration (see [Configurator, line 735](https://github.com/pmwmedia/tinylog/blob/v1.3/tinylog/src/org/pmw/tinylog/Configurator.java#L735)). I will create a copy of the system properties and iterate of this copy to fix this issue.

[2019-02-11 14:41] #92 closed, assigned to nobody

[2019-02-11 20:14] pmwmedia commented on #93
@trebouillon  I have just released a fix: https://tinylog.org/download. Can you test it?

[2019-02-11 20:18] #93 closed, assigned to pmwmedia

[2019-02-12 15:22] trebouillon commented on #93
Thank you for the quick fix. As this only happened once so far I think this is hard to reproduce. But I will update to the latest release.

[2019-02-18 17:43] #46 closed, assigned to pmwmedia

[2019-03-14 01:52] scott-rc opened #94 "Overload resolution ambiguity"
Hello :wave:

After upgrading from 1.3.6 -> 2.0.0-M3, I am getting a function ambiguity issue when invoking any of the log levels (info, warn, etc...) with a String as the only argument.

One of the ways to get around this is to cast the string to Any (Object in Kotlin) to give the compiler a hint.

![tinylog_ambiguity_error](https://user-images.githubusercontent.com/21965521/54325385-4686c280-45d

[2019-03-14 07:46] pmwmedia commented on #94
I will look at that. tinylog 2 should also be easy to use with Kotlin.

[2019-03-15 19:46] tebriz159 opened #95 "Logo design"
Hi, I'm a logo designer and I can design a free logo for your project. So ,what do you think?

[2019-03-15 20:29] pmwmedia commented on #95
Wow! That sounds amazing :-) I would be happy to have a professional scalable logo for tinylog.

[2019-03-15 21:00] pmwmedia commented on #94
After trying several things, I decided to provide a separate logging API for Kotlin, Scala and Groovy. This is the only way I can deal with the features and specialties of all three programming languages.

Here is a preview version for Kotlin: [tinylog-kotlin-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/2972864/tinylog-kotlin-2.0-SNAPSHOT.zip)

Some examples that are working now:

[

[2019-03-20 21:04] gabrielnasser opened #96 "Logging doesn't run when using Java Web Start"
Hello,

We have a single-jar application where we package all our classes and dependent classes from our jars (including tinylog-related classes) into a single archive. Using maven within Eclipse, everything runs fine and logging works as expected. The same goes for the runnable jar we produce. However, when we launch the jar via a JNLP file, logging doesn't work at all.

We use the following depe

[2019-03-20 22:08] pmwmedia commented on #96
I assume that Java Web Start does not provide the permissions for reading any files in META-INF by default. All logging providers, writers and policies are registered in a service file in META-INF.

Probably reading service files via `AccessController` could solve the problems with using tinylog in a Java Web Start application.

[2019-03-20 23:21] pmwmedia commented on #96
I have created a test version that uses `AccessController`:

- [tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/2990436/tinylog-2.0-SNAPSHOT.zip)
- [slf4j-tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/2990437/slf4j-tinylog-2.0-SNAPSHOT.zip)

@gabrielnasser Could you test it?

[2019-03-21 09:38] gabrielnasser commented on #96
Thank you for the quick turnaround. We tried that and it didn't work. The console displays the following message:

LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.

[2019-03-21 10:08] gabrielnasser commented on #96
Attached a partial snippet of our JNLP file.
[example.txt](https://github.com/pmwmedia/tinylog/files/2991568/example.txt)

[2019-03-21 10:14] pmwmedia commented on #96
I haven't worked with Java Web Start yet. @gabrielnasser Could you provide a minimal example project that I can use for testing and reproducing the issue?

[2019-03-21 21:38] gabrielnasser commented on #96
@pmwmedia I'll try to get a sample project. In the meantime, I noticed that perhaps you may not be using the intended class loader in ServiceLoader? In the constructor, you have

`this.classLoader = Thread.currentThread().getContextClassLoader();`

whereas in loadClasses(), you're calling

`urls = ClassLoader.getSystemResources(name); // Abstract class`

Shouldn't it be the following instead?

`ur

[2019-03-21 22:09] pmwmedia commented on #96
I agree that `Thread.currentThread().getContextClassLoader()` should be always used. However, I don't know, if other changes has be applied to satisfy Java Web Start.

@gabrielnasser  Snapshot version that includes your suggested change:

- [tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/2994134/tinylog-2.0-SNAPSHOT.zip)
- [slf4j-tinylog-2.0-SNAPSHOT.zip](https://github.com/pm

[2019-03-22 07:56] gabrielnasser commented on #96
@pmwmedia that worked! Looking forward to the next official build on maven :)

Thank you very much.

[2019-03-22 16:17] adolgiy opened #97 "Can't setup min-size attribute"
Hello! I'am trying to setup `min-size` for logging level, using this format:

`{{level}:|min-size=8}: {message}`

But, I got this:

`INFO:|min-size=8: Started @4678ms`

I took this format from docs (scroll to second example in the section): https://tinylog.org/v2/configuration/#format-pattern

[2019-03-22 17:25] #94 closed, assigned to pmwmedia

[2019-03-22 18:46] #97 closed, assigned to pmwmedia

[2019-03-22 18:49] adolgiy commented on #97
Amazing! You're awesome!

[2019-03-22 18:52] #96 closed, assigned to pmwmedia

[2019-03-22 20:56] gabrielnasser commented on #91
Perhaps this could be done via the existing writing thread functionality by adding persistence to it? That way persistence can be enjoyed by any writer.

[2019-03-22 21:11] gabrielnasser opened #98 "Unit test fails when building latest release"
I have downloaded the latest release and when running

`mvn clean install -P release`

the build consistently fails with the following output

`
[ERROR] Tests run: 24, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 1.808 s <<< FAILURE! - in org.tinylog.path.DynamicPathTest
[ERROR] getMultiTokenFiles(org.tinylog.path.DynamicPathTest)  Time elapsed: 0.014 s  <<< FAILURE!
java.lang.AssertionError:

[2019-03-23 08:54] pmwmedia commented on #98
Which operating system are you using? All JUnit tests run consistently on the Linux build server (https://travis-ci.org/pmwmedia/tinylog/builds/510059156) as well as on my private Windows 10 machine. What JDK are you using?

Could you debug the test `org.tinylog.path.DynamicPathTest.getMultiTokenFiles()`? For analyzing why this test fails on your machine, I would be helpful to know what are the va

[2019-03-23 09:18] pmwmedia commented on #98
@gabrielnasser I have found the cause why this test failed on your machine. The reason is the underscore in your path. I will fix the index in `org.tinylog.path.DynamicPath.collectFiles()`.

[2019-03-23 09:24] #98 closed, assigned to pmwmedia

[2019-03-23 15:48] gabrielnasser commented on #98
For good measure, I'll add the environment info to the original comment.

[2019-03-23 15:55] gabrielnasser commented on #98
I also confirm the build passes with this fix. Thank you.

[2019-04-01 16:20] mailz opened #99 "Configuring Logcat for Android"
There is information about configuring TAG for Logcat in the documentation for tinylog 2.0:

But it doesn't work.

ConfigurationParser has method `createWriters` with code:

`public static Collection<Writer>[][] createWriters(final List<String> tags, final Level minimumLevel, final boolean writingThread) {`
...
`configuration.remove("tag");`
`configuration.remove("level");`
...
`}`

which removes

[2019-04-01 18:05] pmwmedia commented on #99
The tag property of the logcat writer collides with the new support of tagged log entries. I'm going to rename the property to `tagname` for the logcat writer.

[2019-04-01 19:28] #99 closed, assigned to pmwmedia

[2019-04-04 13:50] mailz commented on #99
It's great, thank you!

[2019-04-11 03:19] re-thc commented on #91
There's a slight difference. If persistence happens across the board - where does this go? In a file or JDBC? Which becomes a circular problem. A global buffer would be good though - even for file so we can log before it opens.

I think slf4j does something similar with a substitute logger that gets initialized at the start and then swaps over once the real logger initializes.

[2019-04-19 17:23] tebriz159 commented on #95
Hi, sorry for delay. I made a design for this project. If you like it I'll send you all files to use it.

![tinylogpr](https://user-images.githubusercontent.com/31902754/56435393-49688780-62e9-11e9-8ee6-a43ef3fd5d63.png)

Which color variation do you prefer?

![tinylogpr1](https://user-images.githubusercontent.com/31902754/56435410-4ec5d200-62e9-11e9-8697-6a62c6155578.png)

[2019-04-23 18:28] pmwmedia commented on #95
Thank you very much for the great logo :-) I really love it!

I prefer the primary color #33AD00 from the [tinylog 2 website](https://tinylog.org/v2/), plus a second one with the light color #C8FFC1 for dark backgrounds.

Could your provide the logo also as SVG? It would simplify the use a lot for me.

[2019-04-28 21:29] tebriz159 commented on #95
Sure, I'll do it tomorrow.

[2019-04-29 18:56] tebriz159 commented on #95
I used the colors that you wanted, which variation do you want to use?

![tinylogpr2](https://user-images.githubusercontent.com/31902754/56919564-fbfece00-6ad1-11e9-8b3f-ba8e1c1e1b8b.png)

[2019-04-29 21:18] pmwmedia commented on #95
Thank you very much for your efforts! I really like to see the new logo in tinylog's primary color :-) I would like to use both logos from the left side. The project preferred spelling is "tinylog" in lower case letters. Could you adapt this?

[2019-05-02 21:50] nickman opened #100 "Request for Feature: Reconfigure"
The docs are fairly plain on this:

I would like to request an override on this. I use tinylog in a JavaAgent and really need to be able to rollup a new configuration and enable it at runtime because I just don't have enough information early on to commit to a configuration. Or put another way, it would be complicated to use some other form of logging until I do, and then commit to tinylog.

If th

[2019-05-04 09:51] pmwmedia commented on #100
Reconfiguration at runtime is a very rarely used feature of tinylog 1.x. Therefor and for a great [performance boost](http://tinylog.org/v2/benchmark/), I have droppt this feature in tinylog 2.x.

@nickman However, there might be a solution for your use case. Firstly, I have really to understand what you are doing in your JavaAgent. What is the source of your logging configuration? Which propertie

[2019-05-04 18:28] nickman commented on #100
Thanks for your response !
I decided to implement tinylog because my target systems where I want to
use the JavaAgent have a diversity of logging packages and I have found
that shading logging packages is a fiasco, so tinylog fits the bill
perfectly and if I come across a situation where a target system uses
tinylog, it's a very shading friendly package so overall it's working well
for me.
The Jav

[2019-05-07 21:16] pmwmedia commented on #100
You can create a custom reconfigurable [LoggingProvider](https://github.com/pmwmedia/tinylog/blob/v2.0/tinylog-api/src/main/java/org/tinylog/provider/LoggingProvider.java):

[code]

Logging providers have to be registered as a service.

src/main/resources/META-INF/services/org.tinylog.provider.LoggingProvider:

[code]

Now you can define your logging provider in your tinylog.properties:

[code]

I

[2019-05-09 12:07] nickman commented on #100
Thanks ! Starting on this today.

[2019-05-10 19:28] Ktar5 opened #101 "Cannot disable MongoDB logging"
Hello,

I am using the following in my gradle build script
[code]

I am attempting to disable logging for MongoDB, because it is spammy as all hell, and I am so far unsuccessful.

Here is what logging looks like with "jul-tinylog" DISABLED
[code]

Here is what logging looks like with "jul-tinylog" enabled
[code]

I'm not sure if this helps, but I've also tried using the slf4j bindings, which end u

[2019-05-10 20:14] pmwmedia commented on #101
Just use the package name in your tinylog.properties: `level@com.mongodb = error`

[2019-05-19 12:58] #100 closed, assigned to pmwmedia

[2019-05-19 12:59] #101 closed, assigned to pmwmedia

[2019-05-20 12:53] Nutriz opened #102 "Android: possibility to change severity Level at runtime ?"
Hello,

I use tinylog 2 in my app. In the preferences I want to allow the user to change the severity level of logs.

I see in the documentation that the configuration is immutable:

So, what solution can I use to achieve what I want ? A solution is possible ? This one is very important for my application.

[2019-05-20 13:04] pmwmedia commented on #102
You could write your custom logging provider. It is not difficult.

Here is an example that already almost does what you want: https://github.com/pmwmedia/tinylog/issues/100#issuecomment-490258571

[2019-05-20 13:55] Nutriz commented on #102
Thanks for your quick answer.

In Android I can't access the `tinylog.properties` at runtime, but I guess I can do that:
[code]
But for the part registering provider as a service I don't know how I can manage this on Android.

I don't understand how you define that my custom profider is named "reconfigurable" to use it in the  `tinylog.properties` file.

[2019-05-20 14:11] pmwmedia commented on #102
Yes, this should work!

1. Ensure that the folders `src/main/resources` exist in your project
2. Create the folders `META-INF/services`
3. Create a new text file with the name `org.tinylog.provider.LoggingProvider`
4. Add the class name `org.sample.ReconfigurableLoggingProvider` as a line in the new text file

tinylog reads all `org.tinylog.provider.LoggingProvider` files at startup. So it knows t

[2019-05-21 13:29] Nutriz commented on #102
Hi, thanks a lot for yours quick answers. I'm almost done.

One problem since I use my custom LoggingProvider is that the log format  `{class-name}.{method}` don't work correctly, it's always printing `Logger.debug()` instead of the real class and method names where the logger is called:

Format mask:
[code]
Output with my custom provider:
[code]
Output with default profider:
[code]

Maybe I have

[2019-05-21 14:07] pmwmedia commented on #102
You can fix the class name issue easily. Just add "1" to the stack trace depth:

[code]

[2019-05-21 14:07] Nutriz commented on #102
Auto-answer :joy: :
I looked at the code of `TinylogLoggingProvider` and I see that we get a snapshot of the stacktrace, and because I have added one level of class hierarchy, I must add one to depth in my custom provider like that:
[code]

[2019-05-21 14:11] #102 closed, assigned to nobody

[2019-05-21 15:13] Nutriz opened #103 "rolling file: always write in the first file"
Hi.

One think I miss from my old log lib, is to have my more recent logs always in the first log file.

Hypothetic example:
[code]

- logs.0.txt <- more recent logs are always written here
- logs.1.txt <- when `logs.0.txt` reach the limit of 1mb, it is renamed into `logs.1.txt` and a new  `logs.0.txt` is created to continue to log in
- logs.2.txt <- previously `logs.1.txt`
- logs.3.txt <- previou

[2019-05-21 20:34] #43 closed, assigned to pmwmedia

[2019-05-21 20:50] #42 closed, assigned to pmwmedia

[2019-05-23 16:32] pmwmedia commented on #103
The rolling file writer of tinylog 1.x works exactly in way you describe. However, I have decided to change the behavior of the count policy to current one in tinylog 2.x for three reasons.

1. **Performance**: If tinylog always writes in the log file with the lowest number (= 0), all log files have to be renamed when the current log file is full. This can be slow, if you have an huge amount of lo

[2019-05-23 16:32] #103 closed, assigned to nobody

[2019-05-28 00:10] ryanthon opened #104 "Feature Request: Allow Unix Timestamp in Format Pattern"
The {date} token only allows formatting dates to human-readable String formats (e.g. "May 5, 2019 11:49").

I need to write to my logs in JSON format, one entry per line, and I need a way of writing a plain unix timestamp in the pattern. I was thinking something like {timestamp} or {timestamp: seconds}, {timestamp: milliseconds}, etc.
Or even just extending the DateToken to allow something like {d

[2019-05-28 19:10] pmwmedia commented on #104
I like your idea of {timestamp} and {timestamp: seconds}.

A pull request is welcome :-)

[2019-05-29 06:51] ryanthon commented on #104
Just finished, added PR #105

Wasn't sure if you wanted to include support for microseconds as well, so I just allowed for seconds, and default to milliseconds.

[2019-05-29 23:10] pmwmedia commented on #104
@ryanthon Thank you very much for your great and complete PR :-)

[2019-05-29 23:10] #104 closed, assigned to ryanthon

[2019-05-30 08:35] teoincontatto opened #106 "LOG4J2 to SLF4J + SLF4J binding wrong class name detected"
Hello,

Seems like using [log4j2-api](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-api/2.11.2) together with [log4j-slf4j-impl](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-slf4j-impl/2.11.2) and [slf4j-tinylog](https://mvnrepository.com/artifact/org.tinylog/slf4j-tinylog) is failing in detecting correct class name in `RuntimeProvider.getCallerClassName(in

[2019-06-05 09:13] pmwmedia commented on #106
If I understand your use case correctly, you want to output log entries issued by the Log4j API via SLF4J by tinylog. In this case, you need [log4j-to-slf4j](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-to-slf4j/2.11.2) instead of [log4j-slf4j-impl](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-slf4j-impl/2.11.2).

Example program:

[code]
Dependencies:

[c

[2019-06-06 11:16] twogoods opened #107 "tinylog init error when dynamic add jar"
dynamic add tinglog v2,  use `new URLClassLoader('urls for tinylog.jar', extClassLoader);`

in `org.tinylog.provider.ProviderRegistry.loadLoggingProvider()`

`ServiceLoader<LoggingProvider> loader = new ServiceLoader<>(LoggingProvider.class);`
 `LoggingProvider.class`is load by URLClassLoader

In constructor:
[code]
So replace `Thread.currentThread().getContextClassLoader()` to `service.getClassLo

[2019-06-06 13:22] pmwmedia commented on #107
@twogoods Could you provide some details about your environment. What VM are you using? Why do you load the tinylog.jar dynamically at runtime?

[2019-06-06 14:24] twogoods commented on #107
@pmwmedia I am developing a javaagent project ,the javaagent will enhance user's java program, like springboot，so javaagent will add many jar to user's program dynamically. In this case may need change to `service.getClassLoader()`

[2019-06-06 14:53] pmwmedia commented on #107
Would this fix it for you?

[code]

[2019-06-07 08:25] pmwmedia commented on #61
Apache Log4j2 API can be used in tinylog via SLF4J.

Required artifacts:

- [Apache Log4j API](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-api)
- [Apache Log4j to SLF4J Adapter](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-to-slf4j)
- [SLF4J Binding For Tinylog](https://mvnrepository.com/artifact/org.apache.logging.log4j/log4j-to-slf4j)
- [Tinylog Impleme

[2019-06-07 08:25] #61 closed, assigned to nobody

[2019-06-07 08:33] Nutriz opened #108 "[Question] writer.format {class-name} and {method} with obfuscator (proguard)"
Hi,

We use Proguard in our Android App for the release apk and we have problem to use the writer.format masks `{class-name}` and `{method}`, because of the Obfuscation pass, log like `MainActivity.onCreate()` are transformed in a form of `a.b()`.

I know this is normal but I ask if it's a way to enjoy the `{class-name}` and `{method}` masks with an obfuscator ? These mask are really useful and we

[2019-06-07 10:04] pmwmedia commented on #108
You can configure Proguard to keep all class names and method names.

I don't use Proguard, but according to their [manual](https://www.guardsquare.com/en/products/proguard/manual/examples), this should work:

[code]

[2019-06-07 10:07] pmwmedia commented on #61
A working example can be found in [issue 106](https://github.com/pmwmedia/tinylog/issues/106#issuecomment-499004401)

[2019-06-07 12:08] Nutriz commented on #108
Yes but with this, we are loosing a big part of the obfuscator interest (no more class and method name obfuscated). I don't know if another solution is possible...

[2019-06-07 14:43] pmwmedia commented on #108
Obfuscating applies also to tinylog. If not, Proguard would be a bad obfuscator and wouldn't help at all. Personally I don't think that obfuscating does really help to protect source code. However that is a company decision. For tinylog, you could create [tagged loggers](https://tinylog.org/v2/configuration/#tags) for having at least some tags for categorizing log entries.

[2019-06-07 14:43] #108 closed, assigned to pmwmedia

[2019-06-11 08:38] pmwmedia commented on #106
@teoincontatto Does it solve your problem? Can the issue be closed?

[2019-06-11 08:39] pmwmedia commented on #107
@twogoods Can the issue be closed?

[2019-06-12 12:21] twogoods commented on #107
@pmwmedia It work,  but i think framework adapt this case is better.
And shared file writer can support rolling policy?

[2019-06-12 22:09] pmwmedia commented on #107
`Thread.currentThread().getContextClassLoader()` works for all use cases I know yet. The only known exception is the Java agent example you have posted here. Theoretically, tinylog could follow the way of Apache Log4j 2 to try two different class loaders (see [Loader.java](https://github.com/apache/logging-log4j2/blob/master/log4j-core/src/main/java/org/apache/logging/log4j/core/util/Loader.java#L

[2019-06-13 07:40] pmwmedia commented on #85
SLF4J 1.8 seems to be dead as this version has been removed from the official download page: https://www.slf4j.org/download.html

[2019-06-13 07:40] #85 closed, assigned to nobody

[2019-06-18 19:10] pmwmedia commented on #106
Closed due to missing response. Can be reopened later if required.

[2019-06-18 19:10] #106 closed, assigned to pmwmedia

[2019-06-18 19:13] #107 closed, assigned to nobody

[2019-06-19 09:29] subinsoman commented on #91
can i try this?

[2019-06-19 09:32] pmwmedia commented on #91
A pull request is welcome!

[2019-06-28 01:58] lfom opened #109 "Android Implementation"
Hello! First, thanks for Tinylog, it is great! But I am having a few issues using it on Android... I am running Android Studio 3.4.1, project is built using Gradle 5.4 and plugin version 3.4.1, with the latest Tinylog:

I have searched a lot, bit I could not fix these issues:

1. I get this error when running the app:

`W/System.err: LOGGER WARN: No logging framework implementation found in classp

[2019-06-28 12:24] pmwmedia commented on #109
Could you provide a fully working minimal sample project that demonstrate your issues? I would like to analyze these issues as I'm close to release the first major version of tinylog 2. I want to ensure that there are no severe bugs before releasing.

If tinylog can't find "tinylog-impl.jar", logging via tinylog including it's Logcat writer won't work at all. So, the first issue is the one to solv

[2019-06-28 18:07] lfom commented on #109
Hi. Thank you for your reply. You mean the old bug with the same error? It wasn't on Android, just the error message was the same (issue #96). The project I am working on is quite big (AmazMod) but as soon as I can I will try to add Tinylog to another smaller app and publish it on GitHub for testing.

[2019-06-28 18:37] pmwmedia commented on #109
Issue #96 is fixed in the tinylog version you are using.

The best way would be, if you could create a new minimalist Android project that does nothing else than using tinylog and demonstrating the issue: `W/System.err: LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.`

[2019-06-28 22:59] lfom commented on #109
Hello, again. Maybe this helps:

I am using AndroidX libs in Android Studio, gradle.properties has the code below:
`android.useAndroidX=true`
`android.enableJetifier=true`

EDIT: I think I got it working... About the error: the app has one service that runs as a plugin of a system process (a widget for a SpringBoard server), and when we started to use Tinylog many of the system processes also were

[2019-07-01 16:00] pmwmedia commented on #109
You are welcome!

[2019-07-01 16:00] #109 closed, assigned to nobody

[2019-07-02 08:12] pmwmedia commented on #109
@lfom Where do you initialize tinylog's configuration now? What is your entry point before any other class can log?

[2019-07-05 21:16] lfom commented on #109
I have added the call to configuration in `attachBaseContext` of the Application class, and it it working great now. Thanks again.

[2019-07-07 14:21] pmwmedia commented on #109
@lfom Thanks for your feedback!

[2019-07-07 19:35] lfom commented on #109
Just confirming it: the error about `tinylog-impl.jar` was really the use of Tinylog in the widget, what uses a special context, what prevented Tinylog to work in that class. I have replaced it with android.util.Log just in the widget and I don't get the message anymore.

[2019-07-13 08:38] frozen-chameleon opened #110 "Include an automatic module name in the manifest"
Adding an automatic-module-name manifest entry will make it easier to use tinylog in a modular java application without making tinylog a modular application itself.

[2019-07-13 10:10] pmwmedia commented on #110
@frozen-chameleon Could you create a pull-request? I would publish it in Version 2.0.0-RC2.

[2019-07-13 12:36] frozen-chameleon commented on #110
Unfortunately I do not have much experience with maven. I managed to add the entries by editing the pom.xml of each module.
[code]
A unique automatic-module-name has to be provided for each module. The naming depends mainly on how you want to structure the project.

Some ideas:
tinylog-api => org.tinylog / org.tinylog.base / org.tinylog.core / org.tinylog.api
tinylog-api-kotlin => org.tinylog.kotl

[2019-07-13 21:04] pmwmedia commented on #110
Thank you for your suggestion!

I prefer the following module names:

tinylog-api => org.tinylog.api
tinylog-api-kotlin => org.tinylog.api.kotlin
jul-tinylog => org.tinylog.api.jul
tinylog-impl => org.tinylog.impl
tinylog-jul => org.tinylog.adapter.jul

[2019-07-15 19:51] pmwmedia commented on #110
I have added Automatic-Module-Name to all manifest files.

@frozen-chameleon Can you test them, if they work as expected in your modular application?

**tinylog**

[tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/3393934/tinylog-2.0-SNAPSHOT.zip)
[tinylog-kotlin-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/3393937/tinylog-kotlin-2.0-SNAPSHOT.zip)
[tinylog-scala-2

[2019-07-16 17:39] frozen-chameleon commented on #110
I tested `tinylog-2.0-SNAPSHOT.zip` and `jul-tinylog-2.0-SNAPSHOT.zip` and `slf4j-tinylog-2.0-SNAPSHOT.zip`. Everything is working fine in my project when I add `requires org.tinylog.api;` in `module-info.java`.

As a side node: Windows Defender flagged tinylog-2.0, tinylog-kotlin-2.0 and tinylog-scala-2.0  snapshots as a virus (Trojan:Java/Tisifi.C). The flagged file is `tinylog-impl-2.0-SNAPSHOT

[2019-07-16 20:16] pmwmedia commented on #110
@frozen-chameleon Thank you for testing! Yes, that is a false positive that Windows Defender likes to report sometimes for unknown JAR files for any reason. I received it also for JARs of other projects in the past. As soon as Windows Defender has scanned such a JAR file on multiple but different PC, it will not be reported anymore.

[2019-07-16 20:16] #110 closed, assigned to nobody

[2019-07-24 01:48] re-thc opened #111 "Add int values to Level enum"
Hi, level is an enum without int values assigned. Can you add int values to them?

This way they can be queried and stored as ints. Maybe have a variable option like levelnum or something so it gets output this way? Saves space / cpu if needed.

[2019-07-24 12:43] simonsilvalauinger opened #112 "feature request: default values for environment variables in config file"
Hi,
I request a simple feature which could be useful.
At the moment it's possible to use environment variables in the config file. But if I use them, e.g. for the log level, I can not set a default value for unset environment variables. Instead I get an error message at application start that tells me that the environment variable could not be found and that the given key is not a valid value.
It

[2019-07-26 20:38] pmwmedia commented on #111
I could imagine a new placeholder `{level-code}` for format patterns that outputs 0 (OFF) ... 5 (TRACE).

@hc-codersatlas Could you provide a pull request?

[2019-07-26 20:43] pmwmedia commented on #112
Thank you for your suggestion! I like you your idea :)

I could imagine `$(NAME:DEFAULT}` as syntax for environment variables, and `#(NAME:DEFAULT}` for system properties. However, the colon and default value should be optionally.

@simonsilvalauinger Could you provide a pull request?

[2019-07-29 03:46] rgoers opened #113 "Benchmarks for Log4j and Logback do not use buffering."
The vast majority of users will use buffering on their files as writing is extremely slow otherwise.

[2019-07-29 05:07] re-thc opened #114 "Yaml configuration support"
Add optional yaml support for config please

[2019-07-29 16:18] pmwmedia commented on #113
The benchmarks support buffering for Log4j and Logback:

https://github.com/pmwmedia/tinylog/blob/v2.0/benchmarks/src/main/java/org/tinylog/benchmarks/logging/Log4j1Benchmark.java#L134

https://github.com/pmwmedia/tinylog/blob/v2.0/benchmarks/src/main/java/org/tinylog/benchmarks/logging/Log4j2Benchmark.java#L108

https://github.com/pmwmedia/tinylog/blob/v2.0/benchmarks/src/main/java/org/tinylog/be

[2019-07-29 16:18] #113 closed, assigned to nobody

[2019-07-29 16:27] pmwmedia commented on #114
I prefer properties files as a primary and official configuration of tinylog. Multiply ways of configuration will make it much more difficult to keep the documentation of tinylog up-to-date and complete for all configuration options.

However, I would accept a third party project and I can imagine to make the configuration of tinylog pluggable to make it easy to develop such configuration extensio

[2019-07-29 16:35] rgoers commented on #113
Unless I misunderstand, these only support buffering when using asynchronous logging.  Buffering should not be related to async logging.

[2019-07-29 17:40] pmwmedia commented on #113
You are right, I have published only a synchronous unbuffered (typical development environment) and an asynchronous buffered benchmark (typical production environment) on https://tinylog.org/v2/benchmark/. I know that there also many other common configurations. However, I don't want to overflow the benchmark page. A synchronous buffered logging will be between the both published benchmark and cha

[2019-07-29 17:46] rgoers commented on #113
Is tinylog's synchronous benchmark using unbuffered i/o? If not then you are comparing apples to oranges.

[2019-07-30 03:19] pmwmedia commented on #113
All logging frameworks including tinylog uses unbuffered i/o in the synchronous benchmark (yellow bars) and buffered i/o in the asynchronous benchmark (blue bars). For me, this looks like fair and same conditions for all of them. Why do you think this is like comparing apples to oranges?

[2019-08-03 18:43] Cyb0rk opened #116 "Problem with Rolling File Writer behavior"
Hi there,

I have an Issue with the Rolling File Write behavior.

In Tinylog 1.x the files get created by this schema if I setup 10MB filesize and 10 backups:

[code]

Tinylog 2.x creates the files via the following schema with the same settings:

[code]

In Tinylog 1.x I use this settings:

[code]

in Tinylog 2.x I use this settings:

[code]

Could it be possible to change to 1.X behavior? This s

[2019-08-04 18:39] pmwmedia commented on #116
You can find the reasons for the change here: https://github.com/pmwmedia/tinylog/issues/103#issuecomment-495292048

However, I could imagine to make the count placeholder configurable to get the old behavior if really needed.

[2019-08-05 16:12] Cyb0rk commented on #116
Hello there,

if you could add a switch like "logrotate behavior" that would be greate. Otherwise I'll just switch to rotate logfiles via logrotate.

But I won't switch from tinylog to any other library. Tinylog is really great and with its small footprint and simple configuration it fits all of my needs :)

Great job with tinylog!

[2019-08-09 14:21] pedroguialves opened #117 "Problem using two policies. (daily and size)"
I'm trying to use two policies at tinylog.properties :
`tinylog.writer.policies = size: 1MB, daily`
however just **size** policy is working.

**Obs** : When I try to use just the daily policy it is working.

My question is know if is possilble work with two policies and know if i am doing something wrong.

Thanks.

[2019-08-10 01:54] pmwmedia commented on #117
It should be possible to use to use multiple policies for the rolling file writer. I will try if I can reproduce your issue with tinylog 1.3.6.

@pedroguialves Could you provide your whole tinylog configuration just for any case?

[2019-08-12 11:44] pedroguialves commented on #117
i'm sending whole my configurations.

Thank you @pmwmedia

[code]

[2019-08-16 23:32] pmwmedia commented on #117
I have tested your configuration and daily policy works even in combination with size policy correctly.

Java Application

[code]

Configuration

[code]

Generated log files

[log.2019-08-16 22-48-14.log](https://github.com/pmwmedia/tinylog/files/3511399/log.2019-08-16.22-48-14.log)
[log.2019-08-17 00-00-14.log](https://github.com/pmwmedia/tinylog/files/3511400/log.2019-08-17.00-00-14.log)

[2019-08-20 22:26] #112 closed, assigned to simonsilvalauinger

[2019-08-21 08:15] pmwmedia opened #118 "Fix Travis Builds"
Currently both Travis builds fail for different reasons:

**JDK: oraclejdk9 Java**

Fails on v2.0 and v2.1 branch with the same error.

[code]

https://travis-ci.org/pmwmedia/tinylog/jobs/574625672#L268

**JDK: oraclejdk9 Java**

Fails only on the v2.0 branch.

[code]

https://travis-ci.org/pmwmedia/tinylog/jobs/574625673#L5281

[2019-08-21 21:45] pmwmedia commented on #118
Fixed by commits f685eddc2f48c509fe7913c32510cb6cba8f7a9b, b729584053e18fc87019109ae4a0786eb7602588, and ec8e3ec1391efb83753e3818b3b6057be7d2c9ed

[2019-08-21 21:45] #118 closed, assigned to nobody

[2019-08-22 16:37] mikehearn opened #119 "Support for SLF4J 2.0"
In https://github.com/pmwmedia/tinylog/issues/85 I requested support for the SLF4J 1.8 which does Jigsaw. It was closed as SLF4J 1.8 disappeared, but now it's back as SLF4J 2.0

It'd still be good to have support for this!

[2019-08-22 16:49] pmwmedia commented on #119
Is the API compatible with SLF4J 1.7? Would you be able to provide a pull request?

[2019-08-22 16:58] mikehearn commented on #119
I think it is, yes.

If I find time I'll take a look.

[2019-09-13 04:36] maxnz opened #120 "Service implementation 'x' not found when extending Writer"
I'm trying to extend tinylog to add a writer that writes to a socket. I've followed the documentation but I get `LOGGER ERROR: Service implementation 'socket' not found`
<img width="704" alt="TinyLog output" src="https://user-images.githubusercontent.com/16338288/64837736-8f362d00-d5b5-11e9-887e-e870bd980e88.png">

The program works perfectly fine other than not writing logs to the right place.

W

[2019-09-13 08:22] pmwmedia commented on #120
@maxnz I will take a look! Probably, Kotlin doesn't generate a compatible constructor.

[2019-09-13 15:28] maxnz commented on #120
It looks like you may be right - I changed the constructor to use `java.util.Map` instead of the Kotlin `Map` and I don't get the error message anymore. I still am not getting any indication that it is being used though.

[2019-09-13 23:21] pmwmedia commented on #120
Your application doesn't issue many log entries with severity level info and higher, but there are many trace log entries. Therefore, I suggest to activate trace log entries.

However, your SocketWriter.kt works on my machine:

[code]

tinylog.properties

[code]

Output:

[code]

My JAR file: [animatedledstrip-server-0.4-SNAPSHOT-jar-with-dependencies.jar.zip](https://github.com/pmwmedia/tinylog/f

[2019-09-14 21:27] maxnz commented on #120
Looks like it's working now. Not sure what I changed to make it work. I made a lot of changes trying to fix it and then after it worked I reverted them and it still works. 🤷‍♂

It might be a good idea to add a note to the documentation about using `java.util.Map` instead of `Map` when using Kotlin.

[2019-09-14 21:27] #120 closed, assigned to nobody

[2019-09-20 10:22] sapandang opened #121 "INFO level is getting written in DEBUG level file"
Hi I have two file writer in `tinylog.properties`
[code]
using  `Logger.info("registering task ");` outputs to **debug.txt** as well as **info.txt**
am I missing something.
*****
##### using
[code]

[2019-09-20 21:27] pmwmedia commented on #121
With `writer.level`, you define the minimum severity level. That you see also info log entries in your **debug.txt** shows that tinylog works as designed. What is your use case for only writing debug log entries to a log file? I think that debug log entries are only useful in context with info, warning, and error log entries.

[2019-09-23 04:22] sapandang commented on #121
Thanks for info. I wanted to use tinyLogger to log reponses to file.
Using `Tags` solves the problem.

[2019-09-23 04:26] #121 closed, assigned to nobody

[2019-09-23 08:36] pmwmedia commented on #117
I close this issue due to no response within in a month. If required, the issue can be reopened again at any time.

[2019-09-23 08:36] #117 closed, assigned to nobody

[2019-09-23 17:12] #75 closed, assigned to pmwmedia

[2019-10-26 05:31] mancvso opened #122 "Correlation ID"
In batch processes, how can I tell the framework to log all entries with a correlation ID?

[2019-10-27 03:20] pmwmedia commented on #122
It works in tinylog similar to SLF4J: https://dzone.com/articles/correlation-id-for-logging-in-microservices

Just use the class `ThreadContext` instead of `MDC` (https://tinylog.org/v2/logging/#context-values). For output, use the placeholder `{context: correlationId}` (https://tinylog.org/v2/configuration/#format-pattern).

[2019-10-30 20:35] dzikoysk opened #123 "Configuration#set doesn't seem to work"
Hey,

If I'll try to set property using the `Configuration` class, it just does not affect logging. It looks like problem with the implementation, because if I set this property using the `System.setProperty`, everything works.

![obraz](https://user-images.githubusercontent.com/4235722/67896442-a8426f80-fb5c-11e9-8160-ee5a2cc2d8bb.png)

tinylog version: 2.0.0

[2019-10-31 12:07] dzikoysk commented on #123
Oh, my bad, I've checked the implementation and I found that `Configuration.set` does not resolve properties with `tinylog` prefix. I think it could be a good idea to make a note in docs/website about it. It's logical that the prefix here is unnecessary, but if you read examples, it may not be so obvious 😅

![obraz](https://user-images.githubusercontent.com/4235722/67945391-10399a00-fbdf-11e9-939f

[2019-10-31 12:12] #123 closed, assigned to nobody

[2019-11-03 15:38] #122 closed, assigned to pmwmedia

[2019-11-03 15:49] pmwmedia commented on #123
I have precise it in the documentation. Thank you for your hint :-)

[2019-11-12 07:08] winooxx commented on #116
The backup naming behaviour that TinyLog v1 does is far more intuitive than v2, I agree with [#116( issue comment )](https://github.com/pmwmedia/tinylog/issues/116#issuecomment-518298776). TinyLog is really simple enough to use and fits all my needs, except this little change on v2 :). Thank you for creating such a great logging framework.

[2019-11-12 11:32] Kameswari opened #124 "Tinylog usage in Android project"
Hi,

I am trying to use Tinylog library for my Android project. I have added the dependencies in build.gradle and I have created the tinylog.properties file under app\src\main\resources folder with the below properties

writer          = rolling file
writer.format   = {date:yyyy-MM-dd HH:mm:ss} {class}.{method} {level}: {message}
writer.file     = logs/TINY_log.{count}.txt
writer.charset  = UTF-8

[2019-11-12 21:35] pmwmedia commented on #124
1. Relative paths are not really predictable on Android. I would suggest to point to the files dir of your app `/data/data/[your app package]/files/TINY_log.{count}.txt`.

2. tinylog doesn't have any integrated email support. However, you can implement sending emails in your app by yourself of course. I personally would implement a web service that accepts logs and let the app sending your logs di

[2019-11-13 04:51] Kameswari commented on #124
@pmwmedia Thanks for the reply.
As per your point1, the file will be stored in internal storage of the device. But, in order to email that file, I have to store it external storage(sdcard) only since it should be accessible to email app which is outside of my app.

And the path of external storage is not consistent across all devices. Is there any way to set the path dynamically?

[2019-11-13 10:14] pmwmedia commented on #124
Yes. you can set the path dynamically. I suggest to use system properties for this purpose. In `tinylog.properties` you can configure `#{logs.folder}/TINY_log.{count}.txt` as target log file. At startup of your app, you can set `logs.folder` dynamically as system property.

For example:
[code]

Important is that you set the system property before any log entries are issued. I suggest to set `logs.

[2019-11-13 10:22] Kameswari commented on #124
@pmwmedia Thanks for the quick responses. This works well. I will continue to use this.

[2019-11-13 10:22] #124 closed, assigned to nobody

[2019-11-20 12:04] Kameswari opened #125 "Need suggestion on properties to be used"
Hi,

I have integrated this library for my Android project. Please find my requirement below.

Maximum log file size - 2mb
Maximum no.of days - 7 days

i.e. while saving logs, if any of the above conditions are met, it has to clear the total content of the log file and start logging again.

Please suggest what are the correct properties to be used.

Also, can we give the file size property in kb's

[2019-11-23 10:22] grill2010 opened #126 "No logging framework implementation when enabling proguard on Android"
Hi, I'm using tinylog version 2.0.0 on Android and it worked great. However I recently released my new app and I found out that the log file never gets created. So I started to investigate the issue. What I found out is that as soon as I enable proguard on my release build I receive following output on the logcat when I log something

My tinylog.properties file looks like this

[code]

and it is l

[2019-11-24 20:23] MarkusKramer opened #127 "'ConsoleWriter cannot be instantiated reflectively' with graal"
I'm building CLI application that I would like to compile with graal to a native image. Tinylog seems like a great fit to keep the image small.

But the graal compiler fails on tinylog with:
`Fatal error: java.lang.IllegalArgumentException: java.lang.IllegalArgumentException: Class org.tinylog.writers.ConsoleWriter cannot be instantiated reflectively . It does not have a nullary constructor.`
Usin

[2019-11-25 11:23] pmwmedia commented on #126
The problem is that tinylog cannot find `TinylogLoggingProvider` and other classes, which are loaded by `ServiceLoader`, because Proguard renames all classes. If configure Proguard to keep all tinylog class names, logging should work again:

[code]

[2019-11-25 11:33] pmwmedia commented on #125
In opposite to tinylog 1.x, tinylog2.x has no weekly policy. I dropped it as the weekly policy had been used very rarely. An alternative would be to use the daily policy and keep 7 backup log files. Maybe you have to use an higher number, as log file could be rolled much more often, if the 2 MB are reached within less than a day.

[code]

Size properties in KB work for me. Can you give me an examp

[2019-11-25 11:38] pmwmedia commented on #127
@MarkusKramer Could you provide an minimal example project? I haven't used Graal VM before and would like to reproduce the error.

[2019-11-25 12:05] grill2010 commented on #126
Yes I know this, thank you for the information. I was already playing arround with

keepdirectories
keeppackagenames
_keep enum
keep class
keep interface_

but I didn't try yet with keepnames. Will try it when I'm at home. Thank you for the info.

[2019-11-25 13:33] MarkusKramer commented on #127
I'll see if can prepare something. But I think the problem is not really related to Graal.

My theory:
The tinylog jar has files in META-INF/services. But these reference classes that are missing a public no argument constructor. Which is a violation of the java service provider spec. See https://docs.oracle.com/javase/9/docs/api/java/util/ServiceLoader.html

A simple solution would be to rename y

[2019-11-25 13:40] MarkusKramer commented on #127
Beyond this bug, I think a plain java way of configuring tinylog and without any auto-magic configuration would be beneficial. If the code can be completely statically analysed it makes live with tools like Graal or the maven shade plugin (with minify option on) much easier and the resulting artifact as small as possible.

[2019-11-25 15:21] pmwmedia commented on #126
@grill2010 Your are welcome! Please let me know if it works for you :-)

[2019-11-25 23:02] grill2010 commented on #126
Hmm, I'm not able to make it work. I think it should work but still I get the same error.
I know my proguard-rules files work because I have other rules in it which are working. I tried all sort of crazy rules now, here are a few examples

Nothing seems to be working, for now I do not have any more ideas.

[2019-11-25 23:15] pmwmedia commented on #126
@grill2010 Can you provide a minimal example project that reproduces the issue? I will analyze the cause.

[2019-11-25 23:19] grill2010 commented on #126
Sure, will try to provide some example project tomorrow.

[2019-11-25 23:48] grill2010 commented on #126
Faster than expected, here is a standard Android example with tinylog. I have included the pro guard rules and the build.gradle has minifying enabled. Same error occurs in this project.
[TinyLogExample.zip](https://github.com/pmwmedia/tinylog/files/3889300/TinyLogExample.zip)

[2019-11-26 23:23] grill2010 commented on #126
I've analyzed the apk of my example project and I found out that when I build the project with proguard enabled the folder services in the META_INF/services directory is missing completely.

[APK compiled with proguard](https://imgur.com/uTQ5UHV)
[APK compiled without proguard](https://imgur.com/cfM3Oon)

Any ideas why this happens? I didn't dig very much into the tinylog project yet so I have no

[2019-11-27 09:41] pmwmedia commented on #126
@grill2010 The only way, I found to keep the `META-INF/services` directory is to use the `-dontshrink` rule.

With these ProGuard rules, tinylog works well with your example project.

[code]

However, I don't like using the `-dontshrink` rule as it will lead to bigger APK files. Currently I'm looking for a way to bypass it.

[2019-11-27 12:21] grill2010 commented on #126
Okay I see, interesting. I was also looking around on the Internet and what I found is that there were a lot of problems with the _META-INF/services_ directory in regard to include it in the build apk and it seems somehow the problem still persists. It is somehow related to proguard and not gradle. But of course using dontshrink option is not ideal like you said...

Edit: The dontshrink removes un

[2019-11-27 13:44] pmwmedia commented on #126
I found a workaround to tell ProGuard to keep the service files:

[code]

ProGuard rules:

[code]

I plan to add these `ServiceLoader` calls directly in tinylog 2.1 to make logging with tinylog for Android developers much more convenient when using ProGuard.

For tinylog 3, I'm experimenting with a builder concept for instantiation of logging providers, writers, and policies. Then, even no ProGuar

[2019-11-27 13:58] pmwmedia commented on #127
The best way would be to introduce builders with default constructors for creating logging providers, writers, and policies. The disadvantage is that the number of classes will be doubled (on builder for each logging provider, writer, and policy), but then we can get rid of the custom service loader implementation of tinylog. This will also solve the issue with the current ProGuard version, descri

[2019-11-27 14:23] grill2010 commented on #126
Awesome. Thank you very much.
Suggestions for tinylog 3 sound good. If tinylog 2.0 is working correctly with the workaround that's good enough for me now. Looking forward to the next releases.

[2019-11-27 14:53] pmwmedia commented on #126
@grill2010  Could you test the attached JARs? They contain the workaround with the `ServiceLoader.load()` calls. You will only need the the three ProGuard rules from my last post.

[tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/3897347/tinylog-2.0-SNAPSHOT.zip)

[2019-11-27 14:56] pmwmedia commented on #127
@MarkusKramer Could you test, if the attached JARs work with Graal? All services Implementations have default constructors now.

[tinylog-2.0-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/3897359/tinylog-2.0-SNAPSHOT.zip)

[2019-11-27 14:56] grill2010 commented on #126
Sure I will test it when I have time and will let you know what are the results.

[2019-11-27 16:34] MarkusKramer commented on #127
Thanks for the quick patch. I gave it a try and it solved the issue. However, I'm getting a new error now :-)
`
Error: com.oracle.graal.pointsto.constraints.UnresolvedElementException: Discovered unresolved type during parsing: org.tinylog.Supplier. To diagnose the issue you can use the --allow-incomplete-classpath option. The missing type is then reported at run time when it is accessed the first

[2019-11-30 19:41] #126 closed, assigned to nobody

[2019-11-30 19:41] #127 closed, assigned to nobody

[2019-11-30 19:41] #95 closed, assigned to nobody

[2019-12-02 12:44] Kameswari commented on #125
@pmwmedia Thanks for the reply. I checked the size property in kbs and is working fine.

Regarding my requirement, at any point of time, all the log files size together shouldn't exceed 2MB. i.e. per day it can hold maximum 2MB size and next day, it has to erase the data and start logging again as the limit exceeded. If not exceeded, it has to create new file and shouldn't erase previous day file.

[2019-12-02 17:45] pmwmedia commented on #125
@Kameswari You can fulfill your needs by forking the rolling writer. Your requirements are very specific and cannot fulfilled without any custom Java code. Just copy [RollingFileWriter.java](https://github.com/pmwmedia/tinylog/blob/v2.1/tinylog-impl/src/main/java/org/tinylog/writers/RollingFileWriter.java), rename the class, change the code to your requiremnts, and register your custom rolling fil

[2019-12-06 17:57] danielwilson1702 commented on #124
Hi @pmwmedia , I'm trying to get this working with basic internal storage but it doesn't appear to be creating a file. Any ideas? I am using an emulator so maybe that is an issue.

res\tinylog.properties
[code]

[code]

[2019-12-09 10:49] danielwilson1702 commented on #124
Well I made a stupid mistake of confusing the `res` folder with a `resources` folder for the location of the properties file. Placing it in src/main/resources fixes the issue.

This library is the bomb.

[2019-12-13 16:36] danielwilson1702 commented on #94
@pmwmedia can you think of a reason this might come up again, in a library project? I think I'm going insane :)

[2019-12-13 17:04] pmwmedia commented on #94
@danielwilson1702 Which Kotlin and IntelliJ version are you using?

[2019-12-16 10:50] omatei01 opened #128 "Custom level (level@) per writer not working"
JHi,
Tinylog works great. A small problem with custom level. In 2.0.1 it works only custom level for all writers not for specific one.

[2019-12-16 11:34] pmwmedia commented on #128
This is a new feature request. Could you provide a pull request?

[2019-12-16 11:49] omatei01 commented on #128
sure.. but still, documentation is slightly confusing

[2019-12-16 11:54] danielwilson1702 commented on #94
Sorry for the delay! Kotlin is 1.3.61 and IntelliJ is Android Studio 3.5.3 (actually can't tell how the hell to see a specific IntelliJ version). I think it must be something about marking the project as a library. Whilst the app module in the library project also throws the error, remote consumers of the library are fine.

Dependencies in the library gradle file are specified like so:
[code]

I w

[2019-12-16 12:08] danielwilson1702 commented on #94
Ok I spent a little over an hour basically being an idiot, maybe someone else will run into this, you never know! It was confused a little by the fact that the lib consumer is a Java project, so while he uses `org.tinylog.Logger` without issue, my library project was also trying to use that when he should be using `org.tinylog.kotlin.Logger`. Now all my problems are gone (doh)

[2019-12-16 12:15] pmwmedia commented on #128
Thank you for your feedback! Which part of the documentation is confusing? How can we formulate it to avoid any misunderstanding?

The documentation is an important part of tinylog and should help users to use tinylog instead of confusing them.

[2019-12-16 13:06] omatei01 commented on #128
"If required, particular severity levels for packages or classes can be set. This overrides the default severity level.

If multiple writers are used, it is possible to define particular severity levels for them. In this case, these writers will only output log entries with the defined severity level or higher."

[2019-12-16 13:27] pmwmedia commented on #128
Thanks, I updated this section: https://tinylog.org/v2/configuration/#severity-level

I hope it is clear now!

[2020-01-01 14:44] dzikoysk opened #129 "Application uptime placeholder"
It could be great to have a placeholder that represents the current uptime of application, e.g. `{uptime}`. The init time may be the same as the logger initialization time.

Even if you don't like this proposal, it might be solved by the posiblity of being able to register custom placeholder.

[2020-01-01 17:39] pmwmedia commented on #129
A pull request for an `{uptime}` placeholder is welcome :-) I think the up time placeholder could be formatted via the same format pattern syntax as the existing `{date}` placeholder.

[2020-01-01 17:39] #125 closed, assigned to nobody

[2020-01-01 22:38] pmwmedia commented on #129
API for plain Java:
`java.lang.management.ManagementFactory.getRuntimeMXBean().getUptime()`

API for Android:
`android.os.SystemClock.uptimeMillis()`

[2020-01-01 23:01] dzikoysk commented on #129
Yeah, I was thinking about `ManagementFactory`, but it also counts JVM startup time. On the other hand maybe it could be better to separate relative uptime for each logger instance 🤔

[code]

The first one is obvious, but in fact, the second one is much more useful.

[2020-01-02 00:01] pmwmedia commented on #129
The use case for JVM up time is obvious for me. However, what is the use case for logger instances up times?

[2020-01-06 23:07] pmwmedia commented on #79
Fixed in branch v2.1

[2020-01-06 23:07] #79 closed, assigned to pmwmedia

[2020-01-06 23:09] pmwmedia opened #130 "Ideas for tinylog 3.0"
### Introduce tinylog-core artifact

Core functionality should be moved from `tinylog-api` to a new `tinylog-core` artifact. In tinylog 2, `tinylog-api-kotlin`,  `tinylog-api-scala`, and  `tinylog-impl` requires `tinylog-api` as dependency. This leads to some avoidable mistakes of using tinylog. For example, many Kotlin developers import `org.tinylog.Logger` instead of `org.tinylog.kotlin.Logger`

[2020-01-13 12:38] danielwilson1702 opened #131 "NPE while invoking tinylog from an AIDL remote interface callback"
My code is throwing an exception for this constructor:

[code]

[code]

I believe `Thread.currentThread().getContextClassLoader();` is returning null in certain instances in my app. I don't understand enough about Java or AIDLs to see what's happening here, but suffice it to say calls to log functions (such as `Logger.trace()`) are crashing when they are invoked from very specific interface call b

[2020-01-13 12:56] pmwmedia commented on #131
@danielwilson1702 Would you be able to provide an example project? Which tinylog version and Android version are you using?

[2020-01-13 15:14] ghost opened #132 "Tinylog via SLF4J cannot handle text within curly brackets"
I'm currently trying to use a project that adds curly brackets to log statements like this;`logger.info("{foo} {}", "bar")`. Tinylog tries to process `{foo}` as a placeholder that needs to be replaced by something but that isn't the case obviously. Only `{}` should be replaced by `bar`.

Expected result: `{foo} bar`

Actual output: `LOGGER WARN: Illegal argument 'bar' for pattern 'foo'` (which is

[2020-01-13 16:47] pmwmedia commented on #132
tinylog expects a DecimalFormat or ChoiceFormat compatible pattern in the curly brackets.  But 'bar' isn't a compatible pattern either of them. For example, `Logger.debug("Income: {0.00} EUR", 42)` is a valid log statement and would output `Income: 42.00 EUR`.

For solving your issue, a way for escaping curly brackets is required. I'm thinking about something like `logger.info("\\{foo\\} {}", "bar

[2020-01-13 16:52] pmwmedia commented on #132
By the way, `Logger.info("{foo} bar")` works as tinylog doesn't parse curly brackets, if there are no arguments.

[2020-01-14 10:25] ghost commented on #132
Thanks for checking this out. The project that causes this problem isn't mine so I cannot escape all curly brackets. If I can find some time I'll look into this.

[2020-01-14 11:27] pmwmedia commented on #132
What is the class name of the `logger` in the statement `logger.info("{foo} {}", "bar")`? Is it a tinylog logger or a third-party logger?

[2020-01-15 18:58] ghost commented on #132
It's a third-party logger that implements `org.slf4j.Logger`. Tinylog takes it from there of course. The project which I'm having the issue with is [Atomix](https://atomix.io/). The issue can be reproduced with the following steps:

- Perform `git clone https://github.com/atomix/atomix`
- Go to the `tests` module and replace the logback dependency with:
[code]
- Run the `RaftPerformanceTest`

Furt

[2020-01-16 14:07] danielwilson1702 commented on #131
I've tried it with a super simple AIDL / Service sample and can't repro. So it must be something relatively specific. I will try and create a very simple project with nothing but the Service I am using. Versions are:
[code]

[2020-01-16 23:09] pmwmedia commented on #132
@sanderdg Thank you for the clarification.

I think we need two different solutions:

1. For the third-party logging API like SLF4J, replace only`{}` and treat all others like `{foo}` as plain text.
2. For tinylog API, the ability to escape curly brackets, as suggested earlier.

[2020-01-19 09:47] pmwmedia commented on #132
I have implemented it on the v2.1 branch. All third-party logging API like SLF4J should keep `{foo}` untouched now and replace only curly brackets without any text between.

@sanderdg Could verify if it works for you, too?

[slf4j-tinylog-2.1-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/4082470/slf4j-tinylog-2.1-SNAPSHOT.zip)
[tinylog-2.1-SNAPSHOT.zip](https://github.com/pmwmedia/tinylo

[2020-01-23 17:57] ghost commented on #132
I've verified it and it works. Thanks for fixing this! 👍

[2020-01-23 21:52] pmwmedia commented on #132
Thank you for verifying :-) I will release it as RC2 soon.

[2020-01-23 21:52] #132 closed, assigned to nobody

[2020-01-29 11:15] danielwilson1702 commented on #131
Ok sorry this has taken a while!

I have a small [sample now located here](https://github.com/danielwilson1702/android-tinylog-bug) showing the issue. Now unfortunately you won't be able to run it because the only Service I can find that is causing the issue is the one I am using which is from the Poynt SDK. Poynt are a POS company who ask you to set up an emulator ([instructions](https://poynt.gi

[2020-02-02 22:59] pmwmedia commented on #131
The problem seems to be that Poynt creates threads with `null` class loaders. This is not really standard and will make troubles with any framework that uses services loaders. However, I think we can bypass the class loader issue. I have integrated three different ways of getting a class loader.

@danielwilson1702 Could you test the attached snapshots and provide the logger output?

~[tinylog-2.1-

[2020-02-03 08:22] danielwilson1702 commented on #131
Brilliant ok thanks for looking in to it. It is reassuring to know that Poynt are doing unusual things with their SDK and it's not the first time I've said that 😄

Using the snapshot jar seems to produce a stack overflow exception:

[code]

[Full logs](https://github.com/pmwmedia/tinylog/files/4146780/logs.txt) (probably too much info here but you get the gist!)

It doesn't seem to get in to this

[2020-02-03 10:19] pmwmedia commented on #131
It is always a bit tricky to develop something that you cannot test by yourself :-D I have fixed the endless recursion.

@danielwilson1702 Could you test again?

[tinylog-2.1-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/4147324/tinylog-2.1-SNAPSHOT.zip)

[2020-02-03 12:42] danielwilson1702 commented on #131
I'm sure it is! Ok I tested it and it looks like it's working perfectly now:

[code]

I will close this bug and be careful around any crazy Poynt functions until you roll it out. Thanks a lot 🎉 👌

[2020-02-03 12:42] #131 closed, assigned to nobody

[2020-02-03 12:57] pmwmedia commented on #131
Then I can merge my change into the v2.1 branch.

@danielwilson1702 Thank you for testing!

[2020-02-18 19:33] MairwunNx opened #134 "Library incompatible with JDK 8."
![image](https://user-images.githubusercontent.com/39625750/74770992-6c175400-529e-11ea-9eb9-79c63658b659.png)

[code]

[2020-02-18 20:42] pmwmedia commented on #134
Which tinylog version are you using?

[2020-02-18 20:44] MairwunNx commented on #134
@pmwmedia latest. (2.1.0RC-2)

[2020-02-18 20:55] pmwmedia commented on #134
I compiled the last version without the "release" profile by accident. Now, I'm recompiling it and will publish it as RC3 tonight.

[2020-02-18 21:23] pmwmedia commented on #134
Fixed and released: https://tinylog.org/v2/download-preview/

@MairwunNx Could your verify that it works now?

[2020-02-19 09:51] #134 closed, assigned to pmwmedia

[2020-02-19 13:14] MairwunNx opened #135 "No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries."
I don't know why this exception throw when i adds via gradle collect dependencies and in bundle i have all `impl` module classes.

![image](https://user-images.githubusercontent.com/39625750/74837394-72efa680-5332-11ea-8b99-edf34d906fec.png)

![image](https://user-images.githubusercontent.com/39625750/74837401-75520080-5332-11ea-9c4d-fabe08ade13f.png)

![image](https://user-images.githubuserconten

[2020-02-19 13:55] MairwunNx opened #136 "[Question] Why did you choose to use JDK 9?"
I am very interested in why you use `JDK 9`? It has not been supported for a long time, there is `JDK 8` which has been supported for a very long time and there is still `JDK 11` and `13`, why not use them? 🧐 Is there any reason for this?

[2020-02-19 14:55] MairwunNx opened #137 "Can't contribute to project: project build task cannot be performed."
Repository branch without changes and just cloned. 😰

[code]

[2020-02-19 16:29] pmwmedia commented on #137
You need JDK 9 or 10 for building. The reason is that only these both versions provide the classes `sun.reflect.Reflection` and `java.lang.StackWalker`. Both classes provides a huge performance boost. However, the compiled JAR files run on Java 6 and later (if built with profile `release`). tinylog will use `sun.reflect.Reflection` on Java 6-8 and `java.lang.StackWalker` on Java 9 and later. Howev

[2020-02-19 16:37] pmwmedia commented on #136
The reason is that Oracle decided to remove `sun.reflect.Reflection` with Java 11. However, they introduce `java.lang.StackWalker` with Java 9 as an alternative. tinylog needs one of both classes for getting elements from stack trace without any performance issues. This is one of the reasons, why tinylog is such fast: https://tinylog.org/v2/benchmark/

tinylog decides at runtime which one of both

[2020-02-19 16:37] #136 closed, assigned to nobody

[2020-02-19 16:41] pmwmedia commented on #135
I think it should be:

[code]

**Edit:** Do you have an Android project? If yes, try to add tinylog-impl as `compile 'org.tinylog:tinylog-impl:2.1.0-RC3'`. Also don't forget the ProGuard rules: https://tinylog.org/v2/configuration/#proguard

[2020-02-19 16:43] MairwunNx commented on #137
Understand you. But ... I have installed JDK 9, and i compile with it version.

[2020-02-19 16:45] MairwunNx commented on #136
Thanks, I'll know :)

[2020-02-19 16:49] pmwmedia commented on #137
Can you run `mvn -version` and post the output?

[2020-02-19 16:51] MairwunNx commented on #137
![image](https://user-images.githubusercontent.com/39625750/74855090-4434f880-5351-11ea-89a7-43849c106959.png)

[2020-02-19 16:57] MairwunNx commented on #135
@pmwmedia not, i don't have an android project, i have Minecraft Forge project, and for including libraries in bundle i must use `from configurations.embed.collect { ... }` by extending configurations.

I tried implementation and compile - not difference. If i not include impl bundle in my bundle, i get exception "NoClassFoundException" or something like that.

Library existing in bundle. Perhaps

[2020-02-19 17:43] MairwunNx commented on #135
@pmwmedia  What it is `provider=myprovider` in configuration? Why it required, i tried create this field in configuration and now i get error

[code]

[2020-02-19 17:54] MairwunNx commented on #135
Hmm, i write `provider=org.tinylog.provider.NopLoggingProvider` and i "suppress" logger errors, but i also didn't see logger messages and logger file. :(

[2020-02-19 18:12] MairwunNx commented on #135
The problem has not been solved yet, I do not know why this is happening, I am looking at the code of your library.

[2020-02-19 19:07] MairwunNx commented on #137
[code]

[2020-02-19 19:17] MairwunNx commented on #137
Resolved. For compiling need change `OJDK__JAVA_HOME` and `JAVA_HOME` variables to path to JDK 9.

[2020-02-19 19:17] #137 closed, assigned to nobody

[2020-02-19 19:22] MairwunNx commented on #137
5 min LOL 😁😁

![image](https://user-images.githubusercontent.com/39625750/74867782-540b0780-5366-11ea-9266-36a21f888fff.png)

[2020-02-19 20:35] pmwmedia commented on #135
Could you provide a minimal example project to reproduce the issue?

Pavel Erokhin <notifications@github.com> schrieb am Mi., 19. Feb. 2020,
19:12:

[2020-02-19 20:52] MairwunNx commented on #135
@pmwmedia My project depends on Minecraft Forge API, for testing mod bundle need minecraft.
I can try make simple console java application with some build script, but idk will worked it or not. If you can download minecraft forge, i can drop forge project, if don't can i can make simple console app.

[2020-02-19 22:15] pmwmedia commented on #135
If you can reproduce the issue with a simple console app, I would prefer this. However I can also install Minecraft Forge (http://files.minecraftforge.net/), if required..

[2020-02-20 05:21] MairwunNx commented on #135
Ok, ill try. Wait ...

[2020-02-20 06:03] MairwunNx commented on #135
I reproduced this bug on simple console application -> [untitled4.zip](https://github.com/pmwmedia/tinylog/files/4229061/untitled4.zip)

If you run project via task `Run` you'll get `LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.`

If you run project via command line (after building via `build` task) via command `java -jar unti

[2020-02-20 06:59] MairwunNx commented on #135
I also tried set provider on `provider=org.tinylog.core.TinylogLoggingProvider` and get error message:

[code]

[2020-02-20 07:21] MairwunNx commented on #135
I also tried call `TinylogLoggingProvider#log` directly, but it din't help.

Log:

[code]

![image](https://user-images.githubusercontent.com/39625750/74909972-79c9f800-53ca-11ea-96bf-735934e06515.png)

[2020-02-20 09:47] pmwmedia commented on #135
The problem is that the Gradle run task executes an application from `build/classes` and not from JAR. It even doesn't build any JAR. The run task adds `runtimeOnly` and `implementation` dependencies to the classpath, but not `embed` dependencies, because these are Minecraft Forge specific and not part of the Gradle standard. This is an issue of Minecraft Forge and not of tinylog. You would get th

[2020-02-20 09:52] pmwmedia commented on #135
By the way, I recommend to use `tinylog-api-kotlin` instead of `tinylog-api` for Kotlin. Then you can import `org.tinylog.kotlin.Logger` instead of `org.tinylog.Logger`. This logger is especially developed for Kotlin.

[2020-02-20 15:58] MairwunNx commented on #135
No. You can try build demo with builtin library classes, and it work.

Information at your link:

![image](https://user-images.githubusercontent.com/39625750/74953416-af92cf00-5412-11ea-977b-6c8760764a45.png)
https://www.baeldung.com/gradle-fat-jar

I am doing everything right, probably the problem is in the code that the class is looking for. All dependencies are placed in the final JAR, and I kn

[2020-02-20 16:06] MairwunNx commented on #135
I already have it configuration. And by default i was make dependencies like you.

![image](https://user-images.githubusercontent.com/39625750/74954349-08169c00-5414-11ea-90db-032c8cf5e345.png)

[2020-02-20 16:29] MairwunNx commented on #135
:( Hmmm, i don't know why always don't find impl classes, but it classes contains in bundle. ¯\_(ツ)_/¯

[2020-02-22 09:04] MairwunNx opened #138 "What about using kotlin files without object?"
Currently if we use kotlin module need type `Logger.info()` for minimal logging any message.

But, we can just remove object and it will looks like `info()` or `warn()`, but possible conflicts with `error()` with kotlin `error() // in kotlin it alias for throw()` what does throwing exceptions.

[2020-02-22 09:25] pmwmedia commented on #138
Interesting suggestion!

[2020-03-07 12:55] michieltjampens commented on #135
I've got the same issue but in a different situation...
When i run my program via java -jar program.jar it works fine.
The jar was built using maven.
But when it's started through Tanuki wrapper (to run it as a service) it show this:
LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.

[2020-03-09 22:19] pmwmedia commented on #135
@michieltjampens Could you open a new issue and provide there a minimal sample?

@MairwunNx Is there still anything I can help? The workaround I posted worked on my environment with your example project.

[2020-03-09 22:27] pmwmedia commented on #138
Actually, this works already today. For example, you can import the `info()` method of tinylog's logger via `import org.tinylog.kotlin.Logger.info` and issue a log entry by `info("Hello World!")`.

It works even with `error()` !

[2020-03-10 20:42] MairwunNx commented on #138
Oh, really cool! 😁😁

[2020-03-10 20:45] pmwmedia commented on #138
I close this issue as no changes are required ;-)

[2020-03-10 20:45] #138 closed, assigned to nobody

[2020-03-11 23:48] #135 closed, assigned to nobody

[2020-03-11 23:49] pmwmedia opened #139 "Compress Backup Files"
After starting a new file, the rolling file writer should be able compress backup files optionally.

[2020-03-12 05:05] michieltjampens opened #140 "No logger implementation found when using Tanuki Wrapper."
When the jar is run, no errors are given. So the build is fine. But when the jar is started through a bat file that calls the wrapper,

To replicate, first run the DAS.jar (to see it works properly) and then the Test.bat (both found in the bin folder).
[Tanuki_tinylog.zip](https://github.com/pmwmedia/tinylog/files/4326612/Tanuki_tinylog.zip)

[2020-03-12 08:01] pmwmedia commented on #140
Could you provide the source code and your build script?

[2020-03-12 08:32] michieltjampens commented on #140
[Tanuki.zip](https://github.com/pmwmedia/tinylog/files/4323110/Tanuki.zip)
Here's the whole eclipse folder.

[2020-03-12 20:03] pmwmedia commented on #140
I will have a look tomorrow.

[2020-03-12 20:26] michieltjampens commented on #140
Sounds great.
Not sure if it makes a difference but it happens on jdk8 and jdk11 and on most recent and older versions of tanuki.

Ok, found a first step, in the dasWrapper.conf, adding the bottom two lines fixes the not found issue but the tinylog.properties isn't found/applied...
[code]
edit: removed one dot to use the lib folder from the project.

And alter this line to find a properties file:

[2020-03-13 08:04] michieltjampens opened #141 "Combining rolling and count"
Probably more a question than an issue/bug.

With this as writer setup i get the following files:
![rolling_numbers](https://user-images.githubusercontent.com/60646590/76601570-788f7500-6509-11ea-8c14-38dafe651ebc.jpg)
Is this a bug or how do i make it so it restarts the count by day?

[2020-03-13 11:19] Kameswari opened #142 "Android device - Unable to save logs with tinylogs"
Hi,

I have used this tinylog library and able to save and retrieve logs on Android simulator. But this is not working on Android device. Below are the properties I used.

writer          = rolling file
writer.format   = {date:yyyy-MM-dd HH:mm:ss} {level}: {message}
writer.file     = #{logs.folder}/log.{count}.txt
writer.charset  = UTF-8
writer.policies = size: 1mb
writer.backups  = 1

I have used

[2020-03-13 15:22] martinandersson opened #143 "Throw UnsupportedOperationException for runtime configuration attempts"
I read in the JavaDoc of [`Configuration`](https://tinylog.org/v2/javadoc/org/tinylog/configuration/Configuration.html) that attempts made to change the configuration once it has been put in use will be silently ignored.

In my opinion this is a bad design. The most obvious reason being that real-world applications may wrongfully assume that they can make configuration attempts during runtime only

[2020-03-13 17:42] pmwmedia commented on #141
~~Currently, the count works globally. However, I agree that it would be nice to have a count that restarts when the rest of the path (before the count placeholder) has changed.~~

**Update:** My first assumption was wrong, see https://github.com/pmwmedia/tinylog/issues/141#issuecomment-794532251

[2020-03-13 17:45] michieltjampens commented on #141
That in combination with the compression would be ideal. I might look into it next week.

[2020-03-13 17:48] pmwmedia commented on #142
I assume that your apps doesn't have the required privileges to write any files to the configured folder. What happens if you try to write into the configured folder by your app directly?

[2020-03-13 17:59] pmwmedia commented on #140
I propose to post this issue to [Tanuki's user mailing list](https://sourceforge.net/p/wrapper/mailman/). Your workarounds look like that the problem is very Tanuki specific and we cannot do much from tinylog side.

[2020-03-13 18:07] michieltjampens commented on #140
Well the project has 17 other jars besides Tinylog that work fine and so did it when using logback (before switching to tinylog). So i think it might be a combination of how tanuki handles jars and how the api impl mix works? But i'll post it there and see what the response is.

[2020-03-13 19:08] pmwmedia commented on #141
Pull requests are welcome :)

[2020-03-13 21:44] pmwmedia commented on #140
I have just tested it on my system and it works. I used a fat JAR and edited wrapper\conf\wrapper.conf.

My project: [Tanuki.zip](https://github.com/pmwmedia/tinylog/files/4331762/Tanuki.zip)

Output:
[code]

[2020-03-14 08:59] michieltjampens commented on #140
Ok, so it works if the libs are inside the main jar. In my case i'd like to keep that jar as small as possible (limited bandwith) but this is probably a good solution for others.

[2020-03-14 08:59] #140 closed, assigned to nobody

[2020-03-14 13:16] pmwmedia commented on #140
It works even without fat JAR.

Here, the libs are outside of the main JAR: [Tanuki.zip](https://github.com/pmwmedia/tinylog/files/4332764/Tanuki.zip)

[2020-03-14 13:36] michieltjampens commented on #140
Hm, gues i'll try to figure out what makes the difference...

[2020-03-17 07:29] Kameswari commented on #142
@pmwmedia
Thanks for the reply. I am already saving profilepic in my app and its saved successfully. Its saved under "files" folder of the application's internal memory which is the same path given for tinylogs too. From the logcat, I have seen the below error.

2020-03-17 12:54:53.027 29845-29845/com.carrier.myway W/m.carrier.mywa: Accessing hidden method Ldalvik/system/VMStack;->fillStackTraceEl

[2020-03-17 08:05] pmwmedia commented on #142
That is no problem, just a warning about usage of internal API what tinylog does for performance reasons.

This is the real cause for your issue. Please ensure that you set the system property before any log entry will be issued.

Only a subsequent error.

[2020-03-17 09:01] Kameswari commented on #142
@pmwmedia
Thanks for the reply. You are right. I am calling the setproperty after issuing the log entry.

Your answer helped a lot and resolved my issue. Thanks once again.

[2020-03-17 09:01] #142 closed, assigned to nobody

[2020-03-17 10:17] pmwmedia commented on #142
Your are welcome :-)

[2020-03-20 09:17] karklik opened #144 "Conditional formatting of numbers is not working with SLF4J"
Hello,
Recently I have started using this wonderful framework :) and found out that one of features mentioned in documentation is not behaving correctly with SLF4J wrapper in my project and I'm not sure it it is any kind of limitation or a bug so please take a look on following details.

### Example code:
[code]

### Console output:
[code]

### Configuration
default

### java -version
[code]

###

[2020-03-21 10:45] pmwmedia commented on #144
Firstly, thank you very much for the complete and very good documentation of your issue!

Until version 2.1, tinylog used the same algorithm for formatted log messages, regardless by which logging API these have been issued. This caused some problems and incompatibilities when log messages contained curly brackets to output.

For example, if a user wants to log a JSON object via SLF4J by calling `

[2020-03-23 12:33] karklik commented on #144
Thanks for detailed explanation 👍 In that case I'm closing issue.

[2020-03-23 12:33] #144 closed, assigned to nobody

[2020-03-23 21:13] shoneslab opened #145 "Tinylog with graalvm thows java.lang.UnsatisfiedLinkError:"
Getting error in executing a simple java code using tinylog , graalvm. Any help is appreciated.

gradle dependencies
[code]

When running the executable, generated by graalvm, it throws error.
[code]
The steps are

[code]
and the error throws on `build/graal/crauto` command

[2020-03-23 21:33] pmwmedia commented on #145
@shoneslab Could you provide a minimal example project to reproduce the error? Which Java / GraalVM versions are you using?

[2020-03-23 22:15] shoneslab commented on #145
Please find the github repo for the same: https://github.com/shoneslab/graal-logging
I am using Java 8
GraalVM is provided  by the plugin `com.palantir.graal` and managed by gradle which is 19.2.0

[2020-03-23 22:50] pmwmedia commented on #145
Which steps do I have to follow to reproduce your issue?

Run task:
[code]

Native Image Task:
[code]

[2020-03-23 23:08] pmwmedia commented on #145
In the meantime, I built a tinylog version that can handle the `java.lang.UnsatisfiedLinkError` and fallback to other stack trace extract methods. Could you test it?

[tinylog-2.1-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/4372296/tinylog-2.1-SNAPSHOT.zip)

[2020-03-24 00:25] shoneslab commented on #145
Sorry the steps are
[code]

and the error throws on `build/graal/crauto` command

[2020-03-24 01:27] shoneslab commented on #145
After updating with the provided jar files, here is the new Error.

build.gradle
[code]
Error
[code]

[2020-03-24 07:29] pmwmedia commented on #145
Thank you for testing! We are already one step further.

It is (almost) impossible to build a native imagine with GraalVM on Windows. I will set up a Linux VM for reproducing the issue.

[2020-03-24 18:28] pmwmedia commented on #145
You have to generate a native image configuration for GraalVM. Using the Gradle build script below, you just need to do the following steps to make the build working:

1. `./gradlew clean generateConfiguration`
2. `./gradlew nativeImage`
3. Voila, `./build/graal/crauto` is working :)

Gradle build script:

[code]

[2020-03-24 20:29] #145 closed, assigned to nobody

[2020-03-24 20:36] pmwmedia commented on #127
@MarkusKramer With version 2.1.1, you can finally use tinylog in native images (tested with GraalVM 19.2.0 and Java 8). Fully working example: https://github.com/pmwmedia/tinylog-graal-example

[2020-03-24 21:08] shoneslab commented on #145
Thanks a lot. I totally forgot about that. It works like a charm!!!

[2020-03-25 00:06] shoneslab opened #146 "writer file name with date"
Is it possible to put date on the log file.

[code]

The file was created like `app-{date}.log`.

[2020-03-25 08:22] pmwmedia commented on #146
Please use the rolling file writer:

[code]

[2020-03-25 08:22] #146 closed, assigned to nobody

[2020-03-25 13:50] shoneslab commented on #146
Thanks. This works
[code]

[2020-05-03 02:37] chengm349 opened #147 "Tinylog does not work in Eclipse plugin"
please refer to the [link](https://www.eclipse.org/forums/index.php?t=rview&goto=1826693#msg_1826693) to get all information.

[2020-05-03 09:13] pmwmedia commented on #147
Closed in favor to https://stackoverflow.com/questions/61318315/how-to-use-tinylog-in-eclipse-plugin.

@chengm349 I added the missing tinylog tag in your question on StackOverflow.

[2020-05-03 09:13] #147 closed, assigned to nobody

[2020-05-22 22:25] ralleal commented on #63
Hi,
Regarding making a colored console writer in version 2, how could I approach it?  If I extend the Writer, I lose the formatted pattern, and if I extend the AbstractFormatPatternWriter, I cannot see how could I control the individual elements of the pattern so I could wrap them with ANSI colors. I just have access to a render().
Thanks!

[2020-05-23 10:00] pmwmedia commented on #63
I suggest to implement directly the interface [Writer](https://github.com/pmwmedia/tinylog/blob/v2.2/tinylog-impl/src/main/java/org/tinylog/writers/Writer.java), if you want to create a colored console writer in the [same way](https://github.com/tobiasrm/tinylog-coloredconsole) as tobiasrm did for tinylog 1.

In the constructor of your writer, you can manipulate the format pattern and insert the A

[2020-05-23 22:51] ralleal commented on #63
Ok, I get the idea, I was complicating things :-)
Nice work with Tinylog btw, it's simple and fast, we couldn't ask for more :-) I think it should be more widely used.
Thanks!

[2020-05-23 23:04] pmwmedia commented on #63
You are welcome! Let me know when you are done with the implementation :-)

[2020-05-31 15:42] pabl0rg opened #148 "Add R"

[2020-05-31 15:43] #148 closed

[2020-05-31 15:46] pabl0rg opened #149 "Add RollingFileWriter option to link to latest log segment"
It would be very handy (especially for log-monitoring) to have a quick way to get to the latest log segment when using RollingFileWriter.

this could be done via an option like:
`-Dtinylog.writer.linktolatest=/var/log/xyz/latest.log`

where the writer keeps `/var/log/xyz/latest.log` symlinked to the latest segment

[2020-06-09 07:00] moxit0 opened #151 "TinyLog module-info.java"
Hello, have you thinking about providing module-info.java module descriptor then TinyLog to be compatible with Java Platform Module System and make possible creating of runtime image with jlink ?

[2020-06-09 13:03] pmwmedia commented on #151
Hi, due to Android compatibility, tinylog needs to be compiled as Java 6 byte code. When I added module information to the tinylog JARs, I couldn't find any convenient way in Maven to set Java 6 byte code as compiler output, but providing also module-info.java files.

Instead, I have set the `Automatic-Module-Name` entry in all Manifest files. According to the feedback I received that time, all ti

[2020-06-09 20:15] moxit0 commented on #151
Hi, thank you for your answer. I am developing app which UI is based on JavaFX. Since I need a real multi platform solution I am using Jlink creating a runtime image. It works perfect with libraries migrated to JPMS but without success with those that have automatic modules. I am using "javafx-maven-plugin" for launching an application and creating of runtime image as well. Integrating TinyLog is

[2020-06-09 22:10] pmwmedia commented on #151
I see, automatic module cannot be used with jlink. We need another solution.

[2020-06-09 22:13] pmwmedia commented on #151
ModiTect looks promising:
https://github.com/moditect/moditect/#adding-a-module-descriptor-to-the-project-jar

[2020-06-10 21:12] moxit0 commented on #151
Thank you for offering a workaround but unfortunately I still cannot make it work. Using example of your link:
[code]
but result is :
[code]
I even have no Idea what the problem is :)

[2020-06-10 23:49] pmwmedia commented on #151
There is a misunderstanding :D I want to use ModiTect in the tinylog project itself for generating valid modules.

[2020-06-11 05:15] moxit0 commented on #151
Ohh great :D will looking forward for a new Jlink compatible version.

[2020-06-15 12:40] pmwmedia commented on #151
Wait for https://github.com/moditect/moditect/issues/122

[2020-06-22 14:24] #151 closed, assigned to pmwmedia

[2020-06-22 19:17] pmwmedia commented on #151
@moxit0 Could you test the latest version with Jlink: [tinylog-2.2-SNAPSHOT.zip](https://github.com/pmwmedia/tinylog/files/4815160/tinylog-2.2-SNAPSHOT.zip)?

[2020-06-22 19:34] moxit0 commented on #151
Sure, soon will give you feedback.

На пн, 22.06.2020 г. в 22:17 Martin Winandy <notifications@github.com>
написа:

[2020-06-23 05:18] moxit0 commented on #151
Hi,

How did you test the modules ? I am using Intellij and Maven, added jars
from tinylog-2.2-SNAPSHOT.zip as a library to Intellij but when I run mvn
install result is:
*[ERROR] Failed to execute goal
org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile
(default-compile) on project common: Compilation failure: Compilation
failure: *
*[ERROR] /xxx/PROJECT/common/src/main/java/module-info.

[2020-06-23 09:53] #149 closed, assigned to pabl0rg

[2020-06-23 12:33] #128 closed, assigned to nobody

[2020-06-23 20:09] #143 closed, assigned to pmwmedia

[2020-06-23 20:18] pmwmedia commented on #151
@moxit0 I have just released all artifacts as version 2.2.0-M1

[2020-06-23 21:21] martinandersson commented on #143
Why was this issue closed?

Did you look into the Files JavaDoc? I found 33 UnsupportedOperationException documented, you know, thrown if user attempts to use an unsupported option. How is this any different than what we're doing?

This is what I read from Tinylog's [`Configuration`](https://tinylog.org/v2/javadoc/org/tinylog/configuration/Configuration.html) JavaDoc:

Am I the only one who think

[2020-06-23 21:44] pmwmedia commented on #143
This issue is closed as it has been fixed by commit 827e86f. Originally, it was even planed to be part of tinylog 2.2.0-M1. However, due to a late push, it will be part of second milestone.

[2020-06-23 21:53] moxit0 commented on #151
Hi,

it is working now, Jlink can be executed and runtime image is created
successfully.

Thank you.

На вт, 23.06.2020 г. в 23:19 Martin Winandy <notifications@github.com>
написа:

[2020-06-23 21:55] pmwmedia commented on #151
@moxit0 Thank you for testing!

[2020-06-24 11:33] martinandersson commented on #143
Nice, thanx! =)

[2020-07-05 13:00] sezinkarli commented on #111
Hello there, I'd like to work on this if it's ok. Can you help me by giving me a starting point for this?

[2020-07-05 14:20] pmwmedia commented on #111
I good starting point is [SeverityLevelToken.java](https://github.com/pmwmedia/tinylog/blob/v2.2/tinylog-impl/src/main/java/org/tinylog/pattern/SeverityLevelToken.java). This class outputs the severity level name. You could copy the class and output a severity code number instead of the name in your new class. Afterwards you can register your new format token class in [FormatPatternParser.java](ht

[2020-07-05 16:39] sezinkarli commented on #111
Great thanks!

[2020-07-05 17:59] sezinkarli commented on #111
Sorry to say that I was not able to manually test my changes because I'm not able to build the whole project. I'm getting this:

[2020-07-05 19:13] pmwmedia commented on #111
@sezinkarli I get the same exception if I use a computer behind a proxy. You can skip this step by running Maven with `-Dmaven.javadoc.skip=true`.

[2020-07-07 08:35] #111 closed, assigned to sezinkarli

[2020-07-13 15:22] sezinkarli commented on #139
Hello, can I work on this?

[2020-07-13 15:46] pmwmedia commented on #139
I'd be more than happy. May I assign the Issue to you?

[2020-07-14 09:14] sezinkarli commented on #139
Yes sure. I guess RollingFileWriter is the place to implement it?

[2020-07-14 09:30] pmwmedia commented on #139
Yes, you are right, it is `RollingFileWriter`.

[2020-07-14 10:52] sezinkarli commented on #139
I checked RollingFileWriter and have few questions.
I'm using this config while debugging:

writer          = rolling file
writer.level    = debug
writer.format   = {level}: {message}
writer.file     = log_{count}.txt
writer.charset  = UTF-8
writer.buffered = true
writer.policies = startup, size: 1 kb
writer.backups  = 10

My questions are:
-Where should we add the "zip backups" property? Policies

[2020-07-14 18:04] aerturk opened #154 "Monthly Rolling File policy"
Currently there is only daily policy for rolling file. Is it possible to add a monthly policy. I want to write to log file in log-file-{date: yyyy-MM}.log and rotate log file at at midnight 1st day of each month.

[2020-07-14 18:53] pmwmedia commented on #154
A monthly policy had already existed in tinylog 1.x, but I discontinued it for tinylog 2.x due to rare usage of this policy. However, I could imagine to reintroduce a monthly policy. It doesn't have the highest priority for me, but I would accept a pull request.

[2020-07-14 19:15] aerturk commented on #154
I tried to extend Policy and register it but does not work.  (META-INF/services includes an empty file with package name)

[code]

[2020-07-14 23:45] pmwmedia commented on #139
To answer your questions:
1. I suggest to add a new (optional) property `writer.compress = gzip` (maybe we can add other compression formats in future)
2. Yes, I propose to delete uncompressed log files after the compression immediately. and to delete compressed backups
as soon as there are more than configured.
3. Do you mean that `path.getAllFiles()` does not contain compressed backups due to an

[2020-07-15 08:29] Kameswari commented on #126
@pmwmedia
Hi, is this issue addressed in latest tiny log version? For me also, log file is not generated in release mode build. I added the below progaurd rules as you mentioned and upgraded the tiny log library to 2.1.2. But still log file is not generated.

##---------------Begin: tinylog  ----------
-keepnames interface org.tinylog.**
-keepnames class * implements org.tinylog.**
-keepclassmembe

[2020-07-15 09:13] sezinkarli commented on #139
Thanks for the answers. In (3) I meant that even though I didnt do any changes in the code and set backups to 10, nothing is picked up in getAllFiles() (despite there are 30 log files there) so nothing is deleted. My log files keep piling up.

When I use writer.file = log_{count}.txt it does not find any files. I changed it to an absolute path and it works.
Like this
writer.file     = c:/log/log_{

[2020-07-15 11:17] pmwmedia commented on #139
@sezinkarli This seems to be a bug! I will analyze it.

[2020-07-15 11:20] pmwmedia opened #155 "Backup files won't be deleted if using relative paths"
Example configuration:

[code]

See #139

[2020-07-15 11:23] pmwmedia commented on #126
@Kameswari Are you able to reproduce this issue by using the official example project https://github.com/pmwmedia/tinylog-android-example?

[2020-07-15 18:45] #155 closed, assigned to pmwmedia

[2020-07-16 09:06] pmwmedia commented on #154
@aerturk I have seen that you posted your implemented monthly policy here, but deleted afterwards. Will you provide the policy as pull request? I assume that also other users will benefit from it :)

[2020-07-16 09:09] ghost commented on #154
Hello,

I dont know much about git and those pull requests. So the implementation is below. I dont know if it is corerct but It works in my setup.

[code]

[2020-07-16 11:29] Kameswari commented on #126
@pmwmedia Your sample is working fine. Going through my code and analyzing where I did wrong. Will let you know after I figured out.

Thanks

[2020-07-16 11:43] grill2010 commented on #126
@pmwmedia sorry for not getting back to you. I've forgotten to reply, shame on me. Your example was working fine and I'm also now using the newest version of tinylog in my applications with proguard and it works now without any workarounds.
@Kameswari maybe an error in the tinylog.properties file or created it in the wrong directory?

[2020-07-16 11:51] Kameswari commented on #126
@grill2010 Thanks for the reply. I have used below properties and its working fine in debug version build. Also in release mode, if I set debuggable property as true, its working fine.

writer          = rolling file
writer.format   = {date:yyyy-MM-dd HH:mm:ss} {level}: {message}
writer.file     = #{logs.folder}/MyLogs/log.{count}.txt
writer.charset  = UTF-8
writer.policies = size: 1mb
writer.back

[2020-07-16 13:50] Kameswari commented on #126
@grill2010 @pmwmedia My mistake. I forgot that I am writing the logs only in debug mode. It's working fine. Thanks for your support.

[2020-07-18 10:14] aerturk opened #156 "New syslog writer"
Hello,

I think there is no feature in tinylog to send logs to a remote syslog server like other logging frameworks. If there a way to send to syslog by using another appender/binding or is it hard to add something like a syslogappender? Thank you.

[2020-07-26 13:18] sezinkarli commented on #139
Hey @pmwmedia, I'd like to unassign this if it's ok. I'm not able to find free time to work on this.

[2020-07-26 18:04] pmwmedia commented on #139
Hi @sezinkarli, no problem.

[2020-08-08 13:38] #129 closed, assigned to pmwmedia

[2020-08-08 16:44] dzikoysk commented on #129
Oh, I had to miss the notification about your response, sorry, I have a lot of them. Anyway, thanks for the implementation ❤️

[2020-08-11 06:39] ghost opened #157 "Change Configuration at runtime"
Is that possible to change configuration with Configuration.set at runtime? I mean I want to log information for e.g. different users/objects to different files while the software running.

When there is no created object e.g. MYOBJECT1, there will be no log file for it. When user created such an object I tried to configure a log writer and record all logs into that file by using tags also.

e.g.

[2020-08-11 07:37] pmwmedia commented on #157
When do you want to change the configuration? If you haven't issued any log entry yet, you can still change the configuration however you want at runtime. The immutability of the configuration after issuing the first log entry is one of the reasons why tinylog 2 is such fast in [benchmarks](https://tinylog.org/v2/benchmark/).

If you just want to have a rolling file writer that outputs all log ent

[2020-08-13 05:27] Git5000 opened #158 "Allow access to writer and provider"
The automatic loading via services of (custom) writers and providers is nice but prevents access to the created objects (unless you call out somewhere from the constructor). Is it possible to add getters for writers and maybe providers. The idea behind it is to change writer properties at runtime.

Possible solution:
Add getProviders() to BundleLoggingProvider to get its internal array.
Add getWri

[2020-08-15 10:18] #157 closed, assigned to nobody

[2020-08-16 08:06] Git5000 commented on #158
Attached is a possible patch for above issue. The patch is against V2.1.2 (api and impl) but I would guess it is the same against HEAD. Feedback or suggestions are of course welcome.

It affects:

- TinylogLoggingProvider.java
- BundleLoggingProvider.java
- ProviderRegistry.java

and gives you:

- ProviderRegistry.getLoggingProviders()                     // Resolves the Bundle if it is a bundle o

[2020-08-17 13:40] Git5000 opened #159 "MiniBug: NullPointerException in ThreadNameToken"
_ThreadNameToken_ (and similar _ThreadIdToken_) generate a  _NullPointerException_ if a log entry does not contain the thread entries  (LogEntry.* are null then). This normally does not happen as any format containing a {thread} entry should generate "THREAD" as required log entry. However, if a writer does not do this  (accidentaly) the _ThreadNameToken_ , ...  throw a _NullPointerException_ whic

[2020-08-17 21:19] pmwmedia commented on #158
@Git5000 Could you provide your changes as pull requests and add some JUnit tests? I would be glad to merge your changes!

[2020-08-17 21:30] pmwmedia commented on #159
I don't see this as a real bug as writers should not lie about the required log entry values. However, I would accept a pull request to fix this issue. I assume that also further tokens are affected if expected log entry values are not set. I propose to output a meaningful message instead of `"null"` like `"<Unknown Thread>"` or `"<Thread is not set>"`. Better ideas are welcome!

[2020-08-18 09:25] Git5000 commented on #159
I completely agree. It is at most a "Mini bug" (as mentioned in the title). With proper coding it should not happen. But of course it did happen :-) It is the question whether the little added safety is worth the extra code.

[2020-08-18 09:28] pmwmedia commented on #159
For me, it does not have top priority. However, I would accept a pull request.

[2020-08-19 07:42] ghost opened #162 "java -Dtinylog.writer.level=OFF does not seem to work"
I'm trying to disable the logger by overriding it with a -D, however, the log files are still being generated as zero length files. Am I doing this correctly?  Is there another way?

Using 2.2.0-M2 maven dep
Using jar tinylog.properties in jar file as follows:
[code]

[2020-08-19 09:12] pmwmedia commented on #162
Do you want to disable only one writer or logging at all? `-Dtinylog.writer.level=OFF` does not prevent the creation of the writer. It only sets the logging level for the writer. However, `-Dtinylog.level=OFF` will disable logging completely and prevent the creation of any writer.

[2020-08-19 12:18] #158 closed, assigned to Git5000

[2020-08-19 17:45] #139 closed, assigned to pmwmedia

[2020-08-19 17:56] pmwmedia commented on #116
Close in favor of #149

[2020-08-19 17:56] #116 closed, assigned to nobody

[2020-08-20 00:52] ghost commented on #162
In this one case, I need it to simply disable all writers (all logging essentially). I will try -Dtinylog.level=OFF and let you know how it works.  The end goal is not to have a zero length file upon startup.  Thanks -Alan

[2020-08-20 01:17] ghost commented on #162
Unfortunately, I can confirm that it still creates zero length log files based on the aforementioned tinylog.properties in my.jar file. I have a small snippet project that tests this in isolation.

java -Dtinylog.level=OFF -Dfile.encoding=UTF-8 -jar my.jar
<img width="1076" alt="Screen Shot 2020-08-19 at 10 23 05 PM" src="https://user-images.githubusercontent.com/9642883/90709678-b936ab80-e26a-11e

[2020-08-20 07:16] Git5000 opened #164 "Question|Feature: Multi-Tag Writer"
The following scenario occurs:

- Library 1: Logs to TAG "Lib1"
- Library 2: Logs to TAG "Lib2"
- Main program includes the libs (but cannot change them) and logs to TAG "Main"
- All tags shall appear in the the same log (typically a file, but could be something else)

So the question is (or an idea if the feature does not exists yet) is:

_Can a writer support multiple tags._

[code]

On writer c

[2020-08-20 07:42] #159 closed, assigned to Git5000

[2020-08-20 07:50] pmwmedia commented on #164
If you don't set `writer.tag`, tinylog will write all log entries (tagged and untagged) to this writer. This works for all writers including  the `file writer` and `rolling file writer`. You can also set `writer.tag = +` to write all tagged log entries but to exclude untagged log entries.

[2020-08-20 08:38] pmwmedia commented on #162
I can reproduce the issue, too

[2020-08-20 09:08] #162 closed, assigned to pmwmedia

[2020-08-20 15:15] Git5000 commented on #164
Thank you for your quick answer. With your feedback another solution is of course to make a "catchall" writer (e.g. an extension of  the FileWriter and then filter out the tags of interest (updated comment above to include that). This does fulfill the use case and question.

However, you do need to do the manual filtering and provide some "user tags" as the scenario above is simplified and it can

[2020-08-20 15:26] Git5000 commented on #164
In case this feature `writer.tag = TAG1, TAG2, TAG3` is of interest to the library: I tried as a test to put the multi tag option in the `ConfigurationParser`. It works with around 10 lines of extra code to have such a multi tag option.  You just need to fill your writer matrix on N-positions.

It needs something like
[code]
in ConfigurationParser createWriters() and a similiar loop in getTags().

[2020-08-20 17:56] pmwmedia commented on #164
You are right! It had been planned but have never been implemented for any reason. I have just realized it while reading the source code after seeing your response.

I agree, it should be enough to change these both methods. The only side effect would be that we will break support for tags with commas inside :-D However, I think we can live with that ;-)

[2020-08-20 20:05] Git5000 commented on #164
I think it is a nice enhancement in function and configuration possibility for very little effort and risk. Your architecture of the tags and levels basically asks for such a feature :-)

After your hint this morning, I implemented for my use case the "catchall" function storing the necessary tags as a "user field". The loggers work now as expected but it requires extending or copying all used wri

[2020-08-22 12:14] #164 closed, assigned to Git5000

[2020-08-24 06:19] Git5000 opened #166 "Multiple LoggingProvider entries in configuration"
Creating `LoggingProviders `gives three options:

1.  Automatically create all logging provider from the services (this includes typically the `TinylogLoggingProvider`)
2.  Creating a (user defined) provider explicitley (provider = user provider)
3.  Creating the NOP Provider for no logging (provider = nop)  - a special case of 2.

Using the options 1+2 you can create all providers or exactley one

[2020-08-24 08:44] pmwmedia commented on #166
Sounds great! Your pull request is very welcome :-)

[2020-08-24 11:16] #166 closed, assigned to Git5000

[2020-08-27 15:39] Git5000 opened #168 "Discussion about less strict code of the TinylogLoggingProvider"
**Please see this whole feature request just as basis for disussion**. It requires more in depth code changes as before (but no API or user experience change) so it is only a suggestion and basis for discussion:

**Goal:** Allow easier user defined LoggingProviders in particular resusing code of the `TinylogLoggingProvider`. Since `TinylogLoggingProvider` is very private and static one has to copy

[2020-08-27 18:40] pmwmedia commented on #168
Thank you very much for your detailed feature request! It sounds very promising :) I agree that it should become easier to implement a custom logging provider. In general, we should get rid of final and static, where it isn't necessary for performance or usability reasons. I really like your idea of introducing `TinylogLoggingConfiguration` and making `ConfigurationParser` non static.

can be usef

[2020-08-27 19:37] Git5000 commented on #168
Super. I will look at the benchmarks and see what has an effect and what not. I keep you updated (but it might take a few days).

[2020-08-27 20:06] pmwmedia commented on #168
I'm looking forward to your pull request :)

This a big change of course. No rush! As tinylog 2.2 is already close to release, I see your change in version 2.3.

[2020-08-28 05:40] ghost opened #169 "-D options suppose to override options set in tinylog.properties?"
Please correct me if I'm using this correctly.

I have a jar file with the following tinylog.properties resource settings:
[code]
If I set java -Dtinylog.writer=console then I override "rolling file", correct?

tinylog is throwing the following error in this case, even though I thought I was overriding rolling file from the -D command line option:
`ERROR: Failed creating service implementation 'or

[2020-08-28 13:47] git5001 commented on #168
I get the following output from the (original unchanged) tinylog build benchmark. Could you tell me what I need to pay attention to when testing for changes. So what should not go lower?

[code]

[2020-08-28 13:51] Git5000 commented on #168
I get the following output from the (original unchanged) tinylog build benchmark. Could you tell me what I need to pay attention to when testing for changes. So what should not go lower?

[code]

PS: Posted again with the right GITHUB account...

[2020-08-28 18:01] pmwmedia commented on #169
Actually this should work. I have just tested overriding a writer by setting `-Dtinylog.writer=console`. It works for me. I have used the latest version of tinylog (2.2.0-M3).

Could you set a break point in `org.tinylog.configuration.Configuration.load()` and debug what is happening there?

[2020-08-28 19:22] pmwmedia commented on #168
Actually, the score (log entries per second) of all of these four benchmarks shouldn't decrease.

[2020-08-29 01:26] ghost commented on #169
Yep, it works for 2.20-M2/M3.  I'm using Proguard it could be that the writers are not loading properly.  Thank you for taking the time to try this out.

[2020-08-29 01:26] #169 closed, assigned to nobody

[2020-08-31 22:12] ghost opened #171 "Trying to understand how rolling logs work ..."
[code]
I thought the way rolling logs work is when snippet.log reaches 10mb then it starts a new snippet0.log.  Is this correct with the configuration I have above?  If so, then my snippet.log reaches about 840kb then a new snippet0.log gets created.  Maybe I need to be corrected.

I thought that the snippet.log gets appended between restarts with the writer.append = true option until it reaches 1

[2020-08-31 22:55] pmwmedia commented on #171
You are using two policies: startup and size:10mb. This means that tinylog will start a new log file on every start of your application. If you change `writer.policies = startup, size: 10mb` into `writer.policies = size: 10mb`, tinylog will continue the last log file when starting your application.

[2020-08-31 23:17] ghost commented on #171
I made the adjustments as you described.  However, I am still getting ~839k log files. It seems that **between restarts** it still creates new log files (snippet0.log, snippet1.log ...)?  Is this the expected behavior?

What do I need to do to the properties file in order to get snippet.log to fill up to 10mb before starting a new log snippet0.log?

[code]

[2020-08-31 23:34] pmwmedia commented on #171
You are right, there is a bug in the latest milestone (2.2.0-M3). I'm going to fix that.

In the latest stable version (2.1.2), continuing rolling log files is still working. But this version does not support `writer.latest` yet.

[2020-08-31 23:43] ghost commented on #171
I understand why you want to fix that in 2.1.2.  Looking forward to the next release with this fix.

Apologies for being such a pest - but I really like the implementation you have.

[2020-09-01 00:00] pmwmedia commented on #171
I'm going to fix it in version 2.2.0-M4. This bug happened in the tinylog 2.2 branch, In earlier tinylog versions (2.1.2 and earlier), this feature was never broken.

[2020-09-01 00:06] ghost commented on #171
👍 looking forward to M4

On Mon, Aug 31, 2020 at 8:00 PM Martin Winandy <notifications@github.com>
wrote:

[2020-09-01 21:13] #171 closed, assigned to pmwmedia

[2020-09-02 23:54] ghost commented on #171
2.2.0-M4 is now appending log properly (as expected).

However, it still creates snippet0.log with the same outputs as snippet.log in my example.  While this is not a deal breaker (I can tolerate this issue no problem).  I just wanted you to know that this is its current behavior.

[2020-09-03 09:18] pmwmedia commented on #171
@aguedeney Actually, "snippet.log" is only a hard link to the latest log file. If you don't need any link to the latest log file, you can remove the property `writer.latest = *`.

[2020-09-03 16:11] Git5000 commented on #168
I finally managed to run the benchmarks "original branch V2.2" versus the "proposed change #168". See below for the results. I think they can be considered the same considering measurement errors.  You probably know better how accurate the results are. Since the new version is measuring a slightly higher score (which actually cannot be) I think this is all inside the measurement errors.

**Origina

[2020-09-03 16:39] pmwmedia commented on #168
I agree, there seems to be no negative impact on the performance due to your changes :-) Looks very promising!

Maybe you found a performance tweak by accident or there were any side effects like hotter room temperatures during the first run. What ever was the reason, you have proofed that your code has no negative impact on the performance.

[2020-09-08 12:31] Git5000 opened #174 "Allow Multi Level for writer Multi tag feature"
Tinylog 2.2 supports writers with more than one tag like
`writer.tag = tag1, tag2, tag3.`
It would be useful if the tags could be set to different log levels. Currently all tags use the same level.

This would allow e.g.
`writer.level = INFO, WARN, TRACE`

It should only be allowed to either set one level (which then applies to all tags) or exactly the same amount of levels than tags. Otherwise an

[2020-09-08 13:00] Git5000 opened #175 "Having a 'Forwarding Writer'"
Applications using libraries with many tags need to configure the output writers for all these tags. You will want some libraries to log to one writer and some others to another writer.

One way of doing this is the multi tag writer. This covers a lot of cases.

However, in my tests for these cases it always lead to the necessity of having a **forwarding** writer, that is, a writer for one tag sen

[2020-09-10 10:50] Git5000 opened #176 "Allow access to writer and provider (Part II )"
In issue #158 the access to the writers were enhanced. Although initially discussed the third getter
`TinylogLoggingProvider.setWriters(final String tag, final Level level) // The same but with a level (all at and above the level)`
was  not implemented. It turns out that it might be nice to have it after all. Can we add the third getter?

[2020-09-10 17:25] pmwmedia commented on #174
I like the idea of applying different severity levels for different tags. I just would adjust the configuration syntax:

[code]

The advantages are that users don't need to set a severity level for each tag (default is the untagged severity level), it is clearer which severity level belongs to which tag, and the current configuration syntax would still work:

[code]

[2020-09-10 18:11] pmwmedia commented on #175
I haven't completely understood the use case for a forward writer. Assigning multiple tags with different severity levels can be solved quite elegant by your feature request in issue #174. Log entries with different format patterns in the same log file could be confusing when reading a log file.

Could you provide a concrete use case? Maybe it will help me to understand the benefit better.

[2020-09-10 19:13] Git5000 commented on #174
Yes that is a good idea. I was a bit worried with my idea that the two lists have to have a 1:1 correspondence. This is solved with your proposal. The only disadvantage is that is more text. One probably would like somehow to group them. But we should also not make the parsing of the string to complicated and causes bugs. That is never a good idea.

So one could do something like this - but I actu

[2020-09-10 19:16] Git5000 commented on #175
It could be that the multi level solves the same issue. The ideas developed a bit in parallel. I will think about whether there is a use case for this issue left or whether it can be done with the levels. It would be good if we would not need it since it is much more complicated to implement compared to the multi level.

[2020-09-11 06:53] Git5000 commented on #175
I looked at the use cases and you are right: If we implement the multi level issue #174 all use cases from above are covered. So you can close this issue #175.

[2020-09-11 06:58] Git5000 commented on #174
Another idea came to mind. What about changing the tag not the level entry like:

`writer.tag= tag1(INFO), tag2(ERROR), tag3(DEBUG), tag4(INFO)`
or
`writer.tag= tag1@INFO, tag2@ERROR, tag3@DEBUG, tag4@INFO`
or
`writer.tag=INFO@tag1, ERROR@tag2, DEBUG@tag3, INFO@tag4`

because then you have the information at one place where you probably most think about it.

For compatibility of course the old syn

[2020-09-11 07:24] pmwmedia commented on #174
I like your idea `writer.tag = tag1@INFO, tag2@ERROR, tag3@DEBUG, tag4@INFO` 👍

[2020-09-11 07:25] pmwmedia commented on #175
Closed in favor of #174

[2020-09-11 07:25] #175 closed, assigned to nobody

[2020-09-11 09:25] Git5000 commented on #168
I think this issue can be closed now.

[2020-09-11 10:11] pmwmedia commented on #174
Fixed by #177

[2020-09-11 10:11] #174 closed, assigned to Git5000

[2020-09-11 10:11] pmwmedia commented on #168
Fixed by #173

[2020-09-11 10:11] #168 closed, assigned to Git5000

[2020-09-12 15:27] pmwmedia commented on #176
Fixed by pull request #178

[2020-09-12 15:27] #176 closed, assigned to Git5000

[2020-09-13 09:08] Git5000 commented on #114
I agree with pmwmedia that there is little need for non property configuration. However, since pmwmedia suggested a pluggable service for configuration - and I ran out of own issues to implement ... :-) I had a quick look and hack at a service loader for the `Configuration`. It turns out that with 10-20 LOC of code you can load other file formats when the property loader is turned into a service.

[2020-09-13 09:13] Git5000 commented on #114
Introduce a **new SERVICE:**
`org.tinylog.configuration.PropertyLoader`

for the new interface
[code]
Here then an implementation of the standard tiny log propertiy loader as it was before in `Configuration`:
[code]

the main change then in the load method of `Configuration` so that it calls the new services instead of loading properties directly:

[code]

To make it easier for other loaders we sh

[2020-09-13 09:18] Git5000 commented on #114
There is one conceptual issue:

Since one can not really configure the configuration itself (except with system properties or so but you don't really want to enforce that) one cannot really determine which property loader to use.

- So the easiest is to just load all and get the proprties from all and just merge them all together. In practise there should only be one file format present and all no

[2020-09-13 17:12] pmwmedia commented on #114
@Git5000 I really like your concept! It is very flexible and generic.

Personally, I prefer a priority property for determining which `PropertyLoader` comes first.

[2020-09-13 19:11] Git5000 commented on #114
Ok, sounds good. Just a few more questions:

1.  With "priority property"  you mean an entry inside the read property map e.g. `"configuration.priority"="1000"`?
2. Lower or higher priorities shall be preferred?
3. Maybe also additionally and optional a system property "`tinylog.configurationLoader"="StandardPropertyLoader"` (which matched the loader's class name overriding any priorities)

[2020-09-13 20:00] pmwmedia commented on #114
Actually, I thought about a priority getter in the `PropertyLoader` interface. Firstly, the `PropertyLoader` implementation with the highest priority tries to load a configuration. If it couldn't find any, the next `PropertyLoader` can try to load a configuration and so on ...
If the system property `tinylog.configuration=*.*` is set, the `PropertyLoader` implementations have to check, if they can

[2020-09-13 20:21] Git5000 commented on #114
Yes I thought this first too (in my initial suggestion). I understood your reply then as a property inside the files. This I actually liked better than my first idea. The configuration is then on file level not code level. So you load all files and keep the one with the highest priority. A disadvantage is of course that you load **all files** (but in practise this is one or two only anyway). Advan

[2020-09-14 21:43] pmwmedia commented on #114
@Git5000 Sorry for my delayed responses. Currently, I'm on vacations at the Baltic Sea.

Mainly, I'm working on Java EE and JSF projects in my job. In this context, I'm used to call getters (+ setters) as properties. Sorry for the confusion!

My main goal is to keep the tinylog code and configuration files as simple as possible. If the priority has to be configured directly in the configuration fi

[2020-09-15 05:11] Git5000 commented on #114
Don't worry about a delayed response. I am actually amazed about the speed of your responses. And you certainly should enjoy your holiday :-)

I fullly agree. That the library is simple, fast, well designed but yet capable is the main reason I really like and use it.

You right that it should not be confusing and kept simple.

 Generally, the discussion here in the forum is very useful and I think

[2020-09-15 19:02] Git5000 commented on #114
The concept works actually very nicely :-)

* Choose a loader (use one of the following lines to get the loader you want, assuming they are **all** registered as service (otherwise you don't even need the system property):
[code]

* The loaders load e.g. one of the following files:
[code]

* Having a YAML input file looks actually pretty:
[code]

* `YamlPropertyLoader `needs only 15 LLOC (real cod

[2020-09-15 19:46] pmwmedia commented on #114
I fully agree 👍 Discussing ideas together is a very efficient way to find the best solutions in an iterative way. I'm very glad about your great contribution to tinylog :)

Yes, I would choose the same property name. I just prefer to use a lower case `l` for consistency with other properties. Currently, all properties have only lower case letters, even combined words like "autoshutdown" or "writin

[2020-09-15 20:00] Git5000 commented on #114
Yes I use the service loader. Interesting option to load them also the short way. Currently, it does not work but I think I named the classes wrong. I will change that and since you seem ok with the overall changes I will slowly prepare a pull request for review. I suppose there will be a few iterations on the code too then.

[2020-09-19 05:19] Git5000 opened #180 "Flexible Console Writer Error Level (very optional)"
The console writer allows to choose which error level goes to STDERR and STDOUT. The selection is:

- (default): ERROR+WARN go to STDERR , the rest to STDOUT
- ("err"): all goes to STDERR
- ("out"): all goes to STDOUT

In a user defined console writer I want only ERROR to go STDERR the rest to STDOUT. I therefore set the cut off level differently so that the user can choose from what level on the