[2020-09-19 21:03] pmwmedia commented on #180
I like the `err@ERROR` syntax as it easy to understand and readable. However, the current configuration options `err` and `out` should still work for compatibility reasons.

[2020-09-20 05:17] Git5000 commented on #180
Yes the old syntax has to work. It is the same as with the tags and levels. If a @ is present the level is extracted otherwise the default level is kept (so all or none).

[2020-10-02 19:15] Git5000 commented on #180
Just a note on this one: I did not forget this issue and will implement it resp. copy my implementation to the github code base - But I had a bit limited time recently.

[2020-10-03 20:34] pmwmedia commented on #180
No rush :)

[2020-10-07 07:48] SevereOverfl0w opened #181 "Prefix-based log routing"
I like to route my application logs to their own file to aid debugging.  All my logs are done using slf4j, so there's very little use of markers to be converted into tags.  Would it be possible to support some kind of prefix such that I could say that either:

* Only com.myapp logs go into this file
* com.myapp is tagged as "APP", and then use that to do the routing

Right now, we achieve this wit

[2020-10-07 09:12] mattjlewis opened #182 "Package specific log levels (tinylog 2.1.2)"
I can't see to get package specific log levels working - see my sample application here:
https://github.com/mattjlewis/tinylog-test

Am I doing something wrong? I was following the documentation here: https://tinylog.org/v2/configuration/#severity-level

[2020-10-07 09:27] mattjlewis commented on #182
Apologies - I think I've worked it out. I was getting confused between the writer's max log level and the configured log levels.

[2020-10-07 23:01] pmwmedia commented on #182
Can we improve the configuration to avoid confusing?

[2020-10-08 08:13] mattjlewis commented on #182
It would be helpful if the documentation could be updated, in particular in the Severity Level section, as well as providing examples. You have this text in the Configuration page:

This could possibly be changed to something like:

Note that the behaviour of `writer.level = xxx` is different to `level = xxx` - `writer.level` defines the maximum log level for that cannot be overridden for specific

[2020-10-13 17:52] mirmajeed1 opened #184 "Android bugs"
**Describe the bug**
Does this works for Android? as I only been able to get basic logging. {date} does not work, appending to same log file does not work, everytime the app starts it delete the old file and creates a new one.

**To Reproduce**
writer1       = console
writer1.level = debug

writer2       = file
writer2.file  = /data/appname/files/logs/applogs.{date}.txt
writer2.level = debug
write

[2020-10-13 18:55] pmwmedia commented on #184
You should use the `rolling file` writer.

[code]

[2020-10-13 19:50] mirmajeed1 commented on #184
wow! you were right, that fixed the date issue, however I am still having the issue where everytime the app starts it creates a new file and does not append into the same date's file. Here is my updated tinylog.properties

writer1       = console
writer1.level = debug

writer2       = rolling file
writer2.file  = /data/data/appname/files/logs/applogs-{date:yyyy-MM-dd}.txt
writer2.level = info
writ

[2020-10-13 20:06] pmwmedia commented on #184
Instead of the `append` property, the rolling file writer uses `policies`. If you don't define any policy, tinylog will use the `startup` policy by default (see https://tinylog.org/v2/configuration/#rolling-file-writer). For avoiding running out of disk space, you need to define at least one policy. You could use the `daily` or `size` policy for example.

[code]

[2020-10-13 20:13] mirmajeed1 commented on #184
Yes, Big thank you!!

[2020-10-13 22:32] #184 closed, assigned to nobody

[2020-10-20 22:14] #180 closed, assigned to Git5000

[2020-10-20 22:21] pmwmedia commented on #181
You can archive this with the current tinylog version by creating your [custom logging provider](https://tinylog.org/v2/extending/#custom-logging-provider). Just extend [TinylogLoggingProvider](https://github.com/pmwmedia/tinylog/blob/v2.1/tinylog-impl/src/main/java/org/tinylog/core/TinylogLoggingProvider.java) and override both `log()` methods. There, you can modify the tag and map `com.myapp` to

[2020-11-23 21:25] prfarlow1 opened #186 "Tinylog and Proguard"
I'm interested in using Tinylog in my project, but I use Proguard so most class and file names are obfuscated in release builds. I'm worried that if a user had a problem, then sent me their logs, all of the log tags for classes would be obfuscated. What do you recommend for projects that use Proguard? How could I maintain those tags? Can I manually set the tag name (which by convention is usually

[2020-11-23 21:27] prfarlow1 commented on #186
Sorry, I realize now that I am using the word "tag" a bit differently than the Tinylog documentation uses it. I don't want to add tags to logs, I want to ensure the format pattern, which by default is `{date} [{thread}] {class}.{method}()\n{level}: {message}`, has the correct class name, even when Proguard changes the class name.

[2020-11-23 21:48] pmwmedia commented on #186
You could configure Proguard to keep the class and method names of your own classes:
`-keep class org.mypackage.** { <methods>; }`

If you configure only the root package of your own classes, Proguard can still shorten all class and method names from your used dependencies. So, Proguard will be still able to drastically reduce the final app size.

[2020-11-26 21:13] Git5000 opened #187 "tinylog_extra_stuff"
I promised you a while ago an example for the YAML and JSON properties configuration loader. I finally managed to upload it to
https://github.com/Git5000/tinylog_extra_stuff.

Have a look at it if you like.  Note, that the repository layout and POM are copied 1:1 from your tinylog project. Hope that is ok.

The examples were based on a bit previous version of our joint work on the configuration lo

[2020-11-26 22:07] pmwmedia commented on #187
These are great news! Especially, I like the YAML configuration. Looking forward for a Maven artifacts soon. Feel free to add your project to https://tinylog.org/v2/external-resources/.

tinylog is open source. You are welcome to copy :)

On the weekend, I can publish the current v2.3 branch of tinylog as first milestone, if it will make it easier for your development.

[2020-11-28 07:54] Git5000 commented on #187
Thank you for your feedback. Initially the code was only meant as example for people to implement their own loader. Therefore I put no emphasis on the format layout. However I read your issue comments and they make good sense. While having the example code I can just as well make the format proper. Since it is good what you suggest,  I will have a look at it and change it accordingly.

I have litt

[2020-12-01 12:56] #186 closed, assigned to nobody

[2020-12-07 13:20] pmwmedia opened #189 "Support multiple placeholders in choice format pattern"
Currently, only one placeholder is allowed for each choice format pattern in formatted log messages.

Example: ```Logger.trace("There {0#are no files|1#is one file|1<are {} files}", count);```

However, when using multiple (different) placeholders, only the first placeholder is replaced with the real value:

Example: ```Logger.trace("Request took {0#{0.00}|10#{#,###}}s", seconds);```

[2020-12-08 13:42] pmwmedia commented on #189
Implemented by commit 3319c03f687989a3ba11d1be14cd549df9a66daf

[2020-12-08 13:42] #189 closed, assigned to pmwmedia

[2021-01-01 15:39] re-thc opened #190 "Slf4j does not log correct class"
**Describe the bug**
When using slf4j-tinylog the correct class is not logged

**To Reproduce**
Steps to reproduce the behavior:
1. Use tinylog, tinylog-api and slf4j-tinylog
2. Run an application that uses slf4j e.g. Flyway
3. It runs and logs incorrectly, e.g.

2021-01-01 15:33:23 [io-executor-thread-1] org.flywaydb.core.internal.logging.slf4j.Slf4jLog.info()
INFO: Flyway Community Edition 7.3.1

[2021-01-04 23:48] pmwmedia commented on #190
The cause for this issue is that flyway's [Slf4jLog class](https://github.com/flyway/flyway/blob/master/flyway-core/src/main/java/org/flywaydb/core/internal/logging/slf4j/Slf4jLog.java) is a wrapper around SLF4J's real logger class. So, tinylog has no chance to detect the real caller class. Which caller method does Logback or Log4j output?

[2021-01-05 00:13] re-thc commented on #190
Is there a workaround for this? Noticed quite a few "popular" third party libraries doing similar. Hazelcast is another example that has a "wrapper". Slf4j keeps a log name - is that usable for this?

Flyway routes to slf4j as a priority. Will try to create an isolated test case and get back to you.

[2021-01-05 00:18] pmwmedia commented on #190
SLF4J is just a logging API. For me, it is interesting what method other logging back-ends like Logback and Log4j output. Could you test it and paste the output here?

[2021-01-05 00:29] pmwmedia commented on #190
After some research, I came to the conclusion that flyway has to use the [LocationAwareLogger](http://www.slf4j.org/api/org/slf4j/spi/LocationAwareLogger.html) functionality for their custom Slf4jLog wrapper class. Otherwise no logging back-end would have any chance to detect the real caller method.

[2021-01-05 03:10] re-thc commented on #190
Below is what I get from Logback:

14:09:33.329 [io-executor-thread-1] INFO io.micronaut.flyway.AbstractFlywayMigration - Running migrations for database with qualifier [default]
14:09:33.331 [io-executor-thread-1] INFO org.flywaydb.core.internal.license.VersionPrinter - Flyway Community Edition 7.3.1 by Redgate
14:09:33.366 [io-executor-thread-1] INFO org.flywaydb.core.internal.database.base.Data

[2021-01-05 08:55] pmwmedia commented on #190
Could you add also the caller method? I assume either me or you will be surprised ;-)

[2021-01-06 03:33] re-thc commented on #190
Is this what you're looking for? This is with logback.

Pattern is: <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level  %class{36}.%M %L  - %msg%n</pattern>

03:30:28.377 [io-executor-thread-1] INFO   i.m.flyway.AbstractFlywayMigration.runFlyway 88  - Running migrations for database with qualifier [default]
03:30:28.380 [io-executor-thread-1] INFO   o.f.c.i.logging.slf4j.Slf4jLog.info 49  - Flyway Commu

[2021-01-07 16:13] pmwmedia commented on #190
So, Logback has the same issue.

Flyway could fix the issue for all logging framework by using the [LocationAwareLogger](http://www.slf4j.org/api/org/slf4j/spi/LocationAwareLogger.html) API for their Slf4jLog wrapper class.

I found a good and working Slf4jLoggerwrapper class template here:
[dubbo-common/src/main/java/com/alibaba/dubbo/common/logger/slf4j/Slf4jLogger.java](https://github.com/yyfxy

[2021-01-07 16:35] re-thc commented on #190
It's able to log it correctly with default logback settings though (as per earlier comment). Is it a configuration issue. What pattern on tinylog would match the original logback output that shows the right classes?

[2021-01-07 16:54] pmwmedia commented on #190
In your default Logback configuration, you use the logger category, neither the caller class name nor caller method. For such logger wrappers, SLF4J has introduced the LocationAwareLogger API.

However, Flyway does not use the correct API for forwarding log entries. If they don't use the LocationAwareLogger API, there is no chance for any logging framework to output the correct caller class and me

[2021-01-09 04:11] re-thc opened #191 "Slf4j wrapped loggers missing in stack trace error"
Have tinylog in the classpath with a tinylog.properties file. Run an application with a logging wrapper that uses slf4j, e.g. Vertx.

Result:

Exception in thread "main" java.lang.IllegalStateException: Logger class "io.vertx.core.logging.Logger" is missing in stack trace
	at org.tinylog.runtime.ModernJavaRuntime$DynamicStackFrameExtractor.apply(ModernJavaRuntime.java:159)
	at org.tinylog.runtime.

[2021-01-09 08:58] pmwmedia commented on #191
Could you provide a minimal example project for reproducing this issue?

[2021-01-11 12:04] re-thc commented on #190
Sure, will contact Flyway and anyone else. Thanks

[2021-01-11 12:04] #190 closed, assigned to nobody

[2021-01-11 12:23] pmwmedia commented on #190
Please let me know if I can support you for creating an issue or a pull request there.

[2021-01-22 21:53] Git5000 commented on #187
I finally managed to change the YAML and JSON configuration loaders to support nested properties as suggested by you. I also added the Github page for the loaders to your external resources page as suggested by you above.

I think this issue here can be closed.

[2021-01-22 23:31] pmwmedia commented on #187
These are great news :) Thank you very much for awesome contribution!

Is there any chance that you can publish your YAML and JSON configuration loaders on [Maven Central Repository](https://search.maven.org/)? Your loaders are ready for real usage and their availability on Maven Central Repository would make it much more easy for other users to use them?

[2021-01-23 14:44] Git5000 commented on #187
Making the loaders available is not so straightforward. The example includes the dependent libraries for both JSON and YAML. However, if someone wants a YAML loader he probably does not want to include the gson libraries as well. So to be useful one probably would need one JAR published for JSON and one for YAML. However, then we have a jar published for one configuration loader *.java file only.

[2021-01-27 21:48] pmwmedia commented on #187
My experience is that people rarely use code that they have to copy from somewhere. You have already invested much time in tinylog itself and in the both configuration loaders in your repository. I would find it a pity, if nobody would use your both configuration loader after you invested so much effort in them with great results.

[2021-01-28 14:40] Git5000 commented on #187
But then the only useful option is two jar file uploads. I would not like mixing **json** and **yaml** libraries in a project needing only one of them for no real reason. Since you think it beneficial to upload jars over source code, I will look into making two jars then.

[2021-02-01 20:50] pmwmedia commented on #182
@mattjlewis Thank you very much for your great and well written documentation update. I really like your improvements and have exchanged the paragraph as you have suggested: https://tinylog.org/v2/configuration/#severity-level

[2021-02-01 20:50] #182 closed, assigned to nobody

[2021-02-02 23:19] thewindsofwinter commented on #156
Hello! If there's no one working on this I could try to do this -- I'm not quite familiar with the code though so any steps I should go to get started in the right direction?

[2021-02-03 00:08] pmwmedia commented on #156
Hi Any,

Firstly, you will need a JDK 9 for building tinylog: https://github.com/pmwmedia/tinylog#build-tinylog

All existing writers can be found here: [tinylog-impl/src/main/java/org/tinylog/writers](https://github.com/pmwmedia/tinylog/tree/v2.3/tinylog-impl/src/main/java/org/tinylog/writers)

There is also a manual how to create new writers: https://tinylog.org/v2/extending/#custom-writer

I ho

[2021-02-03 01:07] thewindsofwinter commented on #156
Will JDK 11 also work or does it have to be JDK 9? I currently have JDK 11 and I don't want to install another one unless it's totally necessary. It says "Newer JDKs cannot compile legacy code" but in my experience usually I don't run into issues.

[2021-02-03 14:19] ZZerog opened #192 "Reload logging setup at runtime"
Is possible reload setup at runtime as reload conf. file or programmatically (change logging level) ?

Thx

[2021-02-03 20:45] pmwmedia commented on #156
For extracting stack trace information on runtime, tinylog 2 uses `sun.reflect.Reflection` for Java 6-8 and `java.lang.StackWalker` for Java 9+. This is one reason why tinylog is such fast in [benchmarks](https://tinylog.org/v2/benchmark/). Unfortunately, Java 9 and 10 are the only Java versions that support both stack trace extracting APIs. Therefore, tinylog 2 does require Java 9 for building an

[2021-02-03 21:01] pmwmedia commented on #192
Changing the configuration at runtime isn't supported by tinylog 2 itself. However, if you only want to change the severity level, you can do it by implementing a wrapper for tinylog's logging backend. Here is an example from another user: https://github.com/pmwmedia/tinylog/issues/102#issuecomment-494391235

Since tinylog 2.3, it is also possible to extend directly from `TinylogLoggingProvider` w

[2021-02-04 22:26] thewindsofwinter commented on #156
Alright, thank you very much!

[2021-02-07 16:17] A248 opened #193 "Benchmarks without location information"
The benchmarks use `{date:yyyy-MM-dd HH:mm:ss} [{thread}] {class}.{method}(): {message}` as the logging format. For log4j2, {class} and {method} translate to %C and %M, and indeed the log4j2 benchmark uses this. ([link](https://github.com/pmwmedia/tinylog/blob/4bc4c9a6e6ed979f2e67da67be9078f18e64d9d6/benchmarks/src/main/java/org/tinylog/benchmarks/logging/Log4j2Benchmark.java#L109))

Log4j2 says t

[2021-02-20 16:55] pmwmedia commented on #191
The cause for the exception is that Vertex uses SLF4J's LocationAwareLogger class incorrectly. LocationAwareLogger expects the actual class name of Vertex's logger class "io.vertx.core.impl.logging.LoggerAdapter". However, Vertex provides it's interface "io.vertx.core.logging.Logger" instead. This cannot work neither in tinylog nor Logback.

Logback example:
[code]
[code]

Output:
[code]

This iss

[2021-02-20 19:23] #191 closed, assigned to pmwmedia

[2021-02-20 19:28] #192 closed, assigned to nobody

[2021-02-21 01:59] re-thc commented on #191
Thanks for looking into it. Hopefully this fixes the other cases too. Never had a chance to replicate it. Might file the bug with Vertx as per your findings if you haven't.

[2021-02-21 09:38] pmwmedia commented on #191
I think it is a good idea to file the issue there, Especially it is very trivial to fix it and also other logging frameworks would benefit from the fix.

[2021-02-21 17:19] #154 closed, assigned to pmwmedia

[2021-03-09 22:19] pmwmedia commented on #141
Actually, it should already work as you have requested. I have just tested your `tinylog.properties` configuration. My log files look like this:

[code]

@michieltjampens Are you still able to reproduce the issue? If yes, which tinylog version are you using? Could you provide a minimal reproduction example as GitHub repository?

[2021-03-10 06:54] michieltjampens commented on #141
At first i thought this was now caused by the added gzip (thanks for the enhancement) but doesn't appear so.
Just checked on instance of the project and honestly don't have a clue how it determines to start a new count...
Using 2.2.1, i get this:
![image](https://user-images.githubusercontent.com/60646590/110588080-cd91b580-8174-11eb-8f35-01301f031b10.png)
It hasn't restarted the count since the 1

[2021-03-10 19:48] pmwmedia commented on #141
I have just found the cause. The issue only occurs when rolling during runtime, but never at the application start. Actually, the fix is very trivial.

[2021-03-10 19:52] #141 closed, assigned to pmwmedia

[2021-03-15 18:26] proohit opened #194 "Add JSON writer"
Hey,
For easier parsing in visualization front ends, I would find it neat if I could write the logs in JSON format. Naively, I thought about something like this:

[code]
..., or something in the kind. I think it would be fairly easy, since adding custom Writers is supported.

[2021-03-18 14:01] proohit commented on #194
Hi there, I've begun to work on this, because I need it but I've come across some challenges.

So far I've written a barebone JsonWriter which implements the Writer interface:
[code]

The Test class for this writer produces the following json:
[code]
[code]

Now at this point everything looks fine, even though I think we should let a library like gson or jackson handle the json stringify part. Now

[2021-03-18 20:46] pmwmedia commented on #194
I think both ways a valid: Rendering the entire JSON via a library such as gson or jackson, or implementing the rendering by yourself.

If you want to implement the array rendering by yourself, you could just write "[" via the ByteArrayWriter in your constructor when opening the log file, and "]" when closing it. Additionally, you need to write a "," in the write() method before writing a log entr

[2021-03-18 20:58] proohit commented on #194
Thanks for your input! So it is not generally declined to add third party dependencies? I don't think that I can handle JSON building better than a JSON library :smile: .

Maybe I will go with a non appending file in my first draft and then implement appending later on.

[2021-03-18 21:23] pmwmedia commented on #194
It depends if you want to provide the JSON writer as third party library or as part of tinylog itself. A requirement for tinylog itself is indeed no external dependencies like JSON libraries.

[2021-03-19 00:46] proohit commented on #194
I was able to implement it with your suggestion on truncating the last “]”, and adding it on close. Amazing, thanks!

Would you be willing to merge it into tiny log if we do some cleanup and tests? You can have a look at the draft on my fork https://github.com/proohit/tinylog/blob/d158d3ad8fe0b42ca58b553d4ce046837a114f89/tinylog-impl/src/main/java/org/tinylog/writers/JSONWriter.java

[2021-03-19 00:53] pmwmedia commented on #194
Yes, you are welcome to create a pull request :)

[2021-03-21 11:17] pmwmedia opened #196 "Add CONTRIBUTING.md guideline"
Provide a CONTRIBUTING.md guideline to make it easier for new developers to contribute.

[2021-03-22 23:10] #196 closed, assigned to pmwmedia

[2021-03-27 23:34] #194 closed, assigned to proohit

[2021-03-31 10:10] open-schnick opened #198 "(Kotlin) Overload resolution ambiguity. All these functions match."
**Describe the bug**
When using `Logger.info("someString")` or legit any function the kotlin compiler will fail because of
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Use kotlin
2. Use mvn
3. Use `Logger.info("something")`

**Environment**
tinylog version: 2.2.1
JRE: 1.8
JDK: 14

[2021-03-31 10:12] open-schnick commented on #198
Same Error with info, debug, warn btw.

[2021-03-31 10:20] pmwmedia commented on #198
Have you added the Maven artifact `tinylog-api-kotlin` and ensured that you are using `org.tinylog.kotlin.Logger` instead of  `org.tinylog.Logger`?

[2021-03-31 10:24] open-schnick commented on #198
that worked. Thanks for the fast response <3

[2021-03-31 10:24] #198 closed, assigned to nobody

[2021-04-09 10:51] pmwmedia commented on #119
Fixed by @f4lco in #199

[2021-04-09 10:51] #119 closed, assigned to nobody

[2021-04-12 10:50] mikehearn commented on #119
Perfect timing guys, I'm just starting a new project and was starting to think about how I wanted logging done. Great to see TinyLog 2 is thriving! Thanks for the excellent work. I'll try it out now for this project.

[2021-04-13 16:05] MartinAnon opened #201 "Logger with multiple tags"
Hi there,

I was wondering if there is a way to assign multiple tags to a message. As far as the documentation is concerned, I read that you can either use a TaggedLoger or Logger.tag(...) for a single tag.

**Example:**
A java program is currently configured to log to console and into a file using the following **tinylog.configuration**:
[code]

Now we want to log specific information in specific

[2021-04-13 16:43] pmwmedia commented on #201
Currently, tinylog 2 supports only one tag per log entry. I don't know any better workaround than the one you have already figured out.  Therefore, I have converted your question into a feature request. I think this would a great enhancement also for other tinylog users. I'm open for pull requests.

[2021-04-15 19:44] pmwmedia commented on #193
My first draft for the new benchmark page including benchmarks for three different levels of caller information: https://tinylog.org/v2/new-benchmark/

Feedback is welcome :)

[2021-04-17 21:19] pmwmedia commented on #193
Hi @A248, could you take it a look on the new benchmark? Is the [new benchmark page](https://tinylog.org/v2/new-benchmark/) comprehensible? Does it provide the required information for new tinylog users?

[2021-04-17 23:11] A248 commented on #193
It looks good! Very comprehensive and the explanations will be helpful to anyone looking at the benchmarks. For one thing I might change, on the subject of latency which you mention, perhaps I'd add some benchmarks to show-case the trade-off. I'd be willing to PR this sometime over the next few weeks.

[2021-04-18 07:36] pmwmedia commented on #193
@A248 Thank your review! I agree about adding a latency benchmark.

[2021-04-18 07:41] pmwmedia opened #202 "Latency benchmark"
On the new benchmark page, I have added a section about latency:

However, it would be much better to have a real benchmark that shows the trade off of latency.

[2021-04-18 07:45] pmwmedia commented on #193
I have added a new issue for adding a latency benchmark: #202

@A248: Looking forward to your pull request :)

[2021-04-18 07:45] #193 closed, assigned to pmwmedia

[2021-04-18 21:55] #187 closed, assigned to nobody

[2021-04-19 15:09] thebatu opened #203 "tinylog does not create new file when max file size definied is reached"
I have the following configurations for an Android project. I am logging to 2 files that I set the size with the property policy to 10000kb, however, file size is not respected and no new files are being created when 10 mb is reached, what I am missing here. tinylog ver 2.1

`writer1          = logcat
writer1.level    = info
writer1.format   = {message}

writer2          = file
writer2.level    =

[2021-04-19 15:56] pmwmedia commented on #203
just use `rolling file` instead `file`

[2021-04-19 19:33] thebatu commented on #203
Yes, thanks.

[2021-04-19 20:03] #203 closed, assigned to nobody

[2021-04-20 13:10] pmwmedia commented on #187
@Git5000: Your repository made into the latest JAXenter article: https://jaxenter.de/java/tinylog-2-3-100145

[2021-04-21 10:26] thebatu opened #204 "Tinylog only logs from a different thread"
Hello, I have the following configuration for an Android project using tinylog 2.1.
Log files are being created on the internal storage, but the problem is that tinylog only logs if I log from a different thread! otherwise the file size remains 0 B.

if I remove the for loop in the init function it will not log
[code]

my tinylog.properties
[code]

[2021-04-21 15:17] thebatu commented on #204
[code]
this line breaks the configuration file and writing operation dies silently.

[2021-04-21 15:17] #204 closed, assigned to nobody

[2021-04-21 20:09] pmwmedia commented on #204
Hi @thebatu,

If you want to use the writing thread for asynchronous logging, you can replace `writer2.writingthread = true` and `writer3.writingthread = true` with `writingthread = true`. In tinylog, the writing thread can be only activated globally, not for a particular writer.

With your example configuration, tinylog does use buffered writing but not the writing thread for both rolling file wr

[2021-04-22 07:03] thebatu commented on #204
@pmwmedia
Thanks for the detailed explanation on how tinylog buffer and threads operate. This should be added to the docs.
cheers.

[2021-04-28 16:53] proohit opened #205 "JSON Writer leave json file in correct state"
**Describe the issue**
Currently, the writer leaves the `]` out and keeps the last `,` which is invalid json. I think we should let the json log file always stay in a syntactic correct state. One would not be able to parse the file while it does not match JSON spec.

Currently the close method performs the last steps needed to bring it in that state by calling `postProcess`. Maybe we could handle

[2021-04-28 17:30] pmwmedia commented on #205
Sounds plausible. Would you provide a pull request?

[2021-04-28 20:02] proohit commented on #205
I'm having some trouble building tinylog.. Do you have an idea why those errors are occuring?

[code]
I assume this leads to the following error when trying to only build `tinylog-impl`
[code]
## env
[code]
[code]

[2021-04-28 20:31] pmwmedia commented on #205
It looks like that the Maven profile "dev" was not active. However, I just updated the parent pom.xml, so that activation of this Maven profile is no longer required. I hope it will compile now.

[2021-04-28 23:59] proohit commented on #205
Yes, your changes fixed it, thanks.:) Please have a look at the PR.

[2021-04-29 20:59] pmwmedia opened #207 "Log files can can contain multiple BOMs"
**Describe the bug**
All file based writers use `String.getBytes(charset)` to encode strings. However, there is a side effect that encoding headers (like BOM for UTF-16) are added for each `getBytes()` call. This leads to duplicate encoding headers within a log file.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `writer.charset = UTF-16` for any file based writer
2. The log file will c

[2021-04-30 16:47] #207 closed, assigned to pmwmedia

[2021-06-01 19:53] dbacinski commented on #66
I am trying to make it work with tinylog 2.3.1, but it doesn't work:
[code]
is logged as:
`\ - test message - \`
but expected is:
`{ - test message - }`

or

[code]

it logs as:
`\"timestamp":"2021-06-01 21:50:45.530","severity":"INFO","threadId":"main","file":"properties.kt:31","message":"test message"\`
but expected is:
`{"timestamp":"2021-06-01 21:50:45.530","severity":"INFO","threadId":"main",

[2021-06-01 20:03] dbacinski opened #209 "Stackdriver - Structured logging"
Tinylog 2.3.1

I want to define a console log to push logs from k8s to google stackdriver with structured logging json format.

https://cloud.google.com/logging/docs/structured-logging

I have defined console log format to output json to console but curly braces are not being escaped properly

[code]

Actual:
`\"timestamp":"2021-06-01 22:01:51.137","severity":"DEBUG","threadId":"main","file":"Hika

[2021-06-01 20:05] dbacinski commented on #209
there is a related issue that claims that escaping curly braces should work in tinylog2 https://github.com/tinylog-org/tinylog/issues/66

[2021-06-02 05:59] pmwmedia commented on #66
You need to use `{opening-curly-bracket}` and `{closing-curly-bracket}` (see https://tinylog.org/v2/configuration/#format-pattern):

[code]

By the way, tinylog 2.4 has also a native JSON writer (see https://tinylog.org/v2/configuration/#json-writer),

[2021-06-02 06:16] pmwmedia commented on #209
Please post your questions only once ;-) I have just answered it partly here: https://github.com/tinylog-org/tinylog/issues/66#issuecomment-852758297

Do you really need to write the JSON entries to the console? If also writing into a file would work for you, the best way is to use the new JSON writer of tinylog 2.4. If you really need to write the JSON log entries to the console, you could create

[2021-06-02 10:42] dbacinski commented on #209
I went custom writer path to log json to console. It works out of the box with GKE and Stackdriver. Thanks for help.

[code]

[2021-06-02 10:42] #209 closed, assigned to nobody

[2021-06-02 11:11] pmwmedia commented on #209
Great to see another Kotlin developer :) The writer implementation looks good! However, there is a potential bug if the message or any other property of `LogEntry` contains a quote `"` or new line `\n\r`. Maybe consider to create a copy of the passed `LogEntry` instance and escape all quotes and new lines in all string properties.

[2021-06-02 11:20] dbacinski commented on #209
Hmm I was copying code over from AbstractFormatPatternWriter and ConsoleWriter, so they share the same problem or I am missing something?

[2021-06-02 11:37] pmwmedia commented on #209
The console writer itself does not run in this escaping issue as it does not render JSON. Let's imagine you want to log `Logger.info("User input is \"Hello World\"")`.

Your writer will output `{"message": "User input is "Hello World""}` to the console. However, valid JSON would be `{"message": "User input is \"Hello World\""}`.

[2021-06-02 11:45] dbacinski commented on #209
oh, got it!

[2021-06-02 11:46] pmwmedia commented on #209
These are the characters that tinylog's JSON writer escapes: https://github.com/tinylog-org/tinylog/blob/v2.4/tinylog-impl/src/main/java/org/tinylog/writers/JsonWriter.java#L147

[2021-06-02 14:41] dbacinski commented on #209
I ended up creating console json writer based on JsonWriter:

[code]
ConsoleJsonWriter:
[code]
result:
[code]
only annoying thing is that  it does not keep attributes order from config and timestamp is going last but it doesn't matter for Stackdriver

[2021-06-02 19:55] pmwmedia commented on #209
Looks like a solid solution :)

Unfortunately, Java's native properties file loader doesn't keep the order of properties, In the branch of tinylog 3, I have fixed this issue by overwriting Java's native properties file loader.

[2021-06-05 11:51] ds67 opened #210 "Adding user defined ConfigurationLoader fails"
My self defined ConfigurationLoader isn't used, instead rejected with the error message

LOGGER ERROR: Ignoring more than one configuration loader

Inspecting the code in org.tinylog.configuration.Configuration.load reveals that the test for the unset loader is within the loop instead of after the loop. By this it does always take the system loader when it appears first.

for (ConfigurationLoader

[2021-06-05 12:35] ds67 commented on #210
I forgot:I'm using tinylog 2.3.1 and Java 11

When fixing the above bug you may want to correct the javadoc as well, the system property "tinylog.configurationloader" is there writte with camal case as "tinylog.configurationLoader" which is not working

[2021-06-05 12:39] ds67 opened #211 "GzipFileConverter is not accessible"
**Describe the bug**
When using a self defined ConfigurationLoader and add rollgin files with gzip support the following error message is giben:
LOGGER ERROR: Constructor of service implementation 'org.tinylog.converters.GzipFileConverter' is not accessible

**To Reproduce**
Steps to reproduce the behavior:
1. Use a self defined ConfigurationLoader in a modules based project
2. Load file with
writ

[2021-06-05 16:19] #210 closed, assigned to pmwmedia

[2021-06-05 16:19] #211 closed, assigned to pmwmedia

[2021-06-05 16:26] ds67 commented on #210
wow this fast fast. thanks.

[2021-06-05 16:29] pmwmedia commented on #211
@ds67: Could you test if my fixes work for you before I will publish them as tinylog 2.3.2?

I have fixed the access to GzipFileConverter and the loading of configuration loaders including the Javadoc.

[jboss-tinylog-2.3-SNAPSHOT.zip](https://github.com/tinylog-org/tinylog/files/6602853/jboss-tinylog-2.3-SNAPSHOT.zip)
[jcl-tinylog-2.3-SNAPSHOT.zip](https://github.com/tinylog-org/tinylog/files/660

[2021-06-06 10:28] ds67 commented on #211
Hi Martin,

from my perspective it works. Here is what I did:

* started my app, with -D parameter -> works
* remove -D systemproperty & restart -> intitialization failed
* downloaded tinylog-2.3-SNAPSHOT.zip
* replaced tinylog-impl.jar
* restarted -> configuration was done, success
* included gzip parameter & restart
* zipping works, success

I tested on Linux / Java 11 only.

Jens

Am Samstag, 5

[2021-06-06 11:58] pmwmedia commented on #211
Hi Jens,

Thanks for testing! I'm going to release tinylog 2.3.2 today.

[2021-06-14 00:06] WebTiger89 opened #212 "[Android] Disable all logs for release variant"
Hello,
is there a flag or something so I can disable all logs when building the release variant in android. Something like this:

`if (BuildConfig.DEBUG) {
    Timber.plant(new DebugTree()); } // this is how Timber library is handling it
`

[2021-06-14 11:20] pmwmedia commented on #212
There are even two ways to disable any logging in release builds:

1. Replace your "tinylog.properties" file with any properties file containing the line `level = off`
2. Execute `if (!BuildConfig.DEBUG) { Configuration.set("level", "off"); }` before issuing any log entries

[2021-06-16 21:04] dbacinski opened #214 "LOGGER ERROR: Failed to write log entry (java.lang.ArrayIndexOutOfBoundsException: Array index out of range: -1)"
**Describe the bug**
While running app on Kubernetes logger randomly starts failing with:

`LOGGER ERROR: Failed to write log entry <original message here> (java.lang.ArrayIndexOutOfBoundsException: Array index out of range: -1)`

[code]

log is coming from here:
https://github.com/tinylog-org/tinylog/blob/506bf901b7b015d4ab8d4fb615ce77758402da1d/tinylog-impl/src/main/java/org/tinylog/core/Tinylog

[2021-06-16 21:27] dbacinski commented on #214
it works for some time (hours, even days) and then starts failing

could it be that rolling files is failing?

[2021-06-17 20:43] #212 closed, assigned to nobody

[2021-06-22 09:43] pmwmedia commented on #214
The rolling file writer is used by thousands of users and I have never seen such error from this writer. Of course, I can't guarantee that this error isn't thrown from the rolling file writer nevertheless. However, it is more likely that the cause of the error is anywhere in the console JSON writer. Could you try to catch any exception in the write() method of the console JSON writer and outputtin

[2021-06-22 10:10] dbacinski commented on #214
Yes, sorry I did that and the exception is coming from the console json writer.

[2021-06-22 10:10] #214 closed, assigned to nobody

[2021-06-22 10:38] pmwmedia commented on #214
I'm glad that to read that the issue is solved :)

[2021-06-28 08:24] salmanmpp opened #215 "Logger Run time configuration"
How do we change the logger configuration for the 2.3.2 version?

[2021-06-28 09:05] pmwmedia commented on #215
tinylog's native logging provider does not support configuration changes after issuing the first log entry. However, you could create your custom logging implementation by extending or wrapping tinylog's native logging provider [TinylogLoggingProvider](https://github.com/tinylog-org/tinylog/blob/v2.3/tinylog-impl/src/main/java/org/tinylog/core/TinylogLoggingProvider.java) and add your required run

[2021-06-28 10:39] salmanmpp commented on #215
I got  java.lang.UnsupportedOperationException: Configuration cannot be changed after applying to tin log this exception

[2021-06-28 10:40] salmanmpp commented on #215
my code is
lass ReconfigurableLoggingProvider : TinylogLoggingProvider() {

    private var realProvider: TinylogLoggingProvider = TinylogLoggingProvider()
    lateinit var logLevel: String
    var fileSize: Int = 0

    fun reload() {
        realProvider.shutdown()
        val method = Configuration::class.java.getDeclaredMethod("load")
        method.isAccessible = true
        val map = method

[2021-06-29 09:06] pmwmedia commented on #215
Here is a logging provider that can change the severity level at runtime:

[code]

Usage example:

[code]

Please be aware that the `level` property in `tinylog.properties` will be still used as minimum severity level. If you need really all severity levels at runtime, you can just set it to `trace`. If you know that you will never active some severity levels, you can use a higher severity level a

[2021-06-29 09:56] pmwmedia commented on #215
Here is my dynamic size policy implementation:

[code]

My `tinylog.properties`:

[code]

Usage example for my tests:

[code]

[2021-06-29 10:40] salmanmpp commented on #215
Thank you for the timely reply It saves me

[2021-06-29 10:40] #215 closed, assigned to nobody

[2021-06-29 12:02] #202 closed, assigned to nobody

[2021-07-09 20:52] pmwmedia commented on #201
Implemented by pull request #213

[2021-07-09 20:52] #201 closed, assigned to nobody

[2021-07-27 08:20] epsmae opened #216 "Android Shared User Not Working"
**Describe the bug**
`android:sharedUserId="android.uid.my_shared_user"`
As soon as the shared user is set in the AndroidManifest.xml the following error occurs on the first log entry:

`W/System.err: LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.`

This is reproduceable without proguard.
[code]

I use the following config.
[co

[2021-07-27 10:54] pmwmedia commented on #216
Unfortunately, I'm not able to reproduce this issue.

My MainActivity:
[code]

My AndroidManifest:
[code]

Output on runtime:
[code]

[2021-07-27 10:57] pmwmedia commented on #216
My full demo project:
[tinylog-android-example.zip](https://github.com/tinylog-org/tinylog/files/6884887/tinylog-android-example.zip)

[2021-07-27 12:00] epsmae commented on #216
@pmwmedia thanks for the fast response.
I have the same issue in your application if I set the on the manifest tag where it should be.
[Android Manifest](https://developer.android.com/guide/topics/manifest/manifest-element)

[code]

`2686-2686/org.tinylog.android.demo W/System.err: LOGGER WARN: No logging framework implementation found in classpath. Add tinylog-impl.jar for outputting log entries.

[2021-07-27 12:07] pmwmedia commented on #216
Thanks for the correction! I have never used `android:sharedUserId` before.

This is indeed a very strange side effect of `android:sharedUserId`. Maybe we can find a way for setting the correct class loader for tinylog automatically?

[2021-07-27 12:24] pmwmedia commented on #216
I'm not even able to install my example app in the emulator.

[code]

[2021-07-27 12:24] epsmae commented on #216
I tested back in my application and it works like that.
I have only to set the class loader once before I log the first entry.
I have multiple activities and do the first log call in my derived class from Application.

May this is required on the first logger call as some initialization is done there?

Not sure if this should be in the library as it is security related.
Moreover sharedUserId is de

[2021-07-27 12:25] epsmae commented on #216
Try to uninstall the old app first, and or change the shared user id and application id.

[2021-07-27 20:35] pmwmedia commented on #216
@epsmae Thank you for your input and research results. I will fix this issue even `SharedUserId` is deprecated. tinylog 2,4 will use the class loader from the class, if it cannot find any service files via the context class loader of the current thread. This solution is very general and maybe also useful for other class loader related issues,

[2021-07-27 20:35] #216 closed, assigned to pmwmedia

[2021-09-09 09:41] michieltjampens opened #217 "Daily rolling file not using system time"
I might be mistaken, but i assume this uses the computer clock. Could it be possible to define an offset? Or maybe choose between UTC and localtime/systemtime?

[2021-09-09 20:40] pmwmedia commented on #217
Supported examples:

[code]

Of course, the time can be still defined without any custom time zone for using the local system time zone.

**Edit:** Time zones can be also used for the monthly policy.

[2021-09-09 20:52] #217 closed, assigned to pmwmedia

[2021-09-09 20:53] pmwmedia commented on #217
Will be released with the second milestone of tinylog 2.4

[2021-09-10 04:15] michieltjampens commented on #217
Thanks for the quick reply/resolution!

[2021-10-13 02:48] swardana commented on #151
Hi All,
First, I'm sorry to comment on this closed ticket, but I wonder how to use the tinylog module name in project?
Is there any sample or documentation? because I can't find it in tinylog website documentation.

[2021-10-14 08:40] ghost opened #218 "Support for custom time sources"
Hey there,

I'm looking forward to use tinylog for an Android project. In this project, I want to use the time obtained by a GPS receiver  (using a custom time library) instead of the Android system time for the timestamps of the log messages stored by tinylog.

I have had a look at the documentation as well as at the source code of tinylog but I don't have an idea on how to accomplish this. Can y

[2021-10-14 12:35] kropp opened #219 "Support max-size style modifier to limit the length of the token"
`min-size` style modifier is very helpful to maintain consistent column layout for tokens with known length.
However, there are cases when token length is unknown, but you still want to see it in a fixed width column.
Example would be thread or class name, which may be short or long and setting `min-size` too big to accommodate the longest message is just a waste of, err, space.

Therefore, I sugg

[2021-10-14 16:49] pmwmedia commented on #151
You just need to add a `module-info.java` file:

[code]

Full example: [example.zip](https://github.com/tinylog-org/tinylog/files/7347926/example.zip)

[2021-10-15 02:12] pmwmedia commented on #218
Hi Jens,

Unfortunately, tinylog 2 does not support registration of custom format pattern tokens. tinylog 3 will support such custom tokens. However, this won't help you right now.

Which writer do you use? You could copy the source of the writer you need ([tinylog-impl/src/main/java/org/tinylog/writers](https://github.com/tinylog-org/tinylog/tree/v2.4/tinylog-impl/src/main/java/org/tinylog/writer

[2021-10-15 13:21] pmwmedia commented on #219
Solved by #220

[2021-10-15 13:21] #219 closed, assigned to kropp

[2021-10-19 06:04] ghost commented on #218
Hey Martin,

sorry for my belated reply. It's pretty busy here at work at the moment....
Currently, I'm using the RollingFileWriter. I plan to have a look at your proposal later this week but I think that I already get the idea.

Bests,

Jens

[2021-10-19 07:14] pmwmedia commented on #218
That's great to read :) I will close this issue.

[2021-10-19 07:14] #218 closed, assigned to nobody

[2021-11-13 16:32] XakepSDK opened #221 "System.Logger support"
Could you please add support for System.Logger? It's Java 9+ API for loggers like SLF4J.

[2021-11-14 23:31] pmwmedia commented on #221
Helpful tutorial: https://www.baeldung.com/java-9-logging-api

[2021-11-16 22:37] a1730 opened #222 "Typo in method name"
Thank you for Tinylog.
Tinylog fails to load in SLF4J alpha3+ because of a typo in the method name.

Compare slf4j api method named [getRequeste**d**ApiVersion](https://github.com/qos-ch/slf4j/blob/98f1f2f46533eba4945dda995225cf3c4017a075/slf4j-api/src/main/java/org/slf4j/spi/SLF4JServiceProvider.java#L42) to tinylog's implementation [getRequesteApiVersion](https://github.com/tinylog-org/tinylog/b

[2021-11-17 20:29] pmwmedia commented on #222
This typo was fixed in SLF4J by commit https://github.com/qos-ch/slf4j/commit/7483a11dd6ba1398f4b51c2e673800325cc609fc.

I will update to the latest SLF4J 2 alpha version,

[2021-11-17 20:34] #222 closed, assigned to pmwmedia

[2021-11-20 19:07] pmwmedia commented on #205
Currently, the JSON writer will place the correct closing `]` when closing a file. The objective of this issue is to have a correct closing `]` after each `flush()`. I have converted this bug into an enhancement as this is an improvement rather than a bug.

[2021-12-04 15:37] Siedlerchr opened #223 "tinylog 2.4.0-M2 and slf4j-api:2.0.0-alpha5 : Class path contains slf4j bindings targeting api versions prior to 1.8"
**Describe the bug**

Have a fully modularized JPMS Gradle java project and on trying to use slf4j and tinylog together, I get the following error:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Environment**

[code]
Java version: 16

[2021-12-04 20:28] pmwmedia commented on #223
Should be fixed by commit 42c4b8e855dd765814ec2555f1b235ff34448e85 (see #222)

[2021-12-04 20:30] pmwmedia commented on #223
Workaround: use SLF4J 2 Alpha2 until the release of tinylog 2.4.0 (planned for next week)

[2021-12-05 17:35] Siedlerchr commented on #223
Thanks! I will then wait for the next release!

[2021-12-06 20:08] pmwmedia commented on #223
I have just released tinylog 2.4.0. It should work now. If not, please feel free to reopen this issue.

[2021-12-10 15:51] Siedlerchr commented on #223
Just tested with 2.4.0 Release, and I still get the same error in JabRef. I also tried adding tinylog-impl to the dependenices, but the same issues
https://github.com/JabRef/jabref/pull/8226

Module info:
[code]
./gradlew run
[code]

[2021-12-10 16:03] pmwmedia commented on #223
This is really odd. Could you provide a minimal example project that I can use for reproducing your issue?

[2021-12-10 16:11] Siedlerchr commented on #223
I will try to come up with something.

[2021-12-10 16:44] #221 closed, assigned to nobody

[2021-12-10 17:23] pmwmedia commented on #223
I found the cause for the issue and going to release a bug fix tonight.

[2021-12-10 17:30] #223 closed, assigned to nobody

[2021-12-10 19:43] Siedlerchr commented on #223
Thanks a lot!

[2021-12-11 03:08] ghost opened #226 "Does this implement a fix for CVE-2021-44228, or does it implement log4j in any way?"
Log4J had a critical vuln exposed recently, and I'm looking for alternatives to it. I found SLF4J (based or relates to log4j), and other paid solutions, but I came across this.

Does this have a fix for [CVE-2021-44228](https://nvd.nist.gov/vuln/detail/CVE-2021-44228), or is it not based on log4j at all?

Thank you.

[2021-12-11 07:38] pmwmedia commented on #226
tinylog is not based on Log4j nor does it have any dependency to Log4j. Actually, tinylog is an independent logging framework without any JNDI code. Therefore, such security issue cannot happen with tinylog.

[2021-12-11 07:38] #226 closed, assigned to nobody

[2021-12-11 13:11] Siedlerchr commented on #223
2.4.1 is now working!

[2021-12-17 23:08] aberman commented on #215
I am trying to completely configure TinyLog at runtime and, unfortunately, it's not really doable without copying the source code in TinylogLoggingProvider.  The code does not allow a subclass to override the values of the private fields, like writers.  If instead all log methods in that class accessed those fields via a getter method or a setter for those fields existed, I could extend the provid

[2021-12-18 09:15] pmwmedia commented on #215
@aberman Just create a new issue here and describe there exactly what code need to be change for which reason.

[2021-12-18 12:15] Fleshgrinder commented on #205
Is there a reason why we try to enclose the file's content with `[]`? Usually JSON logs use the so called JSON lines format, where each line is expected to be valid JSON, without any wrapping array. This makes the writing **much** easier. It also ensures that you can do things like `tail` and `head` and still parse the JSON without issues. Other software like Graylog also expects that it received

[2021-12-19 01:30] davidmoshal commented on #205
I think I have the same problem:

[code]

Any suggestions?
It's intermittent.
It's possible that it was trying to log a json string when it threw that error.

[2021-12-19 14:21] proohit commented on #205
@davidmoshal usually the check for a valid json executes only once during initialization, e.g. on startup.

Was this state of the file created by the writer? If yes, is there any chance for reproduction?

[2021-12-19 14:24] proohit commented on #205
The initial idea was to generate a JSON conform output so that it can be parsed by JSON parsers. Is the JSON line format valid JSON, i.e. parseable by common parsers??

[2021-12-19 20:01] rbygrave commented on #205
https://en.wikipedia.org/wiki/JSON_streaming#Line-delimited_JSON

Generally the parser (like say Jackson core JsonParser) doesn't need to support it directly. That is, the log reader/publisher reads lines and then for each line uses the parser (say Jackson JsonParser) to parse the line. In this way the check for valid JSON is per line.

Things like ElasticSearch take line delimited JSON.  So for e

[2021-12-19 21:49] proohit commented on #205
I agree that any large scale, high performance or streaming based use case may require this lighter format. However, I wanted to avoid solutions shown [in this SO question](https://stackoverflow.com/questions/42707773/how-to-loop-through-newline-separated-json-line-by-line-in-javascript) only for simply parsing json.

I do think that a configurable format for JSON or e.g. LDJSON would make sense.

[2021-12-19 22:30] rbygrave commented on #205
I think that is somewhat unrelated in that I don't think we ever in practice turn X Mb of logs into a `List<T>` but we would instead turn it into a `Stream<T>`.  Or said another way, we get a stream of lines `Stream<String>` and map each line getting `Stream<T>`.

So as I see it, I don't think that SO answer is practical, useful, helpful wrt _logs_, in that it will work with really small amounts o

[2021-12-20 09:07] pmwmedia opened #229 "Line-delimited JSON support"
Add a property to the JSON writer for line-delimited JSON support. The current behavior will be the standard for compatibility reasons.

Link: https://en.wikipedia.org/wiki/JSON_streaming#Line-delimited_JSON

[2021-12-20 09:19] pmwmedia commented on #205
Thank for all the great and useful input. I see four necessary steps:

1. Add support for line-delimited JSON. However, the current behavior will be the standard for compatibility reasons and line-delimited JSON can be activated by a new property for the JSON writer. (see #229)

2. @davidmoshal: Could you provide the log file, so that I can analyze what is the reason for the invalid state and caus

[2021-12-20 19:12] #205 closed, assigned to nobody

[2021-12-21 05:06] davidmoshal commented on #205
@proohit @pmwmedia:
- I have only seen the problem while testing a Quarkus application.
- The log file is basically truncated, and looks like this:

[code]
Initially I thought that it was due to the test runner killing the process before it could flush the last message to the log file.
However, it ALWAYS fails at the same place.
ie: at the point it's writing a json object to a json log file!

[2021-12-21 07:03] pmwmedia commented on #205
@davidmoshal Is `"message" : "{\"session_id\":\"\",\"command_json\":[` really the last line of the JSON file?

According to the algorithm, something should be written also afterwards. It would be also interesting to know what JSON object should be written there as message.

[2021-12-21 22:16] davidmoshal opened #231 "Wondering if it's possible to turn tinylog off during testing"
basically profiles (test, dev, prod, others?) that can be pre-pended to any config property:

eg:
test.console = false
dev.console = true
prod.console = true

or, alternatively, a way to specify the tinylog.properties file to use

[2021-12-21 23:00] pmwmedia commented on #231
The recommended way to turn off tinylog during tests is putting a separate `tinylog.properties` into `src/test/resources` with the content `level = off`.

[2021-12-23 04:18] aberman opened #232 "Allow thread-safe way to update Configuration"
I have a Java agent which requires configuration at runtime.  Currently, I am following https://github.com/tinylog-org/tinylog/issues/102 by creating an underlying logging provider and it mostly works.  However, anything I do to Configuration yields an UnsupportedOperationException.  My non thread-safe way right now reflectively modifies the frozen field so I can modify the Configuration.  This is

[2022-01-07 01:57] #231 closed, assigned to nobody

[2022-01-15 07:43] pmwmedia opened #235 "Support resolving JNDI values in configuration"
Use `@{foo}` syntax for resolving JNDI values like `java:comp/env/*` in configuration files analog to `#{foo}` for system properties and `${foo}` for environment variables.

[2022-01-17 19:19] pmwmedia commented on #235
backporting of a4920876e4e7a4e3587d4da587b1f8a88b7a71b6

[2022-01-21 08:58] #235 closed, assigned to pmwmedia

[2022-01-26 10:14] Lolash opened #237 "tinylog-api-scala for Scala 2.13"
Hello!

Is there a chance for publishing `tinylog-api-scala` for Scala 2.13?

[2022-01-26 11:42] pmwmedia commented on #237
The macros have to be refactored to be satisfy the compiler for Scale 2.13.

[2022-01-26 11:47] pmwmedia commented on #91
Could be solved easily inside of [JdbcWriter.java](https://github.com/tinylog-org/tinylog/blob/v2.5/tinylog-impl/src/main/java/org/tinylog/writers/JdbcWriter.java)

[2022-01-26 15:18] vidar-goran opened #238 "Proguard obfuscation fails with: "1 duplicate class definitions" and "there were 2 classes in incorrectly named files""
I run the tiny-log 2.4.1 and tried also 2.4.0 I have the following specified in the proguard.conf file:

-keepnames interface org.tinylog.**
-keepnames class * implements org.tinylog.**
-keepclassmembers class * implements org.tinylog.** { <init>(...); }

The following output is generated and obfuscation fails and thereby the whole build, do you have any suggestion how to solve the issue

[proguar

[2022-01-26 16:24] pmwmedia commented on #238
What version of Proguard and "com.android.tools.build:gradle" do you use? Could you share all your dependencies?

[2022-01-27 11:25] vidar-goran commented on #238
Hi we use proguard-maven-plugin version 2.2.0 and maven 3.6.3. I think I resolved the problem yesterday - proguard fails due to the module-info.class:es in tinylog-api-2.4.1.jar and tinylog-impl-2.4.1.jar. If I add **-dontwarn module-info**  to proguard.conf then obfuscation doesn't fail. I don't know if that is good solution or it could cause other issues but it seems to work. If you have any oth

[2022-01-28 23:35] pmwmedia commented on #238
I'm unable to reproduce the issue in tinylog's minimal Android example project: https://github.com/tinylog-org/tinylog-android-example. Any pull request is welcome that can cause the same warnings in this project.

[2022-01-28 23:35] #238 closed, assigned to nobody

[2022-02-04 11:28] #237 closed, assigned to pmwmedia

[2022-02-09 22:34] kevind-wgu opened #239 "Attempting to provide additional Context Variable Sources"
I am attempting to implement a NewRelic's "Logs in Context" and "distributed tracing" solutions using the tinylog logger. For both of these solutions to work NewRelic expects log messages to contain NewRelic log properties that it will use to tie various applications threads together. This works very similarly  to MDC (ThreadContext) variables being put into the logs.

I am looking for a way to su

[2022-02-09 22:45] kevind-wgu opened #240 "Separate log message FORMAT from Log Message DESTINATION"
I would like to write JSON log messages to the console. Given Tinylog's current implementation this isn't possible.

Additional things that are not possible -- Using JSON message format and writing to a rolling log file.

[2022-02-12 09:03] pmwmedia commented on #240
In tinylog 3, the output format (pattern or line-delimited JSON) is already separated from the writer (supported by console and file writer). A backporting to tinylog 2 is possible but will require some effort.

see [branch v3](https://github.com/tinylog-org/tinylog/tree/v3.0/tinylog-impl)

[2022-02-12 09:18] pmwmedia commented on #239
`TinylogLoggingProvider` will support custom a `ContextProvider` in tinylog 2.5. You can just extend from `TinylogLoggingProvider` and pass your own `ContextProvider` without implementing any methods in the logging provider.

With tinylog 3, such custom context can be even easier implemented by a custom format pattern placeholder.

[2022-02-13 00:05] #239 closed, assigned to pmwmedia

[2022-02-14 15:53] kevind-wgu commented on #240
@pmwmedia I don't see a released version of v3. Is there a timeline to put out a released version? (Or an alpha or beta version?)

[2022-02-14 15:58] kevind-wgu commented on #239
@pmwmedia Any chance you could make the BundleContextProvider class public as a part of this? I still want to use the TinyLogContextProvider in addition to the NewRelicLogProvider. In order to use both I will essentially have to rewrite the BundleContextProvider. If it were public I wouldn't need to rewrite it.

[2022-02-14 16:19] kevind-wgu opened #242 "Make org.tinylog.provider.BundleContextProvider public"
Recently you added the ability to pass in your own ContextProvider into TinylogLoggingProvider. I plan on using this once released. I would like to combine the functionality in the TinylogContextProvider with my own context variables. It looks like this functionality is already implemented in BundleContextProvider but this class is package private. Any thoughts on making it public?

[2022-02-14 20:24] pmwmedia commented on #242
Just made them public

[2022-02-14 20:24] #242 closed, assigned to nobody

[2022-02-14 20:34] pmwmedia commented on #240
There is no released version of tinylog 3 yet. Actually it's still pre-alpha, but the development is already quite advanced:

- logging API for Java is done and source code compatible with tinylog 2
- logging back-end is mainly only lacking of some file rolling functionality and JDBC writer

However, the documentation is still completely missing. It will take much effort to write it and without an

[2022-02-21 18:44] ghost opened #243 "Schema Names for JdbcWriter"
I would like to use a different db schema for the JdbcWriter.
Right now I must use the default schema (for example public with postgres), as there is no way to specify
one right now.
I would be happy to contribute a Pull Request.

[2022-02-21 18:56] pmwmedia commented on #243
This feature would be definitely useful also for other users. A pull request is welcome :)

[2022-02-24 21:33] #243 closed, assigned to nobody

[2022-03-29 13:50] pab2d opened #245 "Reasign system property value for writer"
Hi,

in my case, i have to reasign a system property value on runtime and i would like to see the new value in my log file. Is there a way to achive that easily?

tinylog.properties (System property -> app.namespace)
[code]
Custom logger
[code]
The default configuration in ProviderRegistry.getLoggingProvider(); loads all properies once and does a mapping (tinylog / system properties) -> so my logg

[2022-03-29 19:31] pmwmedia commented on #245
Do you need the updated system property only in the format pattern? If yes, this could be solved by implementing a new [token](https://github.com/tinylog-org/tinylog/blob/v2.5/tinylog-impl/src/main/java/org/tinylog/pattern/Token.java).

The syntax could be for example: `writer.format =  {dynamic-system-property: app.namespace}`. A good example for a token implementation is [PlainTextToken.java](ht

[2022-03-31 18:47] #229 closed, assigned to pmwmedia

[2022-04-02 15:01] justinjohnson02 opened #246 "About JDNI Support"
As indicated in https://github.com/tinylog-org/tinylog/issues/235, will JDNI support only be limited to the configuration scope and **not message formatting?**

I just want to know if yall are steering clear of said messaging attack surface, as seen with Log4J 2.

Appreciate the Tinylog team 🙇🏾 👍🏾 !

[2022-04-02 15:19] pmwmedia commented on #246
Yes, tinylog does only support JNDI in the initial and immutable configuration, and not in plain log messages. I'm totally aware about the security issues Apache Log4j 2 has faced. I have ensured that tinylog won't face similar security issues.

[2022-04-02 15:32] justinjohnson02 commented on #246
Thanks @pmwmedia !

[2022-04-02 15:32] #246 closed, assigned to nobody

[2022-04-05 20:46] simon04 opened #247 "org.tinylog.slf4j.TinylogLogger#isDebugEnabled() is bottle neck for Jetty's HttpOutput"
**Describe the bug**
I'm running Jetty server with tinylog and slf4j-tinylog.

I've configured a custom DEBUG level for `foobar`:

[code]

`org.eclipse.jetty.server.HttpOutput` is very often calling `org.tinylog.slf4j.TinylogLogger#isDebugEnabled()` which turns out to be a bottle neck when serving a 17MB text file.

Here's a CPU profiling flamegraph I've generated using async-profiler:

![image](h

[2022-04-05 21:44] pmwmedia commented on #247
I would like to analyze this use case. Could you provide a GitHub repository with a minimal reproducible example project? Can you reproduce the performance issue with Oracle Java? Which Jetty version do you use?

[2022-04-11 14:50] overheadhunter opened #248 "cannot access class javax.naming.NameNotFoundException (`org.tinylog.api` does not read module `java.naming`)"
**Describe the bug**
[`JndiValueResolver` imports `javax.naming.*`](https://github.com/tinylog-org/tinylog/blob/2.5.0-M1.1/tinylog-api/src/main/java/org/tinylog/configuration/JndiValueResolver.java#L16-L18), but [`module-info.java` doesn't `require java.naming`](https://github.com/tinylog-org/tinylog/blob/2.5.0-M1.1/tinylog-api/src/main/java9/module-info.java).

This leads to

[code]

**To Reprodu

[2022-04-11 18:04] #248 closed, assigned to pmwmedia

[2022-04-11 19:09] overheadhunter opened #249 "Why use `org.tinylog.configuration.ServiceLoader`?"
I just spent hours trying to understand why the heck the ServiceLoader can't load my custom `ConfigurationLoader`, before I found out this is _not_ Java's ServiceLoader but a custom one that relies on reflection, which will not work in modular apps unless one `opens` the package containing the implementation to tinylog.

Furthermore, you can't `provide` a service in the `module-info` but _must_ us

[2022-04-11 19:37] pmwmedia commented on #249
tinylog 2 uses a custom `ServiceLoader`, because Java's `ServiceLoader` supports only default constructors without any arguments. When tinylog 2 was developed, Java 9, modules, and GraalVM weren't a thing yet.

However, tinylog 3 uses Java's `ServiceLoader` to avoid all the issues you have mentioned. The disadvantage is that we need for all services an additional builder class for passing the requ

[2022-04-11 19:49] overheadhunter commented on #249
I see, thanks for clarifying. Is there a roadmap for 3.x already? I don't dare asking for an ETA 😅

[2022-04-12 05:56] pmwmedia commented on #249
tinylog 3 is a completely redevelopment of tinylog from scratch.

## Current state
- **tinylog-api**: done and ready, source code compatible with the logging API of tinylog 2.x
- **tinylog-api-kotlin**: `TaggedLogger` done but `Logger` still under development, source code compatible with the Kotlin logging API of tinylog 2.x
- **tinylog-impl**: almost done as only the `JdbcWriter` is still missing

[2022-04-20 07:29] simon04 commented on #247
Here you are: https://github.com/simon04/tinylog/tree/issue-247

[profile.zip](https://github.com/tinylog-org/tinylog/files/8519286/profile.zip) has been obtained using

[code]

[2022-04-20 17:08] pmwmedia commented on #247
Thank you! I will investigate it.

[2022-04-20 20:50] mikehearn opened #252 "Ability to configure a writer for all untagged messages + some tags"
You can't write this:

[code]

because `-` is not actually a way to simply express the empty tag, but a whole 'command' by itself. I'd like to have such a thing so I can use tags as a way to enable or disable extra detail in logging. It seems like an obvious use case but there's no way to express it because you can't write "no tag + this list of extra tags I need for this run".

[2022-04-20 22:15] pmwmedia commented on #247
My first tests on Windows 10 without profiler:

**tinylog 2.5.0-M1**
[code]
`Measure-Command { Invoke-WebRequest -Uri http://localhost:8080 }` takes **6.0559928** seconds

**Logback 1.2.11**
[code]
`Measure-Command { Invoke-WebRequest -Uri http://localhost:8080 }` takes **0.6344634** seconds

Not such big difference between tinylog and Logback.

**Edit:** Enabled `$ProgressPreference = 'SilentlyCo

[2022-04-21 20:31] #249 closed, assigned to nobody

[2022-04-21 20:33] pmwmedia commented on #247
**tinylog 3.0-SNAPSHOT + SLF4J 2.0.0-alpha7**
[code]
~`Measure-Command { Invoke-WebRequest -Uri http://localhost:8080 }` takes **1.2723528** seconds~
`Measure-Command { Invoke-WebRequest -Uri http://localhost:8080 }` takes **0.4198631** seconds (after commit 883d4ecdd391ec92c6604a630cb7ff7da7963685)

[2022-04-22 22:24] pmwmedia commented on #247
The extremely frequent checking whether a severity level is enabled (while the severity level is only enabled for some classes) won't be anymore a bottleneck in tinylog 3.

[2022-04-23 08:46] pmwmedia commented on #247
Fixed in latest snapshot of tinylog 3.0

[2022-04-23 08:46] #247 closed, assigned to pmwmedia

[2022-04-27 05:14] salmanmpp opened #253 "Is there Rolling File Writer with JSON Support"
- Can we write logs into a file with JSON format using Rolling File Writer

[2022-04-27 07:59] pmwmedia commented on #253
The rolling writer of tinylog 2 doesn't support the JSON format so far. However, in the latest snapshot of tinylog 3 you can use all rolling file writer functionality with the JSON format.

If you want to build and configure tinylog 3, just let me know. I can provide all required information.

[2022-04-27 08:24] salmanmpp commented on #253
I would like to build and configure tinylog 3

[2022-04-27 19:15] pmwmedia commented on #253
Steps:
1. Clone repository https://github.com/tinylog-org/tinylog/tree/v3.0
2. Switch to branch v3
3. Install tinylog 3 via `mvn install` locally (use JDK 9, 11, or 17)
4. Add the artifacts `org.tinylog:tinylog-api:3.0-SNAPSHOT`, `org.tinylog:tinylog-api-kotlin:3.0-SNAPSHOT`, `org.tinylog:slf4j-tinylog:3.0-SNAPSHOT`, and/or `org.tinylog:tinylog-impl:3.0-SNAPSHOT` to your project
5. Example configu

[2022-04-28 07:34] #253 closed, assigned to nobody

[2022-05-03 06:14] pab2d commented on #245
Yes i do. Thank you for your idee.
My custom logger does an user and a technical logging

[2022-05-08 06:40] #91 closed, assigned to pmwmedia

[2022-05-17 10:43] Schnippsche opened #254 "How can i get the current log file name on runtime?"
Hi, im am using tinylog 2 and i want to load the current log file content to show it in my gui.
My tinylog.properties looks something like this:
`writer=rolling file

writer.file=project_{date: yyyy-MM-dd}.log`

So my problem is: How can i get the current filename of the logger file ?
i can resolve it with hard coded java String formatter, but when someone change the properties file it doesn't fit

[2022-05-19 06:33] pmwmedia commented on #254
I have just answered your question on Stackoverflow: https://stackoverflow.com/a/72299664/5899171

[2022-05-19 06:33] #254 closed, assigned to nobody

[2022-05-20 04:55] Schnippsche opened #255 "get the current logfilename at runtime"
Please implement a feature for getting the current used log file name.
Maybe a listener that could automatically inform users about a rollover event and provide the new file name.
Thanks

[2022-05-22 11:35] dzikoysk opened #256 "Support severtity level for packages/classes per writer"
I'd love to see a possibility to set the [severity levels](https://tinylog.org/v2/configuration/#severity-level) for packages or classes for each writers individually.

In our use-case we'd like to filter a little bit of logs from the console, but still keep it all in the file - unfortunately it's not possible with the current impl because the `level@package` property works globally and affects al

[2022-07-12 11:39] WenTao-Love commented on #246
why not forbidden jndi?

[2022-07-18 05:35] pmwmedia commented on #246
JNDI is not generally evil or dangerous. The way how Log4j supported JNDI in log messages was the root the security vulnerability that time. However, there are good use cases for using JNDI in the log configuration. This is secure and the only place, where tinylog supports JNDI.

[2022-07-26 02:43] kscorpio opened #258 "How to config level to split log file by level"
I need to split log file by level

file1 : only debug level
file2 : only info level
file3 : warn & error

[2022-08-09 16:57] pmwmedia commented on #258
You can only do:

file1 : debug level + all more serve levels
file2 : only info level + all more serve levels
file3 : warn & error

What is the use case of having only debug log entries in a log file? Doesn't make it sense to have also log entries with more serve levels in the same log file for context?

[2022-08-16 19:50] #258 closed, assigned to nobody

[2022-08-30 10:28] Saxintosh opened #259 "DynamicPath"
It appears that the backup property of the Rolling File Writer does not work when dynamically changing the path.

In configuration I have:

[code]
When I change the dynamic segment with: `DynamicSegment.setText(logFolder.path)`
the new folder remains full of log files... not limited to the last 90

By the way, should be nice to have the possibilities to start the logging, only when i set the dynam

[2022-08-31 16:00] pmwmedia commented on #259
Deleting old log files works only if you have a static log folder root. Otherwise, tinylog cannot find the old log files. For example, `../log/{dynamic: foo}/log.{date}.txt` would work. In your case, you could call `DynamicSegment.setText(logFolder.path)` with completely different log folder roots like '/tmp', '~/foo/bar' and so on. Therefore, tinylog has no idea where to search for all the old lo

[2022-08-31 16:10] Saxintosh commented on #259
Hi, thanks for your replay.
Unfortunately, logging with DynamicSegment, crashed my JVM (tested with Java 8 and Java 17) on an old ubuntu machine. All fine on my Mac HW.
If you want I can privately send you the log file.

I solved this by creating a new Writer (Kotlin):

It's a simple version that works very well!

[code]

[2022-08-31 16:16] pmwmedia commented on #259
Please send me the log file to martin@tinylog.org. I will have a look what is the cause.

[2022-09-21 01:42] tcmot opened #260 "Option to reduce file size"
I would like to have a core library.

It doesn't contain too much features.

Only core features.

Tinylog is still too fat.

Don't add features,It immediately becomes Log4j2.

[2022-09-21 06:45] pmwmedia commented on #260
I agree that it would be nice to further reduce the JAR size of tinylog. However, stop adding features would make tinylog to become a stale project. I have another idea. My idea is having a Maven and Gradle plug-in that can remove features from tinylog.

In tinylog 2, the most features of the logging framework are services. This means that the classes are registered in `META-INF/services` and ther

[2022-10-03 02:53] tcmot opened #289 "Support Garbage-free？"
Like this，
https://logging.apache.org/log4j/2.x/manual/garbagefree.html

This new feature is very nice, will it be supported someday?

[2022-10-03 16:35] q3769 opened #291 "slf4j 2.0.3 + Lombok: logging class always resolved to org.slf4j.spi.DefaultLoggingEventBuilder"
**Describe the bug**
It should have been resolved to the class issuing the logs, not the SPI class of the Slf4j.

**To Reproduce**
Steps to reproduce the behavior:
1. In Maven pom.xml
[code]
2. Use Lombok @Slf4j in logging class, not manual import of tinylog Logger.
3. Log code sample
[code]

**Environment**
tinylog version: 2.5.0
Java version: 17 (with release target 8)

[2022-10-03 20:06] pmwmedia commented on #291
@q3769 What is the output in the log file?

[2022-10-03 20:13] q3769 commented on #291
It looks like this when I do "mvn clean install":

2022-10-03 15:11:38 [main] org.slf4j.spi.DefaultLoggingEventBuilder.logViaPublicSLF4JLoggerAPI()
INFO: [100] tasks were run by [100] threads, with thread pool size [1000]

[2022-10-03 20:14] pmwmedia commented on #289
I'm not sure if garbage-free logging would have a measurable impact on the performance. I would be happy to be convinced of the opposite by a benchmark.

[2022-10-03 20:20] pmwmedia commented on #259
This bug is not reproducible on any of my systems. The log files show a potential bug of the JRE in connection with the used file system.

[2022-10-03 20:20] #259 closed, assigned to nobody

[2022-10-04 19:53] #291 closed, assigned to pmwmedia

[2022-10-04 20:24] renovate[bot] opened #296 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/tinylog-org/tinylog).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Open

T

[2022-10-07 13:27] zulot commented on #100
Hi,
I tried to add, removed tagg on run whith last version off tinylog.
I used your example, but they doesn't work.

i see a value frozen who lock change.
i add code for change this value, but every day, if a new log come with tag, in the same day, i can't log on file this tag.

after i see this documentation : https://tinylog.org/v2/extending/#custom-logging-provider
But it is very different.

Wh

[2022-10-12 12:48] zulot opened #304 "Load new configuration level and TAG at RunTime"
I use tinylog 2.5 in my configuration.

We need to change TAG, and severity log at RUNTIME, because the application is big, we can t log everything, and we just need to log something by tag for a specific request for a specified time.

I look issue #100, #102, #157, #192 and documentation https://tinylog.org/v2/extending/#custom-logging-provider

But that doesn't work in specific case.
Example, if

[2022-10-12 19:39] pmwmedia commented on #304
I have just created a working example project: https://github.com/tinylog-org/tinylog-reload-configuration-example

Please have a look if it solves your issues. I assume that the cause for issues is that the `TaggedLogger` instances are ignoring your tag configuration changes. If the example project or its documentation is unclear or won't solve your issues, please let me know. I will be happy to

[2022-10-13 15:18] torakiki opened #305 "Change Logger level at runtime"
I'm trying to change the level of some logger at runtime, the use case is a desktop application where users can select the logging level or some flag or command line argument to have a "verbose" mode.
I looked at this https://github.com/tinylog-org/tinylog/issues/215#issuecomment-870418371 but from what I can understand this works only if you are moving to a stricter level since you are calling su

[2022-10-13 19:13] pmwmedia commented on #305
Yesterday, I set up a minimal example project for re-configuring tinylog at runtime: https://github.com/tinylog-org/tinylog-reload-configuration-example

According to your use case, this example project should exactly do for what you are asking.

[2022-10-14 07:57] torakiki commented on #305
Ok, first thanks for taking time to provide a workaround... but, while I understand the benefit of immutability, it seems to me that this feature has been requested few times already. Going through reflection to overcome the restrictions put in place to guarantee immutability seems very fragile, what if the next release renames the internal `frozen` to `blocked` and when someone changes the log le

[2022-10-16 18:57] pmwmedia commented on #305
Actually, re-configuring the logging framework at runtime was a feature of tinylog 1. It was very rarely used and therefore I dropped it for tinylog 2. However, you are right that this is currently the most requested feature. Nevertheless, the architecture of tinylog 2 is based on immutability and it would require radical architecture changes to implement a clean solution for changing the configur

[2022-10-17 07:16] torakiki commented on #305
Ok, thanks for your time and explanation, I'll wait for version 3 and in the meantime I managed to implement my requirements in a slightly different way so I'm good with the current implementation.

[2022-10-17 07:16] #305 closed, assigned to pmwmedia

[2022-10-17 14:49] zulot commented on #304
Thanks for your example

But Globaly that doesn't work, and it's worst than i did, with now multi bug

I explain, i start my configuration with 2 TAG : TOTO and TEST
Il try log TEST1 -> it is not write -> OK
I add TEST1, i reload, launch log -> OK
I add TEST2, i reload, launch log -> OK
I add TEST3, remove TEST1, TEST2, launch log TEST 3 -> OK
I launch TEST2 -> it is not write -> OK
I add TEST2, r

[2022-10-18 08:51] pmwmedia commented on #304
Can you adapt https://github.com/tinylog-org/tinylog-reload-configuration-example with your configuration for reproducing the bug? Afterwards you can give me the code and I will have a look what is the cause.

[2022-10-18 15:03] zulot commented on #304
I give you all configuration file and test.
Number is version off properties

1 - try write TAG: TEST1 -> no log -> OK
1 - try write TAG: TEST -> log -> OK
2 - after reload and del TAG TEST and ADD TEST1, try write TAG:TEST1 -> no log -> **KO**
2 - try write TAG:TEST -> no log OK
3 - I configure TAG: TOTO, TEST, TEST1, and reload configuration
3 - try write TAG:TEST1 -> no log -> **KO**
3 - try wr

[2022-10-18 15:24] zulot commented on #304
The bug what i can reproduce is :  try to log with tag was not in configuration in FIRST.
After, add TAG in configuration, reload configuration, and try to log this TAG again -> result doesn't work.
I reproduce this with many TAG every time.

[2022-10-19 19:09] pmwmedia commented on #304
[code]

You have to use different properties names for both writers.

Correct would be:

[code]

[2022-10-21 13:35] zulot commented on #304
I don't understand.
I need only one writer.

How writerTag can be reload with his new tag, if it's not black hole ?

I do the same test with your configuration, first i use
writerTag.tag = TOTO, TEST
log tag : TEST1 -> no write : OK
After i use
writerTag.tag = TOTO, TEST, TEST1
i reload
log tag : TEST1 -> no write : **KO**

[2022-10-21 19:13] pmwmedia commented on #304
Block hole is a second dummy writer that does not output anything. However, it prevents any output optimizations that would make re-configuration impossible.

For me, it does work:

[code]
My example project: [example.zip](https://github.com/tinylog-org/tinylog/files/9841828/example.zip)

[2022-10-25 14:43] zulot commented on #304
Hi, thx for your example,
But i reproduce bug if you use the same file in debug mod of your example.

the reload properties seems doen't work

My application :

[code]

I put break point in all line : ReconfigurableLoggingProvider.reload("/tinylog-1.properties");

When programm stop i change properties file and i go next step, and it's doesn't work.

result file

After my test i use your applicati

[2022-10-31 19:47] pmwmedia commented on #304
If you want to change the tinylog configuration files during runtime, I propose to load them directly from the filesystem and not from the classpath. This should fix your issue that your file changes don't apply.

)

Sounds like your application is running multiple times simultaneously or the log file is opened in any editor that locks the file.

[2022-11-07 12:56] pmwmedia commented on #304
I will close this issue for now. If there is anything else, how I can support you using tinylog, please let me know.

[2022-11-07 12:56] #304 closed, assigned to pmwmedia

[2022-11-22 21:05] pmwmedia commented on #240
Implemented in the up-coming version 3.0

[2022-11-22 21:05] #240 closed, assigned to pmwmedia

[2022-11-22 21:07] pmwmedia commented on #252
Implemented in the up-coming version 3.0

[2022-11-22 21:07] #252 closed, assigned to pmwmedia

[2022-11-24 14:37] rsribeiro opened #326 "Can the animal-sniffer-annotations dependency scope be changed to "provided" on tinylog-impl?"
I was having trouble using tinylog in a modular java application because of this dependency, whose scope is set as "compile" in tinylog-impl's [pom.xml](https://github.com/tinylog-org/tinylog/blob/v2.6/tinylog-impl/pom.xml).

My problems were over once I forced the dependency to the "provided" scope. Since my application is small I don't know if this would have unintended side effects to bigger ap

[2022-11-24 20:34] pmwmedia commented on #326
I will change the scope in tinylog 3.6.0-M2

[2022-11-24 20:37] #326 closed, assigned to pmwmedia